USE [master]
GO
/****** Object:  Database [UDRZBA_SERVERU]    Script Date: 27. 2. 2019 15:05:27 ******/
CREATE DATABASE [UDRZBA_SERVERU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UDRZBA_SERVERU', FILENAME = N'E:\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\Data\UDRZBA_SERVERU.mdf' , SIZE = 2362368KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UDRZBA_SERVERU_log', FILENAME = N'F:\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\Data\UDRZBA_SERVERU_log.ldf' , SIZE = 525312KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UDRZBA_SERVERU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UDRZBA_SERVERU]
GO
/****** Object:  User [TCB_GROW_SQL]    Script Date: 27. 2. 2019 15:05:27 ******/
CREATE USER [TCB_GROW_SQL] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [app_PRAVA]    Script Date: 27. 2. 2019 15:05:27 ******/
CREATE USER [app_PRAVA] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [TCB_GROW_SQL]
GO
/****** Object:  Schema [monitor]    Script Date: 27. 2. 2019 15:05:27 ******/
CREATE SCHEMA [monitor]
GO
/****** Object:  UserDefinedFunction [monitor].[fnGetValueFromResource_description]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [monitor].[fnGetValueFromResource_description] (@key varchar(100), @string nvarchar(400))
RETURNS varchar(100)
AS
BEGIN
  DECLARE @Value varchar(100)
   IF @string like +'%'+@Key+'%'
	BEGIN
	 SET @Key = ' '+(@Key)

	 SELECT @Value = substring (@string,charindex(@key, @string),len(@string))
	 SELECT @Value = ltrim(rtrim( @Value))
 
	 IF (SELECT charindex(' ',@Value)) = 0
	  BEGIN
	   SELECT @Value = replace(@Value,@Key+'=','')
	  END
	ELSE
	  BEGIN
	   SELECT @Value = substring(@Value,1,charindex(' ',substring (@Value,charindex(@key,@Value),len(@Value)))-1)
	   SELECT @Value = replace(@Value,@Key+'=','')
	  END

	 SELECT @Value = replace(@Value,ltrim(rtrim(@Key))+'=','')
 	END
  return @Value
END


GO
/****** Object:  Table [dbo].[DBUdrzbaSnimky]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DBUdrzbaSnimky](
	[IDDBUdrzbaSnimky] [int] IDENTITY(1,1) NOT NULL,
	[idDatabase] [int] NULL,
	[DBName] [varchar](100) NULL,
	[SizeMb] [decimal](12, 2) NULL,
	[Disk] [varchar](2) NULL,
	[Physical_name] [varchar](100) NULL,
	[DtCreate] [datetime] NULL,
 CONSTRAINT [DBUdrzbaSnimky_PK] PRIMARY KEY CLUSTERED 
(
	[IDDBUdrzbaSnimky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 30) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISKSPACE]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISKSPACE](
	[LogicalName] [nvarchar](256) NULL,
	[Drive] [nvarchar](256) NULL,
	[FreeSpaceInMB] [int] NULL,
	[DtInsert] [smalldatetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLE]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLE](
	[Server Name] [nvarchar](128) NULL,
	[object_name] [nchar](128) NOT NULL,
	[instance_name] [nchar](128) NULL,
	[Page Life Expectancy] [bigint] NOT NULL,
	[dt] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE_prava]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE_prava](
	[role] [varchar](200) NULL,
	[DB] [varchar](200) NULL,
	[pravo] [varchar](200) NULL,
	[druh_prava] [varchar](50) NULL,
	[typ_prava] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SRV_Prava]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SRV_Prava](
	[user] [varchar](200) NULL,
	[DB] [varchar](200) NULL,
	[pravo] [varchar](200) NULL,
	[druh_prava] [varchar](50) NULL,
	[typ_prava] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VLFCOUNT]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLFCOUNT](
	[dbname] [sysname] NOT NULL,
	[vlfcount] [int] NULL,
	[database_id] [int] NOT NULL,
	[dtInsert] [smalldatetime] NOT NULL,
	[RowID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Index [ClusteredIndex_VLFCOUNT_RowID]    Script Date: 27. 2. 2019 15:05:27 ******/
CREATE CLUSTERED INDEX [ClusteredIndex_VLFCOUNT_RowID] ON [dbo].[VLFCOUNT]
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [monitor].[blocking_blocked]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [monitor].[blocking_blocked](
	[idblocking_blocked] [bigint] IDENTITY(1,1) NOT NULL,
	[blocking_session_id] [int] NULL,
	[blocked_session_id] [smallint] NOT NULL,
	[blocking_resource] [nvarchar](60) NULL,
	[wait_duration_ms] [bigint] NULL,
	[resource_description] [nvarchar](3072) NULL,
	[blocked_text] [nvarchar](max) NULL,
	[blocking_text] [nvarchar](max) NULL,
	[dtSnimek] [datetime] NULL,
	[database_id] [int] NULL,
 CONSTRAINT [blocking_blocked_PK] PRIMARY KEY CLUSTERED 
(
	[idblocking_blocked] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [monitor].[DeadlockTable]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [monitor].[DeadlockTable](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[ProcessInfo] [varchar](100) NULL,
	[Text] [varchar](2500) NULL,
	[TableAffected] [varchar](200) NULL,
 CONSTRAINT [PK_DeadlockTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [monitor].[DeadlockVictim]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [monitor].[DeadlockVictim](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[ProcessInfo] [varchar](100) NULL,
	[Text] [varchar](2500) NULL,
 CONSTRAINT [PK_DeadlockVictim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [monitor].[DeadockObject]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [monitor].[DeadockObject](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[ProcessInfo] [varchar](100) NULL,
	[Text] [varchar](5000) NULL,
 CONSTRAINT [PK_DeadockObject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [monitor].[DriveLevelLatency]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [monitor].[DriveLevelLatency](
	[Drive] [nvarchar](2) NULL,
	[Read Latency] [bigint] NULL,
	[Write Latency] [bigint] NULL,
	[Overall Latency] [bigint] NULL,
	[Avg Bytes/Read] [bigint] NULL,
	[Avg Bytes/Write] [bigint] NULL,
	[Avg Bytes/Transfer] [bigint] NULL,
	[dtSnimek] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [monitor].[SignalWaitTime]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [monitor].[SignalWaitTime](
	[TotalSignalWaitTime] [bigint] NULL,
	[PercentageSignalWaitsOfTotalTime] [numeric](38, 6) NULL,
	[dtSnimek] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [monitor].[SQL_IO_FileLatency]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [monitor].[SQL_IO_FileLatency](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[CurrentCaptureDate] [datetime2](7) NULL,
	[PreviousCaptureDate] [datetime2](7) NULL,
	[MinBetweenCaptures] [int] NULL,
	[DB] [nvarchar](128) NULL,
	[physical_name] [nvarchar](260) NOT NULL,
	[CurrentReadLatency] [int] NULL,
	[PreviousReadLatency] [int] NULL,
	[CurrentWriteLatency] [int] NULL,
	[PreviousWriteLatency] [int] NULL,
	[delta_io_stall_read] [int] NULL,
	[delta_num_of_reads] [int] NULL,
	[delta_io_stall_write] [int] NULL,
	[delta_num_of_writes] [int] NULL,
	[IntervalReadLatency] [int] NULL,
	[IntervalWriteLatency] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Index [CI_SQL_IO_FileLatency]    Script Date: 27. 2. 2019 15:05:27 ******/
CREATE CLUSTERED INDEX [CI_SQL_IO_FileLatency] ON [monitor].[SQL_IO_FileLatency]
(
	[CurrentCaptureDate] ASC,
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [monitor].[SQLskills_FileLatency]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [monitor].[SQLskills_FileLatency](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[CaptureID] [int] NOT NULL,
	[CaptureDate] [datetime2](7) NULL,
	[ReadLatency] [bigint] NULL,
	[WriteLatency] [bigint] NULL,
	[Latency] [bigint] NULL,
	[AvgBPerRead] [bigint] NULL,
	[AvgBPerWrite] [bigint] NULL,
	[AvgBPerTransfer] [bigint] NULL,
	[Drive] [nvarchar](2) NULL,
	[DB] [nvarchar](128) NULL,
	[database_id] [smallint] NOT NULL,
	[file_id] [smallint] NOT NULL,
	[sample_ms] [int] NOT NULL,
	[num_of_reads] [bigint] NOT NULL,
	[num_of_bytes_read] [bigint] NOT NULL,
	[io_stall_read_ms] [bigint] NOT NULL,
	[num_of_writes] [bigint] NOT NULL,
	[num_of_bytes_written] [bigint] NOT NULL,
	[io_stall_write_ms] [bigint] NOT NULL,
	[io_stall] [bigint] NOT NULL,
	[size_on_disk_MB] [numeric](25, 6) NULL,
	[file_handle] [varbinary](8) NOT NULL,
	[physical_name] [nvarchar](260) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [CI_SQLskills_FileLatency]    Script Date: 27. 2. 2019 15:05:27 ******/
CREATE CLUSTERED INDEX [CI_SQLskills_FileLatency] ON [monitor].[SQLskills_FileLatency]
(
	[CaptureDate] ASC,
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [monitor].[WaitsInDay]    Script Date: 27. 2. 2019 15:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [monitor].[WaitsInDay](
	[WaitType] [nvarchar](60) NULL,
	[Wait_S] [decimal](16, 2) NULL,
	[Resource_S] [decimal](16, 2) NULL,
	[Signal_S] [decimal](16, 2) NULL,
	[WaitCount] [bigint] NULL,
	[Percentage] [decimal](5, 2) NULL,
	[AvgWait_S] [decimal](16, 4) NULL,
	[AvgRes_S] [decimal](16, 4) NULL,
	[AvgSig_S] [decimal](16, 4) NULL,
	[Help/Info URL] [xml] NULL,
	[dtSnimek] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [monitor].[Who_blocking_blocked]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [monitor].[Who_blocking_blocked](
	[SPID] [int] NULL,
	[Status] [varchar](1000) NULL,
	[Login] [sysname] NULL,
	[HostName] [sysname] NULL,
	[BlkBy] [sysname] NULL,
	[DBName] [sysname] NULL,
	[Command] [varchar](1000) NULL,
	[CPUTime] [int] NULL,
	[DiskIO] [int] NULL,
	[LastBatch] [varchar](1000) NULL,
	[ProgramName] [varchar](1000) NULL,
	[SPID2] [int] NULL,
	[rEQUESTID] [int] NULL,
	[dtSnimek] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [monitor].[CPUUsageByDatabase]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get CPU utilization by database (Query 29) (CPU Usage by Database)
CREATE VIEW [monitor].[CPUUsageByDatabase] AS
WITH DB_CPU_Stats
AS
(SELECT DatabaseID, DB_Name(DatabaseID) AS [Database Name], SUM(total_worker_time) AS [CPU_Time_Ms]
 FROM sys.dm_exec_query_stats AS qs
 CROSS APPLY (SELECT CONVERT(int, value) AS [DatabaseID] 
              FROM sys.dm_exec_plan_attributes(qs.plan_handle)
              WHERE attribute = N'dbid') AS F_DB
 GROUP BY DatabaseID)
SELECT ROW_NUMBER() OVER(ORDER BY [CPU_Time_Ms] DESC) AS [CPU Rank],
       [Database Name], [CPU_Time_Ms] AS [CPU Time (ms)], 
       CAST([CPU_Time_Ms] * 1.0 / SUM([CPU_Time_Ms]) OVER() * 100.0 AS DECIMAL(5, 2)) AS [CPU Percent]
FROM DB_CPU_Stats
WHERE DatabaseID <> 32767 -- ResourceDB

GO
/****** Object:  View [monitor].[DatabaseProperties]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[DatabaseProperties] AS
SELECT db.[name] AS [Database Name], db.recovery_model_desc AS [Recovery Model], db.state_desc, 
db.log_reuse_wait_desc AS [Log Reuse Wait Description], 
CONVERT(DECIMAL(18,2), ls.cntr_value/1024.0) AS [Log Size (MB)], CONVERT(DECIMAL(18,2), lu.cntr_value/1024.0) AS [Log Used (MB)],
CAST(CAST(lu.cntr_value AS FLOAT) / CAST(ls.cntr_value AS FLOAT)AS DECIMAL(18,2)) * 100 AS [Log Used %], 
db.[compatibility_level] AS [DB Compatibility Level], 
db.page_verify_option_desc AS [Page Verify Option], db.is_auto_create_stats_on, db.is_auto_update_stats_on,
db.is_auto_update_stats_async_on, db.is_parameterization_forced, 
db.snapshot_isolation_state_desc, db.is_read_committed_snapshot_on,
db.is_auto_close_on, db.is_auto_shrink_on, db.target_recovery_time_in_seconds, db.is_cdc_enabled, 
db.is_query_store_on,                            -- added in SQL Server 2014 CTP1
db.is_memory_optimized_elevate_to_snapshot_on, db.delayed_durability_desc, db.is_auto_create_stats_incremental_on       -- added in SQL Server 2014 CTP2
FROM sys.databases AS db WITH (NOLOCK)
INNER JOIN sys.dm_os_performance_counters AS lu WITH (NOLOCK)
ON db.name = lu.instance_name
INNER JOIN sys.dm_os_performance_counters AS ls WITH (NOLOCK)
ON db.name = ls.instance_name
WHERE lu.counter_name LIKE N'Log File(s) Used Size (KB)%' 
AND ls.counter_name LIKE N'Log File(s) Size (KB)%'
AND ls.cntr_value > 0 

GO
/****** Object:  View [monitor].[IOUsageByDatabase]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get I/O utilization by database (Query 30) (IO Usage By Database)
CREATE VIEW [monitor].[IOUsageByDatabase] AS
WITH Aggregate_IO_Statistics
AS
(SELECT DB_NAME(database_id) AS [Database Name],
CAST(SUM(num_of_bytes_read + num_of_bytes_written)/1048576 AS DECIMAL(12, 2)) AS io_in_mb
FROM sys.dm_io_virtual_file_stats(NULL, NULL) AS [DM_IO_STATS]
GROUP BY database_id)
SELECT ROW_NUMBER() OVER(ORDER BY io_in_mb DESC) AS [I/O Rank], [Database Name], io_in_mb AS [Total I/O (MB)],
       CAST(io_in_mb/ SUM(io_in_mb) OVER() * 100.0 AS DECIMAL(5,2)) AS [I/O Percent]
FROM Aggregate_IO_Statistics

GO
/****** Object:  View [monitor].[QDbSize_Today]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[QDbSize_Today] AS
SELECT idDatabase,SUM(SizeMb) AS SizeMb  FROM [dbo].[DBUdrzbaSnimky]
WHERE CONVERT(SMALLDATETIME,CONVERT(VARCHAR,dtcreate,104),104)  = CONVERT(SMALLDATETIME,CONVERT(VARCHAR,GETDATE(),104),104) 
GROUP BY idDatabase

GO
/****** Object:  View [monitor].[QSQL_IO_FileLatency]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[QSQL_IO_FileLatency] AS
SELECT  DB,MAX(IntervalReadLatency)as IntervalReadLatency_MAX,max(IntervalWriteLatency)as IntervalWriteLatency_MAX FROM [UDRZBA_SERVERU].[monitor].[SQL_IO_FileLatency]
WHERE convert(smalldatetime,convert(varchar,CurrentCaptureDate,104),104) = convert(smalldatetime,convert(varchar,getdate(),104),104)
AND convert(smalldatetime,convert(varchar,PreviousCaptureDate,104),104) = convert(smalldatetime,convert(varchar,getdate(),104),104)
AND (IntervalReadLatency IS NOT NULL AND IntervalWriteLatency IS NOT NULL)
group BY db

GO
/****** Object:  View [monitor].[TotalBufferUsageByDatabase]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get total buffer usage by database for current instance  (Query 31) (Total Buffer Usage by Database)
CREATE VIEW [monitor].[TotalBufferUsageByDatabase] AS
WITH AggregateBufferPoolUsage
AS
(SELECT DB_NAME(database_id) AS [Database Name],
CAST(COUNT(*) * 8/1024.0 AS DECIMAL (10,2))  AS [CachedSize]
FROM sys.dm_os_buffer_descriptors WITH (NOLOCK)
WHERE database_id > 4 -- system databases
AND database_id <> 32767 -- ResourceDB
GROUP BY DB_NAME(database_id))
SELECT ROW_NUMBER() OVER(ORDER BY CachedSize DESC) AS [Buffer Pool Rank], [Database Name], CachedSize AS [Cached Size (MB)],
       CAST(CachedSize / SUM(CachedSize) OVER() * 100.0 AS DECIMAL(5,2)) AS [Buffer Pool Percent]
FROM AggregateBufferPoolUsage

GO
/****** Object:  View [monitor].[QDB_INFO]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[QDB_INFO] AS
SELECT VLF.database_id,
	   D.[Database Name]
      ,D.[Recovery Model]
      ,D.[state_desc]
     -- ,D.[Log Size (MB)]
      --,D.[Log Used (MB)]
      --,D.[Log Used %]
      ,D.[DB Compatibility Level]
      ,CASE WHEN D.[is_auto_shrink_on] = 0 THEN 'NO' ELSE 'YES' END AS is_auto_shrink_on
	  ,CONVERT (INT,S.SizeMb) AS ActualSizeMb
	  ,CPU.[CPU Percent] AS CPU_percent_consumer
	  ,CPU.[CPU Time (ms)]
	  ,I_O.[I/O Percent] AS IO_percent_consumer
	  ,I_o.[Total I/O (MB)]
	  ,B.[Buffer Pool Percent]
	  ,B.[Cached Size (MB)]
	  ,VLF.vlfcount
	  ,IO_LAT.IntervalReadLatency_max
	  ,IO_LAT.IntervalwriteLatency_max

  FROM [UDRZBA_SERVERU].[monitor].[DatabaseProperties] D
  LEFT JOIN [UDRZBA_SERVERU].[monitor].[CPUUsageByDatabase] CPU ON D.[Database Name] = CPU.[Database Name] COLLATE SQL_Czech_CP1250_CI_AS
  LEFT JOIN [UDRZBA_SERVERU].[monitor].[IOUsageByDatabase] I_O ON D.[Database Name] = I_O.[Database Name] COLLATE SQL_Czech_CP1250_CI_AS
  LEFT JOIN [UDRZBA_SERVERU].[monitor].[TotalBufferUsageByDatabase] B ON D.[Database Name] = B.[Database Name]COLLATE SQL_Czech_CP1250_CI_AS
  LEFT JOIN [UDRZBA_SERVERU].dbo.[VLFCOUNT] VLF ON D.[Database Name] = VLF.dbname COLLATE SQL_Czech_CP1250_CI_AS AND dtinsert = convert(smalldatetime,convert(varchar,getdate(),104),104) 
  LEFT JOIN [UDRZBA_SERVERU].[monitor].[QSQL_IO_FileLatency] IO_LAT ON D.[Database Name] = IO_LAT.db COLLATE SQL_Czech_CP1250_CI_AS
  LEFT JOIN [UDRZBA_SERVERU].[monitor].QDbSize_Today S ON vlf.database_id = S.idDatabase

GO
/****** Object:  View [monitor].[AvgTaskCounts]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get Average Task Counts (run multiple times)  (Query 35) (Avg Task Counts)
CREATE VIEW [monitor].[AvgTaskCounts] AS
SELECT AVG(current_tasks_count) AS [Avg Task Count], 
AVG(runnable_tasks_count) AS [Avg Runnable Task Count],
AVG(pending_disk_io_count) AS [Avg Pending DiskIO Count]
FROM sys.dm_os_schedulers WITH (NOLOCK)
WHERE scheduler_id < 255 

GO
/****** Object:  View [monitor].[MemoryGrantsPending]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Memory Grants Pending value for current instance  (Query 40) (Memory Grants Pending)
CREATE VIEW [monitor].[MemoryGrantsPending] AS
SELECT @@SERVERNAME AS [Server Name], [object_name], cntr_value AS [Memory Grants Pending]                                                                                                       
FROM sys.dm_os_performance_counters WITH (NOLOCK)
WHERE [object_name] LIKE N'%Memory Manager%' -- Handles named instances
AND counter_name = N'Memory Grants Pending'

GO
/****** Object:  View [monitor].[ProcessMemory]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[ProcessMemory] AS
SELECT physical_memory_in_use_kb/1024 AS [SQL Server Memory Usage (MB)],
       large_page_allocations_kb, locked_page_allocations_kb, page_fault_count, 
    memory_utilization_percentage, available_commit_limit_kb, 
    process_physical_memory_low, process_virtual_memory_low
FROM sys.dm_os_process_memory WITH (NOLOCK) 

GO
/****** Object:  View [monitor].[Qblocking_blocked_Today]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[Qblocking_blocked_Today] AS
SELECT 
B.*,
D.name as DbName,
ISNULL(ISNULL(O.name,OBJECT_NAME(P.object_id)),SO.name) as ObjName,
[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('hobtid', resource_description) as hobtid,
[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('objid', resource_description) as [objid],
[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('pageid', resource_description) as [pageid],
'select OBJECT_NAME(object_id) from '+D.name+'.sys.partitions where hobt_id = '+[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('hobtid', resource_description) AS SEL
FROM [UDRZBA_SERVERU].[monitor].[blocking_blocked](nolock) B 
JOIN master.sys.sysdatabases D ON B.database_id = D.dbid
LEFT JOIN master.sys.Objects O ON [UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('objid', B.resource_description)= O.object_id
LEFT JOIN sys.partitions P ON  [UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('hobtid', B.resource_description) = P.hobt_id
LEFT JOIN sys.sysobjects SO ON [UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('objid', B.resource_description)= SO.id
WHERE dtsnimek > convert(smalldatetime,convert(varchar,getdate(),104),104)

GO
/****** Object:  View [monitor].[QWho_blocking_blocked_Today]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[QWho_blocking_blocked_Today] AS
SELECT * FROM [UDRZBA_SERVERU].[monitor].[Who_blocking_blocked]
where dtsnimek > convert(smalldatetime,convert(varchar,getdate(),104),104)

GO
/****** Object:  View [monitor].[SignalWaits]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Signal Waits for instance  (Query 33) (Signal Waits)
CREATE VIEW [monitor].[SignalWaits] AS
SELECT CAST(100.0 * SUM(signal_wait_time_ms) / SUM (wait_time_ms) AS NUMERIC(20,2)) 
AS [% Signal (CPU) Waits],
CAST(100.0 * SUM(wait_time_ms - signal_wait_time_ms) / SUM (wait_time_ms) AS NUMERIC(20,2)) 
AS [% Resource Waits]
FROM sys.dm_os_wait_stats WITH (NOLOCK) 
-- Signal Waits above 15-20% is usually a sign of CPU pressure

GO
/****** Object:  View [monitor].[SystemMemory]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Good basic information about OS memory amounts and state  (Query 37) (System Memory)
CREATE VIEW [monitor].[SystemMemory] AS
SELECT total_physical_memory_kb/1024 AS [Physical Memory (MB)], 
       available_physical_memory_kb/1024 AS [Available Memory (MB)], 
       total_page_file_kb/1024 AS [Total Page File (MB)], 
    available_page_file_kb/1024 AS [Available Page File (MB)], 
    system_cache_kb/1024 AS [System Cache (MB)],
       system_memory_state_desc AS [System Memory State]
FROM sys.dm_os_sys_memory WITH (NOLOCK) 

GO
/****** Object:  View [monitor].[Volume Info]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[Volume Info] AS
SELECT DISTINCT vs.volume_mount_point, vs.file_system_type, 
vs.logical_volume_name, CONVERT(DECIMAL(18,2),vs.total_bytes/1073741824.0) AS [Total Size (GB)],
CONVERT(DECIMAL(18,2),vs.available_bytes/1073741824.0) AS [Available Size (GB)],  
CAST(CAST(vs.available_bytes AS FLOAT)/ CAST(vs.total_bytes AS FLOAT) AS DECIMAL(18,2)) * 100 AS [Space Free %] 
FROM sys.master_files AS f WITH (NOLOCK)
CROSS APPLY sys.dm_os_volume_stats(f.database_id, f.[file_id]) AS vs 

GO
/****** Object:  View [monitor].[QCheckSQLInstance]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[QCheckSQLInstance] AS
SELECT 
'Memory Grants Pending above zero for a sustained period is a very strong indicator of memory pressure' AS MSG,
CONVERT(VARCHAR,[Memory Grants Pending]) AS value 
FROM [UDRZBA_SERVERU].[monitor].[MemoryGrantsPending]
WHERE [Memory Grants Pending] > 0
UNION
SELECT 
'This indicates that you are not under internal memory pressure' AS MSG,
CASE WHEN process_physical_memory_low = 1 THEN 'process_physical_memory_low'
	 WHEN process_virtual_memory_low = 1 THEN 'process_virtual_memory_low'
	 WHEN process_virtual_memory_low = 1 AND process_physical_memory_low = 1 THEN 'process_physical_memory_low + process_virtual_memory_low'
	 END AS value 
FROM [UDRZBA_SERVERU].[monitor].[ProcessMemory]
WHERE process_physical_memory_low = 1 OR process_virtual_memory_low = 1
UNION
SELECT 
'This indicates that you are not under external memory pressure'AS MSG,
CONVERT(VARCHAR,[System Memory State]) AS value
FROM [UDRZBA_SERVERU].[monitor].[SystemMemory]
WHERE [System Memory State] <>'Available physical memory is high'
UNION
SELECT 
'High Avg Task Counts are often caused by blocking or other resource contention'AS MSG,
CONVERT(VARCHAR,[Avg Task Count]) AS value  
FROM [UDRZBA_SERVERU].[monitor].[AvgTaskCounts]
WHERE [Avg Task Count] > 10
UNION
SELECT 
'High Avg Runnable Task Counts are a good sign of CPU pressure'AS MSG,
CONVERT(VARCHAR,[Avg Runnable Task Count]) AS value  
FROM [UDRZBA_SERVERU].[monitor].[AvgTaskCounts]
WHERE [Avg Runnable Task Count] > 10
UNION
SELECT 
'High Avg Pending DiskIO Counts are a sign of disk pressure'AS MSG,
CONVERT(VARCHAR,[Avg Pending DiskIO Count]) AS value  
FROM [UDRZBA_SERVERU].[monitor].[AvgTaskCounts]
WHERE [Avg Pending DiskIO Count] > 10
UNION
SELECT 
'Signal Waits above 15-20% is usually a sign of CPU pressure' AS MSG,
CONVERT(VARCHAR,[% Signal (CPU) Waits]) AS value 
FROM [UDRZBA_SERVERU].[monitor].[SignalWaits]
WHERE [% Signal (CPU) Waits] > 15
UNION
SELECT 
'Latency above 20-25ms is usually a problem' AS MSG,
CASE WHEN intervalReadLatency_MAX > 25 THEN 'Database ['+DB+']   (intervalReadLatency_MAX) = '+CONVERT(VARCHAR,intervalReadLatency_MAX) ELSE '' END +'  '+
CASE WHEN IntervalWriteLatency_MAX > 25 THEN 'Database ['+DB+']   (IntervalWriteLatency_MAX) = '+CONVERT(VARCHAR,IntervalWriteLatency_MAX)ELSE ''
	 END AS value
FROM [UDRZBA_SERVERU].[monitor].[QSQL_IO_FileLatency]
WHERE intervalReadLatency_MAX > 25 OR IntervalWriteLatency_MAX > 25
UNION
SELECT 
'Today in  ('+CONVERT(VARCHAR,dtSnimek,114)+')   exists blocking_blocked proceses' AS MSG ,
CONVERT(VARCHAR,COUNT(*))COLLATE SQL_Czech_CP1250_CI_AS AS value
FROM [UDRZBA_SERVERU].[monitor].[QWho_blocking_blocked_Today]
GROUP BY dtSnimek
UNION
SELECT 
'Volume info ('+volume_mount_point+')  low avaliable size (GB) = ' +CONVERT(VARCHAR,[Available Size (GB)]) AS MSG,
CONVERT(VARCHAR,[Space Free %])+'%' AS value
FROM [monitor].[Volume Info]
WHERE [Space Free %] <= 5
UNION
SELECT 'Today exists blocking_blocked proceses' AS MSG,
'Check BLOKACE bookmark'AS value
FROM [UDRZBA_SERVERU].[monitor].[Qblocking_blocked_Today]


GO
/****** Object:  View [monitor].[ConnectionCountsByIPAddress]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Get a count of SQL connections by IP address (Query 35) (Connection Counts by IP Address)
CREATE VIEW [monitor].[ConnectionCountsByIPAddress] AS
SELECT ec.client_net_address, es.[program_name], es.[host_name], es.login_name, 
COUNT(ec.session_id) AS [connection count] 
FROM sys.dm_exec_sessions AS es WITH (NOLOCK) 
INNER JOIN sys.dm_exec_connections AS ec WITH (NOLOCK) 
ON es.session_id = ec.session_id 
GROUP BY ec.client_net_address, es.[program_name], es.[host_name], es.login_name  

GO
/****** Object:  View [monitor].[DatabaseFilenamesAndPaths]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[DatabaseFilenamesAndPaths] AS
SELECT DB_NAME(database_id) AS [Database Name], 
       [file_id], name AS [Logical Name], physical_name, type_desc, state_desc, 
    is_percent_growth, growth,
       CONVERT(bigint, size/128.0) AS [Total Size in MB],
    CONVERT(DECIMAL(18,2), size/131072.0) AS [Total Size in GB]
FROM sys.master_files WITH (NOLOCK)
WHERE database_id > 4 
AND database_id <> 32767
OR database_id = 2

GO
/****** Object:  View [monitor].[DriveLevelLatencyActual]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[DriveLevelLatencyActual] AS
SELECT [Drive],
 CASE 
  WHEN num_of_reads = 0 THEN 0 
  ELSE (io_stall_read_ms/num_of_reads) 
 END AS [Read Latency],
 CASE 
  WHEN io_stall_write_ms = 0 THEN 0 
  ELSE (io_stall_write_ms/num_of_writes) 
 END AS [Write Latency],
 CASE 
  WHEN (num_of_reads = 0 AND num_of_writes = 0) THEN 0 
  ELSE (io_stall/(num_of_reads + num_of_writes)) 
 END AS [Overall Latency],
 CASE 
  WHEN num_of_reads = 0 THEN 0 
  ELSE (num_of_bytes_read/num_of_reads) 
 END AS [Avg Bytes/Read],
 CASE 
  WHEN io_stall_write_ms = 0 THEN 0 
  ELSE (num_of_bytes_written/num_of_writes) 
 END AS [Avg Bytes/Write],
 CASE 
  WHEN (num_of_reads = 0 AND num_of_writes = 0) THEN 0 
  ELSE ((num_of_bytes_read + num_of_bytes_written)/(num_of_reads + num_of_writes)) 
 END AS [Avg Bytes/Transfer]
FROM (SELECT LEFT(mf.physical_name, 2) AS Drive, SUM(num_of_reads) AS num_of_reads,
          SUM(io_stall_read_ms) AS io_stall_read_ms, SUM(num_of_writes) AS num_of_writes,
          SUM(io_stall_write_ms) AS io_stall_write_ms, SUM(num_of_bytes_read) AS num_of_bytes_read,
          SUM(num_of_bytes_written) AS num_of_bytes_written, SUM(io_stall) AS io_stall
      FROM sys.dm_io_virtual_file_stats(NULL, NULL) AS vfs
      INNER JOIN sys.master_files AS mf WITH (NOLOCK)
      ON vfs.database_id = mf.database_id AND vfs.file_id = mf.file_id
      GROUP BY LEFT(mf.physical_name, 2)) AS tab

GO
/****** Object:  View [monitor].[HardwareInfo]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[HardwareInfo] AS
SELECT cpu_count AS [Logical CPU Count], scheduler_count, hyperthread_ratio AS [Hyperthread Ratio],
cpu_count/hyperthread_ratio AS [Physical CPU Count], 
physical_memory_kb/1024 AS [Physical Memory (MB)], committed_kb/1024 AS [Committed Memory (MB)],
committed_target_kb/1024 AS [Committed Target Memory (MB)],
max_workers_count AS [Max Workers Count], affinity_type_desc AS [Affinity Type], 
sqlserver_start_time AS [SQL Server Start Time], virtual_machine_type_desc AS [Virtual Machine Type]  
FROM sys.dm_os_sys_info WITH (NOLOCK)

GO
/****** Object:  View [monitor].[InstanceConfigurationValues]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[InstanceConfigurationValues] AS
SELECT name, value, value_in_use, minimum, maximum, [description], is_dynamic, is_advanced
FROM sys.configurations WITH (NOLOCK)

GO
/****** Object:  View [monitor].[IOStallByDb]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [monitor].[IOStallByDb] AS
SELECT 
A.DB,
A.ReadLatency,
A.lastMesReadAction,
B.WriteLatency,
B.lastMesWriteAction 

FROM (
		SELECT 
		DB,
		sum(IntervalReadLatency)/count(*) as ReadLatency,
		max(CurrentCaptureDate) as lastMesReadAction
		FROM [UDRZBA_SERVERU].[monitor].[SQL_IO_FileLatency]
		WHERE IntervalReadLatency IS NOT NULL
		GROUP BY DB
	 ) AS A
JOIN
	(
		SELECT 
		DB,
		sum(IntervalWriteLatency)/count(*) as WriteLatency,  
		max(CurrentCaptureDate) as lastMesWriteAction
		FROM [UDRZBA_SERVERU].[monitor].[SQL_IO_FileLatency]
		WHERE IntervalWriteLatency IS NOT NULL
		GROUP BY DB
	) AS B
ON A.DB = B.DB

GO
/****** Object:  View [monitor].[IOStallsByFile]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Calculates average stalls per read, per write, and per total input/output for each database file  (Query 28) (IO Stalls by File)
CREATE VIEW [monitor].[IOStallsByFile] AS
SELECT DB_NAME(fs.database_id) AS [Database Name], CONVERT(DECIMAL(18,2), mf.size/128.0) AS [File Size (MB)], 
mf.physical_name, io_stall_read_ms, num_of_reads, CAST(io_stall_read_ms/(1.0 + num_of_reads) AS NUMERIC(10,1)) AS [avg_read_stall_ms],
io_stall_write_ms, num_of_writes,CAST(io_stall_write_ms/(1.0+num_of_writes) AS NUMERIC(10,1)) AS [avg_write_stall_ms],
io_stall_read_ms + io_stall_write_ms AS [io_stalls], num_of_reads + num_of_writes AS [total_io],
CAST((io_stall_read_ms + io_stall_write_ms)/(1.0 + num_of_reads + num_of_writes) AS NUMERIC(10,1)) 
AS [avg_io_stall_ms]
FROM sys.dm_io_virtual_file_stats(null,null) AS fs
INNER JOIN sys.master_files AS mf WITH (NOLOCK)
ON fs.database_id = mf.database_id
AND fs.[file_id] = mf.[file_id]

GO
/****** Object:  View [monitor].[MemoryClerkUsage]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Memory Clerk Usage for instance  (Query 41) (Memory Clerk Usage)
-- Look for high value for CACHESTORE_SQLCP (Ad-hoc query plans)
CREATE VIEW [monitor].[MemoryClerkUsage] AS
SELECT  [type] AS [Memory Clerk Type], 
       SUM(pages_kb)/1024 AS [Memory Usage (MB)] 
FROM sys.dm_os_memory_clerks WITH (NOLOCK)
GROUP BY [type]  

GO
/****** Object:  View [monitor].[Qblocking_blocked]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[Qblocking_blocked] AS
SELECT 
B.*,
D.name as DbName,
ISNULL(ISNULL(O.name,OBJECT_NAME(P.object_id)),SO.name) as ObjName,
[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('hobtid', resource_description) as hobtid,
[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('objid', resource_description) as [objid],
[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('pageid', resource_description) as [pageid],
'select OBJECT_NAME(object_id) from '+D.name+'.sys.partitions where hobt_id = '+[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('hobtid', resource_description) AS SEL
FROM [UDRZBA_SERVERU].[monitor].[blocking_blocked](nolock) B 
JOIN master.sys.sysdatabases D ON B.database_id = D.dbid
LEFT JOIN master.sys.Objects O ON [UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('objid', B.resource_description)= O.object_id
LEFT JOIN sys.partitions P ON  [UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('hobtid', B.resource_description) = P.hobt_id
LEFT JOIN sys.sysobjects SO ON [UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('objid', B.resource_description)= SO.id

GO
/****** Object:  View [monitor].[Qblocking_blocked_Last14days]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[Qblocking_blocked_Last14days] AS
SELECT 
B.*,
D.name as DbName,
ISNULL(ISNULL(O.name,OBJECT_NAME(P.object_id)),SO.name) as ObjName,
[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('hobtid', resource_description) as hobtid,
[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('objid', resource_description) as [objid],
[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('pageid', resource_description) as [pageid],
'select OBJECT_NAME(object_id) from '+D.name+'.sys.partitions where hobt_id = '+[UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('hobtid', resource_description) AS SEL
FROM [UDRZBA_SERVERU].[monitor].[blocking_blocked](nolock) B 
JOIN master.sys.sysdatabases D ON B.database_id = D.dbid
LEFT JOIN master.sys.Objects O ON [UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('objid', B.resource_description)= O.object_id
LEFT JOIN sys.partitions P ON  [UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('hobtid', B.resource_description) = P.hobt_id
LEFT JOIN sys.sysobjects SO ON [UDRZBA_SERVERU].[monitor].[fnGetValueFromResource_description] ('objid', B.resource_description)= SO.id
WHERE dtsnimek > convert(smalldatetime,convert(varchar,getdate(),104),104)-14

GO
/****** Object:  View [monitor].[QDriveLevelLatency_PerDays]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [monitor].[QDriveLevelLatency_PerDays] AS
Select 
Drive,
[Read Latency],
[Write Latency],
[Overall Latency],
[Avg Bytes/Read],
[Avg Bytes/Write],
[Avg Bytes/Transfer],
convert(smalldatetime,convert(varchar,dtsnimek,104),104) as dtsnimek 
from [monitor].[DriveLevelLatency]


GO
/****** Object:  View [monitor].[QSQL_IO_FileLatency_PerDays]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [monitor].[QSQL_IO_FileLatency_PerDays] AS
SELECT  
convert(smalldatetime,convert(varchar,CurrentCaptureDate,104),104) as CaptureDate,
DB,
MAX(IntervalReadLatency)as IntervalReadLatency_MAX,
max(IntervalWriteLatency)as IntervalWriteLatency_MAX 
FROM [UDRZBA_SERVERU].[monitor].[SQL_IO_FileLatency]
WHERE IntervalReadLatency IS NOT NULL 
AND IntervalWriteLatency IS NOT NULL
group BY db ,convert(smalldatetime,convert(varchar,CurrentCaptureDate,104),104)


GO
/****** Object:  View [monitor].[QWaits_ToDay]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[QWaits_ToDay] AS
WITH [Waits] AS
				(SELECT
					[wait_type],
					[wait_time_ms] / 1000.0 AS [WaitS],
					([wait_time_ms] - [signal_wait_time_ms]) / 1000.0 AS [ResourceS],
					[signal_wait_time_ms] / 1000.0 AS [SignalS],
					[waiting_tasks_count] AS [WaitCount],
				   100.0 * [wait_time_ms] / SUM ([wait_time_ms]) OVER() AS [Percentage],
					ROW_NUMBER() OVER(ORDER BY [wait_time_ms] DESC) AS [RowNum],
					getdate() as dtsnimek

				FROM sys.dm_os_wait_stats
				WHERE [wait_type] NOT IN (
					N'BROKER_EVENTHANDLER', N'BROKER_RECEIVE_WAITFOR',
					N'BROKER_TASK_STOP', N'BROKER_TO_FLUSH',
					N'BROKER_TRANSMITTER', N'CHECKPOINT_QUEUE',
					N'CHKPT', N'CLR_AUTO_EVENT',
					N'CLR_MANUAL_EVENT', N'CLR_SEMAPHORE',
 
					-- Maybe uncomment these four if you have mirroring issues
					N'DBMIRROR_DBM_EVENT', N'DBMIRROR_EVENTS_QUEUE',
					N'DBMIRROR_WORKER_QUEUE', N'DBMIRRORING_CMD',
 
					N'DIRTY_PAGE_POLL', N'DISPATCHER_QUEUE_SEMAPHORE',
					N'EXECSYNC', N'FSAGENT',
					N'FT_IFTS_SCHEDULER_IDLE_WAIT', N'FT_IFTSHC_MUTEX',
 
					-- Maybe uncomment these six if you have AG issues
					N'HADR_CLUSAPI_CALL', N'HADR_FILESTREAM_IOMGR_IOCOMPLETION',
					N'HADR_LOGCAPTURE_WAIT', N'HADR_NOTIFICATION_DEQUEUE',
					N'HADR_TIMER_TASK', N'HADR_WORK_QUEUE',
 
					N'KSOURCE_WAKEUP', N'LAZYWRITER_SLEEP',
					N'LOGMGR_QUEUE', N'MEMORY_ALLOCATION_EXT',
					N'ONDEMAND_TASK_QUEUE',
					N'PREEMPTIVE_XE_GETTARGETSTATE',
					N'PWAIT_ALL_COMPONENTS_INITIALIZED',
					N'PWAIT_DIRECTLOGCONSUMER_GETNEXT',
					N'QDS_PERSIST_TASK_MAIN_LOOP_SLEEP', N'QDS_ASYNC_QUEUE',
					N'QDS_CLEANUP_STALE_QUERIES_TASK_MAIN_LOOP_SLEEP',
					N'QDS_SHUTDOWN_QUEUE', N'REDO_THREAD_PENDING_WORK',
					N'REQUEST_FOR_DEADLOCK_SEARCH', N'RESOURCE_QUEUE',
					N'SERVER_IDLE_CHECK', N'SLEEP_BPOOL_FLUSH',
					N'SLEEP_DBSTARTUP', N'SLEEP_DCOMSTARTUP',
					N'SLEEP_MASTERDBREADY', N'SLEEP_MASTERMDREADY',
					N'SLEEP_MASTERUPGRADED', N'SLEEP_MSDBSTARTUP',
					N'SLEEP_SYSTEMTASK', N'SLEEP_TASK',
					N'SLEEP_TEMPDBSTARTUP', N'SNI_HTTP_ACCEPT',
					N'SP_SERVER_DIAGNOSTICS_SLEEP', N'SQLTRACE_BUFFER_FLUSH',
					N'SQLTRACE_INCREMENTAL_FLUSH_SLEEP',
					N'SQLTRACE_WAIT_ENTRIES', N'WAIT_FOR_RESULTS',
					N'WAITFOR', N'WAITFOR_TASKSHUTDOWN',
					N'WAIT_XTP_RECOVERY',
					N'WAIT_XTP_HOST_WAIT', N'WAIT_XTP_OFFLINE_CKPT_NEW_LOG',
					N'WAIT_XTP_CKPT_CLOSE', N'XE_DISPATCHER_JOIN',
					N'XE_DISPATCHER_WAIT', N'XE_TIMER_EVENT')
				AND [waiting_tasks_count] > 0
             )

SELECT
    MAX ([W1].[wait_type]) AS [WaitType],
    CAST (MAX ([W1].[WaitS]) AS DECIMAL (16,2)) AS [Wait_S],
    CAST (MAX ([W1].[ResourceS]) AS DECIMAL (16,2)) AS [Resource_S],
    CAST (MAX ([W1].[SignalS]) AS DECIMAL (16,2)) AS [Signal_S],
    MAX ([W1].[WaitCount]) AS [WaitCount],
    CAST (MAX ([W1].[Percentage]) AS DECIMAL (5,2)) AS [Percentage],
    CAST ((MAX ([W1].[WaitS]) / MAX ([W1].[WaitCount])) AS DECIMAL (16,4)) AS [AvgWait_S],
    CAST ((MAX ([W1].[ResourceS]) / MAX ([W1].[WaitCount])) AS DECIMAL (16,4)) AS [AvgRes_S],
    CAST ((MAX ([W1].[SignalS]) / MAX ([W1].[WaitCount])) AS DECIMAL (16,4)) AS [AvgSig_S],
    CAST ('https://www.sqlskills.com/help/waits/' + MAX ([W1].[wait_type]) as XML) AS [Help/Info URL],
	GETDATE() AS dtaktual
FROM [Waits] AS [W1]
INNER JOIN [Waits] AS [W2]
    ON [W2].[RowNum] <= [W1].[RowNum]
GROUP BY [W1].[RowNum]
HAVING SUM ([W2].[Percentage]) - MAX( [W1].[Percentage] ) < 95; -- percentage threshold

GO
/****** Object:  View [monitor].[QWho_blocking_blocked]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[QWho_blocking_blocked] AS
SELECT * FROM [UDRZBA_SERVERU].[monitor].[Who_blocking_blocked]

GO
/****** Object:  View [monitor].[QWho_blocking_blocked_Last14days]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[QWho_blocking_blocked_Last14days] AS
SELECT * FROM [UDRZBA_SERVERU].[monitor].[Who_blocking_blocked]
where dtsnimek > convert(smalldatetime,convert(varchar,getdate(),104),104)-14

GO
/****** Object:  View [monitor].[ServerProperties]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[ServerProperties] AS
SELECT SERVERPROPERTY('MachineName') AS [MachineName], SERVERPROPERTY('ServerName') AS [ServerName],  
SERVERPROPERTY('InstanceName') AS [Instance], SERVERPROPERTY('IsClustered') AS [IsClustered], 
SERVERPROPERTY('ComputerNamePhysicalNetBIOS') AS [ComputerNamePhysicalNetBIOS], 
SERVERPROPERTY('Edition') AS [Edition], SERVERPROPERTY('ProductLevel') AS [ProductLevel], 
SERVERPROPERTY('ProductVersion') AS [ProductVersion], SERVERPROPERTY('ProcessID') AS [ProcessID],
SERVERPROPERTY('Collation') AS [Collation], SERVERPROPERTY('IsFullTextInstalled') AS [IsFullTextInstalled], 
SERVERPROPERTY('IsIntegratedSecurityOnly') AS [IsIntegratedSecurityOnly],
SERVERPROPERTY('IsHadrEnabled') AS [IsHadrEnabled], SERVERPROPERTY('HadrManagerStatus') AS [HadrManagerStatus],
SERVERPROPERTY('IsXTPSupported') AS [IsXTPSupported];

GO
/****** Object:  View [monitor].[SessionCount]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  Get logins that are connected and how many sessions they have (Query 34) (Connection Counts)
CREATE VIEW [monitor].[SessionCount] AS
SELECT login_name, [program_name], COUNT(session_id) AS [session_count] 
FROM sys.dm_exec_sessions WITH (NOLOCK)
GROUP BY login_name, [program_name]

GO
/****** Object:  View [monitor].[SQLServer_And_OSVersionInfo]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[SQLServer_And_OSVersionInfo] AS
SELECT @@SERVERNAME AS [Server Name], @@VERSION AS [SQL Server and OS Version Info];


GO
/****** Object:  View [monitor].[SQLServerAgentJobs]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[SQLServerAgentJobs] AS
SELECT sj.name AS [JobName], sj.[description] AS [JobDescription], SUSER_SNAME(sj.owner_sid) AS [JobOwner],
sj.date_created, sj.[enabled], sj.notify_email_operator_id, sc.name AS [CategoryName]
FROM msdb.dbo.sysjobs AS sj WITH (NOLOCK)
INNER JOIN msdb.dbo.syscategories AS sc WITH (NOLOCK)
ON sj.category_id = sc.category_id

GO
/****** Object:  View [monitor].[SQLServerErrorLogDefinition]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[SQLServerErrorLogDefinition] AS
SELECT is_enabled, [path], max_size, max_files
FROM sys.dm_os_server_diagnostics_log_configurations WITH (NOLOCK) 

GO
/****** Object:  View [monitor].[SQLServerInstallDate]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[SQLServerInstallDate] AS
SELECT @@SERVERNAME AS [Server Name], createdate AS [SQL Server Install Date]  
FROM sys.syslogins 
WHERE loginname = N'NT AUTHORITY\SYSTEM'
OR loginname = N'NT AUTHORITY\NETWORK SERVICE';


GO
/****** Object:  View [monitor].[SQLServerServicesInfo]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[SQLServerServicesInfo] AS
SELECT servicename, process_id, startup_type_desc, status_desc, 
last_startup_time, service_account, is_clustered, cluster_nodename, [filename]
FROM sys.dm_server_services WITH (NOLOCK) 

GO
/****** Object:  View [monitor].[TCPListenerStates]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[TCPListenerStates] AS
SELECT listener_id, ip_address, is_ipv4, port, type_desc, state_desc, start_time
FROM sys.dm_tcp_listener_states WITH (NOLOCK) 

GO
/****** Object:  View [monitor].[TempDBFileInfo]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[TempDBFileInfo] AS
SELECT files.physical_name, files.name, 
  stats.num_of_writes, (1.0 * stats.io_stall_write_ms / stats.num_of_writes) AS avg_write_stall_ms,
  stats.num_of_reads, (1.0 * stats.io_stall_read_ms / stats.num_of_reads) AS avg_read_stall_ms
FROM sys.dm_io_virtual_file_stats(2, NULL) as stats
INNER JOIN master.sys.master_files AS files 
  ON stats.database_id = files.database_id
  AND stats.file_id = files.file_id
WHERE files.type_desc = 'ROWS'

GO
/****** Object:  View [monitor].[WindowsInfo]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [monitor].[WindowsInfo] AS
SELECT windows_release, windows_service_pack_level, 
       windows_sku, os_language_version
FROM sys.dm_os_windows_info WITH (NOLOCK)

GO
/****** Object:  Index [CX_Blocked_session_id]    Script Date: 27. 2. 2019 15:05:28 ******/
CREATE NONCLUSTERED INDEX [CX_Blocked_session_id] ON [monitor].[blocking_blocked]
(
	[blocked_session_id] ASC,
	[dtSnimek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NCI_SQL_IO_FileLatency]    Script Date: 27. 2. 2019 15:05:28 ******/
CREATE NONCLUSTERED INDEX [NCI_SQL_IO_FileLatency] ON [monitor].[SQL_IO_FileLatency]
(
	[CurrentCaptureDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NCI_SQLskills_FileLatency]    Script Date: 27. 2. 2019 15:05:28 ******/
CREATE NONCLUSTERED INDEX [NCI_SQLskills_FileLatency] ON [monitor].[SQLskills_FileLatency]
(
	[CaptureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ZM_GetPermissions]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ZM_GetPermissions]
AS
TRUNCATE TABLE SRV_Prava
/*CREATE TABLE SRV_Prava ([user] VARCHAR(200),
						 [DB] VARCHAR(200),
					     [pravo] VARCHAR(200),
						 [druh_prava] VARCHAR(50),
					     [typ_prava] VARCHAR(10))
*/
--serverové role
CREATE TABLE #POM (ServerRole VARCHAR(30),
				   MemberName VARCHAR(60),
				   MemberSID VARBINARY(85))
INSERT INTO #POM exec sp_helpsrvrolemember

INSERT INTO [dbo].[SRV_Prava] ([user], pravo, druh_prava) 
	 SELECT [dbo].[#POM].[MemberName], [dbo].[#POM].[ServerRole], 'SERVER_ROLE'
	   FROM #POM
DROP TABLE #POM
--databázové role
INSERT INTO SRV_Prava ([DB], [pravo], [user], druh_prava) exec sp_msForEachDb ' use [?] 
select db_name() as [DB], r.[name] as [permission], p.[name] as [user], ''DATABASE_ROLE'' from  
    sys.database_role_members m 
join 
    sys.database_principals r on m.role_principal_id = r.principal_id 
join 
    sys.database_principals p on m.member_principal_id = p.principal_id 
'
--databázové objekty
INSERT INTO SRV_prava ([user], DB, pravo, druh_prava, typ_prava) exec sp_msForEachDb ' use [?]
SELECT database_principals.NAME  as [user], db_name() as [DB],  CASE database_permissions.class_desc
        WHEN ''SCHEMA''
            THEN ''['' + schema_name(major_id) + '']''
        WHEN ''OBJECT_OR_COLUMN''
            THEN CASE 
                    WHEN minor_id = 0
                        THEN''[''+OBJECT_SCHEMA_NAME(major_id) + ''].'' + ''['' + object_name(major_id) + '']'' COLLATE Latin1_General_CI_AS_KS_WS
                    ELSE (
                            SELECT object_name(object_id) + '' ('' + NAME + '')''
                            FROM sys.columns
                            WHERE object_id = database_permissions.major_id
                                AND column_id = database_permissions.minor_id
                            )
                    END
        ELSE ''other''
        END as pravo , sys.objects.type_desc as druh_prava, database_permissions.permission_name as typ_prava
FROM sys.database_permissions
JOIN sys.database_principals ON database_permissions.grantee_principal_id = database_principals.principal_id
LEFT JOIN sys.objects --left because it is possible that it is a schema
    ON objects.object_id = database_permissions.major_id
WHERE database_permissions.major_id > 0
    AND permission_name IN (
        ''SELECT''
        ,''INSERT''
        ,''UPDATE''
        ,''DELETE''
        ,''EXECUTE''
        )
	AND database_principals.type_desc NOT LIKE ''DATABASE_ROLE'''
INSERT INTO SRV_Prava ([user]) SELECT NAME COLLATE SQL_Czech_CP1250_CI_AS FROM SYS.SYSLOGINS  EXCEPT SELECT DISTINCT [user] FROM SRV_Prava GROUP BY [user]

SELECT * FROM SRV_Prava
/*DROP TABLE #POM
DROP TABLE SRV_prava*/

TRUNCATE TABLE ROLE_prava
/*CREATE TABLE ROLE_prava ([role] VARCHAR(200),
						DB VARCHAR(200),
						pravo VARCHAR(200),
						[druh_prava] VARCHAR(50),
					    [typ_prava] VARCHAR(10))
*/

INSERT INTO ROLE_Prava ([role], DB, pravo, druh_prava, typ_prava) exec sp_msForEachDb ' use [?]
SELECT DISTINCT database_principals.NAME  as [role], db_name() as [DB], CASE database_permissions.class_desc
        WHEN ''SCHEMA''
            THEN ''['' + schema_name(major_id) + '']''
        WHEN ''OBJECT_OR_COLUMN''
            THEN CASE 
                    WHEN minor_id = 0
                        THEN''[''+OBJECT_SCHEMA_NAME(major_id) + ''].'' + ''['' + object_name(major_id) + '']'' COLLATE Latin1_General_CI_AS_KS_WS
                    ELSE (
                            SELECT object_name(object_id) + '' ('' + NAME + '')''
                            FROM sys.columns
                            WHERE object_id = database_permissions.major_id
                                AND column_id = database_permissions.minor_id
                            )
                    END
        ELSE ''other''
        END as pravo, sys.objects.type_desc as druh_prava, database_permissions.permission_name as typ_prava
		FROM sys.database_permissions
JOIN sys.database_principals ON database_permissions.grantee_principal_id = database_principals.principal_id
LEFT JOIN sys.objects --left because it is possible that it is a schema
    ON objects.object_id = database_permissions.major_id
WHERE database_permissions.major_id > 0
    AND permission_name IN (
        ''SELECT''
        ,''INSERT''
        ,''UPDATE''
        ,''DELETE''
        ,''EXECUTE''
        )
	AND database_principals.type_desc LIKE ''DATABASE_ROLE'''
SELECT * FROM ROLE_prava
--DROP TABLE ROLE_prava
GO
/****** Object:  StoredProcedure [monitor].[sp_RefreshDeadlockObject]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [monitor].[sp_RefreshDeadlockObject]
AS
BEGIN
     TRUNCATE TABLE [UDRZBA_SERVERU].[monitor].[DeadlockObject];

      INSERT  INTO [UDRZBA_SERVERU].[monitor].[DeadlockObject]
              ( [LogDate] ,
                [ProcessInfo] ,
                [Text]
              )
              EXEC master.dbo.xp_readerrorlog 0, 1, 'objectlock lockPartition=0',
                  NULL, NULL, NULL, N'desc';
      INSERT  INTO [UDRZBA_SERVERU].[monitor].[DeadlockObject]
              ( [LogDate] ,
                [ProcessInfo] ,
                [Text]
              )
              EXEC master.dbo.xp_readerrorlog 1, 1, 'objectlock lockPartition=0',
                  NULL, NULL, NULL, N'desc';
      INSERT  INTO [UDRZBA_SERVERU].[monitor].[DeadlockObject]
              ( [LogDate] ,
                [ProcessInfo] ,
                [Text]
              )
              EXEC master.dbo.xp_readerrorlog 2, 1, 'objectlock lockPartition=0',
                  NULL, NULL, NULL, N'desc';
      INSERT  INTO [UDRZBA_SERVERU].[monitor].[DeadlockObject]
              ( [LogDate] ,
                [ProcessInfo] ,
                [Text]
              )
              EXEC master.dbo.xp_readerrorlog 3, 1, 'objectlock lockPartition=0',
                  NULL, NULL, NULL, N'desc';
      INSERT  INTO [UDRZBA_SERVERU].[monitor].[DeadlockObject]
              ( [LogDate] ,
                [ProcessInfo] ,
                [Text]
              )
              EXEC master.dbo.xp_readerrorlog 4, 1, 'objectlock lockPartition=0',
                  NULL, NULL, NULL, N'desc';
      INSERT  INTO [UDRZBA_SERVERU].[monitor].[DeadlockObject]
              ( [LogDate] ,
                [ProcessInfo] ,
                [Text]
              )
              EXEC master.dbo.xp_readerrorlog 5, 1, 'objectlock lockPartition=0',
                  NULL, NULL, NULL, N'desc';

  --remove any duplicates created
      WITH    CTE
                AS ( SELECT   ROW_NUMBER() OVER ( PARTITION BY [LogDate],
                                                  [ProcessInfo], [Text] ORDER BY [LogDate] ) AS RowNumber ,
                              [LogDate] ,
                              [ProcessInfo] ,
                              [Text]
                     FROM     [UDRZBA_SERVERU].[monitor].[DeadlockObject]
                   )
          DELETE  FROM CTE
          WHERE   RowNumber > 1;
   END

GO
/****** Object:  StoredProcedure [monitor].[sp_RefreshDeadlockTable]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [monitor].[sp_RefreshDeadlockTable]
AS
BEGIN
  TRUNCATE TABLE[UDRZBA_SERVERU].[monitor].[DeadlockTable]

  SELECT ROW_NUMBER()
          OVER (ORDER BY name) AS Row,Name INTO #table FROM sys.tables

  DECLARE @intFlag INT = 1
  DECLARE @stringtosearchfor nVARCHAR(200)
  DECLARE @stringtosearchfor1 nVARCHAR(200)
  DECLARE @SQL NVARCHAR(4000)

  WHILE @intFlag <= (SELECT COUNT(*) FROM sys.tables)
  BEGIN
    SET @stringtosearchfor = (SELECT Name FROM #table WHERE Row = @intFlag)
    SET @stringtosearchfor1 = '%'+@stringtosearchfor+'%'
    SET @SQL = 'INSERT INTO [UDRZBA_SERVERU].[monitor].[DeadlockTable]
             (LogDate
             ,ProcessInfo
             ,[Text]
             ,TableAffected)
    SELECT LogDate,ProcessInfo,[Text],'''+@stringtosearchfor+''' FROM DeadockObject WHERE Text LIKE '''+@stringtosearchfor1+''''
    --PRINT @SQL
    EXEC (@SQL)
    SET @intFlag = @intFlag + 1
  END
  DROP TABLE #table
END










GO
/****** Object:  StoredProcedure [monitor].[sp_RefreshDeadlockVictim]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [monitor].[sp_RefreshDeadlockVictim]
  AS
  BEGIN
  TRUNCATE TABLE [UDRZBA_SERVERU].[monitor].[DeadlockVictim]

  INSERT INTO [UDRZBA_SERVERU].[monitor].[DeadlockVictim]
             ([LogDate]
             ,[ProcessInfo]
             ,[Text])
  EXEC master.dbo.xp_readerrorlog 0, 1, 'deadlock victim=process', NULL, NULL, NULL, N'desc'

  INSERT INTO [UDRZBA_SERVERU].[monitor].[DeadlockVictim]
             ([LogDate]
             ,[ProcessInfo]
             ,[Text])

  EXEC master.dbo.xp_readerrorlog 1, 1, 'deadlock victim=process', NULL, NULL, NULL, N'desc'

  INSERT INTO [UDRZBA_SERVERU].[monitor].[DeadlockVictim]
             ([LogDate]
             ,[ProcessInfo]
             ,[Text])

  EXEC master.dbo.xp_readerrorlog 2, 1, 'deadlock victim=process', NULL, NULL, NULL, N'desc'

  INSERT INTO [UDRZBA_SERVERU].[monitor].[DeadlockVictim]
             ([LogDate]
             ,[ProcessInfo]
             ,[Text])

  EXEC master.dbo.xp_readerrorlog 3, 1, 'deadlock victim=process', NULL, NULL, NULL, N'desc'

  INSERT INTO [UDRZBA_SERVERU].[monitor].[DeadlockVictim]
             ([LogDate]
             ,[ProcessInfo]
             ,[Text])

  EXEC master.dbo.xp_readerrorlog 4, 1, 'deadlock victim=process', NULL, NULL, NULL, N'desc'

  INSERT INTO [UDRZBA_SERVERU].[monitor].[DeadlockVictim]
             ([LogDate]
             ,[ProcessInfo]
             ,[Text])

  EXEC master.dbo.xp_readerrorlog 5, 1, 'deadlock victim=process', NULL, NULL, NULL, N'desc'
  END

GO
/****** Object:  StoredProcedure [monitor].[spGetVLFCount]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [monitor].[spGetVLFCount]  
AS
SET NOCOUNT ON
 DECLARE @ErrorMsg varchar(max)
    
    BEGIN TRY
-- Get VLF Counts for all databases on the instance (Query 27) (VLF Counts)
		CREATE TABLE #VLFInfo (RecoveryUnitID int, FileID  int,
				FileSize bigint, StartOffset bigint,
				FSeqNo      bigint, [Status]    bigint,
				Parity      bigint, CreateLSN   numeric(38));
  
		CREATE TABLE #VLFCountResults(DatabaseName sysname, VLFCount int);
  
		EXEC sp_MSforeachdb N'Use [?]; 

			 INSERT INTO #VLFInfo 
			EXEC sp_executesql N''DBCC LOGINFO([?])''; 
  
			INSERT INTO #VLFCountResults 
			SELECT DB_NAME(), COUNT(*) 
			FROM #VLFInfo; 

			 TRUNCATE TABLE #VLFInfo;'
  
		SELECT DatabaseName, VLFCount  
		FROM #VLFCountResults
		ORDER BY VLFCount DESC;
  
		DROP TABLE #VLFInfo;
		DROP TABLE #VLFCountResults;

-- High VLF counts can affect write performance 
-- and they can make database restores and recovery take much longer
-- Try to keep your VLF counts under 200 in most cases
     RETURN 0  
    END TRY
      -->> Osetreni vyjimek
	BEGIN CATCH
     SELECT @ErrorMsg = 'ErrorNumber: '+ convert(varchar,ERROR_NUMBER())+ char(13)+
						'ErrorSeverity: '+ convert(varchar,ERROR_SEVERITY())+ char(13)+
						'ErrorState: '+  convert(varchar,ERROR_STATE())+ char(13)+
						'ErrorProcedure: '+  convert(varchar,ERROR_PROCEDURE()) + char(13)+	 
						'ErrorLine: '+ convert(varchar,ERROR_LINE())  + char(13)+
						'ErrorMessage: '+ convert(varchar(max),ERROR_MESSAGE())
     	
	PRINT @ErrorMsg
END CATCH	


GO
/****** Object:  StoredProcedure [monitor].[spInsert_SQL_IO_FileLatency]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [monitor].[spInsert_SQL_IO_FileLatency] @CurrentID int = NULL,
													 @PreviousID int = NULL
				
    
AS
SET NOCOUNT ON
 DECLARE @ErrorMsg varchar(max)
    
    BEGIN TRY
     --BEGIN TRANSACTION
	 IF @CurrentID IS NULL
	  BEGIN
	    SELECT @CurrentID = max(CaptureID) FROM   [UDRZBA_SERVERU].[monitor].[SQLskills_FileLatency]
	  END

     IF @PreviousID IS NULL
	  BEGIN
	   SET @PreviousID =  @CurrentID - 1
	  END;

	   IF @CurrentID IS NOT NULL AND @PreviousID IS NOT NULL
	    BEGIN

			 WITH [p] AS (	SELECT	
						[CaptureDate], 
						[database_id], 
						[file_id], 
						[ReadLatency], 
						[WriteLatency], 
						[num_of_reads], 
						[io_stall_read_ms], 
						[num_of_writes], 
						[io_stall_write_ms]
					FROM [UDRZBA_SERVERU].[monitor].[SQLskills_FileLatency]
					WHERE [CaptureID] = @PreviousID
			)
			INSERT INTO [monitor].[SQL_IO_FileLatency]
					   ([CurrentCaptureDate]
					   ,[PreviousCaptureDate]
					   ,[MinBetweenCaptures] -- minut mezi snímky
					   ,[DB]
					   ,[physical_name]
					   ,[CurrentReadLatency]
					   ,[PreviousReadLatency]
					   ,[CurrentWriteLatency]
					   ,[PreviousWriteLatency]
					   ,[delta_io_stall_read] -- kolik milisekund se čekalo na čtení z disku měřeno po dobu MinBetweenCaptures (počet minut mezi snímky CurrentCaptureDate a PreviousCaptureDate )
					   ,[delta_num_of_reads]-- počet provedených čtení z disku měřeno po dobu MinBetweenCaptures (počet minut mezi snímky CurrentCaptureDate a PreviousCaptureDate )
					   ,[delta_io_stall_write]-- kolik milisekund se čekalo na zápis na disk měřeno po dobu MinBetweenCaptures (počet minut mezi snímky CurrentCaptureDate a PreviousCaptureDate )
					   ,[delta_num_of_writes]-- počet provedených zápisů na disk měřeno po dobu MinBetweenCaptures (počet minut mezi snímky CurrentCaptureDate a PreviousCaptureDate )
					   ,[IntervalReadLatency]--kolik milisekund se průměrně ,čekalo na čtení z disku měřeno po dobu MinBetweenCaptures (počet minut mezi snímky CurrentCaptureDate a PreviousCaptureDate ) -- null znamená že nebylo žádné čtení
					   ,[IntervalWriteLatency])---kolik milisekund se průměrně ,čekalo na zápis na disk měřeno po dobu MinBetweenCaptures (počet minut mezi snímky CurrentCaptureDate a PreviousCaptureDate )-- null znamená že nebyl žádnný zápis
			SELECT	
				[c].[CaptureDate] [CurrentCaptureDate],
				[p].[CaptureDate] [PreviousCaptureDate],
				DATEDIFF(MINUTE, [p].[CaptureDate], [c].[CaptureDate]) [MinBetweenCaptures],
				[c].[DB],
				[c].[physical_name],
				[c].[ReadLatency] [CurrentReadLatency], 
				[p].[ReadLatency] [PreviousReadLatency], 
				[c].[WriteLatency] [CurrentWriteLatency], 
				[p].[WriteLatency] [PreviousWriteLatency],
				[c].[io_stall_read_ms]- [p].[io_stall_read_ms] [delta_io_stall_read],
				[c].[num_of_reads] - [p].[num_of_reads] [delta_num_of_reads],
				[c].[io_stall_write_ms] - [p].[io_stall_write_ms] [delta_io_stall_write],
				[c].[num_of_writes] - [p].[num_of_writes] [delta_num_of_writes],
				CASE
					WHEN ([c].[num_of_reads] - [p].[num_of_reads]) = 0 THEN NULL
					ELSE ([c].[io_stall_read_ms] - [p].[io_stall_read_ms])/([c].[num_of_reads] - [p].[num_of_reads])
				END [IntervalReadLatency],
				CASE
					WHEN ([c].[num_of_writes] - [p].[num_of_writes]) = 0 THEN NULL
					ELSE ([c].[io_stall_write_ms] - [p].[io_stall_write_ms])/([c].[num_of_writes] - [p].[num_of_writes])
				END [IntervalWriteLatency]
			FROM [UDRZBA_SERVERU].[monitor].[SQLskills_FileLatency] [c]
			JOIN [p] ON [c].[database_id] = [p].[database_id] AND [c].[file_id] = [p].[file_id]
			WHERE [c].[CaptureID] = @CurrentID 
     
	  END
   
     --COMMIT TRANSACTION 
     RETURN 0  
    END TRY
      -->> Osetreni vyjimek
	BEGIN CATCH
	 --ROLLBACK TRANSACTION 
	
     SELECT @ErrorMsg = 'ErrorNumber: '+ convert(varchar,ERROR_NUMBER())+ char(13)+
						'ErrorSeverity: '+ convert(varchar,ERROR_SEVERITY())+ char(13)+
						'ErrorState: '+  convert(varchar,ERROR_STATE())+ char(13)+
						'ErrorProcedure: '+  convert(varchar,ERROR_PROCEDURE()) + char(13)+	 
						'ErrorLine: '+ convert(varchar,ERROR_LINE())  + char(13)+
						'ErrorMessage: '+ convert(varchar(max),ERROR_MESSAGE())
    
   	
	PRINT @ErrorMsg
	
	

END CATCH	

GO
/****** Object:  StoredProcedure [monitor].[spInsert_SQLskills_FileLatency]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [monitor].[spInsert_SQLskills_FileLatency] 
    
AS
SET NOCOUNT ON
 DECLARE @ErrorMsg varchar(max)
    
    BEGIN TRY
     --BEGIN TRANSACTION
	 DECLARE @CaptureID INT;
	 SELECT @CaptureID = MAX(CaptureID) FROM  [UDRZBA_SERVERU].[monitor].[SQLskills_FileLatency];

	IF @CaptureID IS NULL	
		BEGIN
		  SET @CaptureID = 1;
		END
		ELSE
		BEGIN
		  SET @CaptureID = @CaptureID + 1;
		END  
 
		INSERT INTO [UDRZBA_SERVERU].[monitor].[SQLskills_FileLatency] 
		(
			[CaptureID],
			[CaptureDate],
			[ReadLatency],
			[WriteLatency],
			[Latency],
			[AvgBPerRead],
			[AvgBPerWrite],
			[AvgBPerTransfer],
			[Drive],
			[DB],
			[database_id],
			[file_id],
			[sample_ms],--Number of milliseconds since the computer was started. This column can be used to compare different outputs from this function.
			[num_of_reads],--Number of reads issued on the file
			[num_of_bytes_read],--Total number of bytes read on this file
			[io_stall_read_ms],--Total time, in milliseconds, that the users waited for reads issued on the file.
			[num_of_writes],--Number of writes made on this file
			[num_of_bytes_written],--Total number of bytes written to the file.
			[io_stall_write_ms],--Total time, in milliseconds, that users waited for writes to be completed on the file.
			[io_stall],--Total time, in milliseconds, that users waited for I/O to be completed on the file
			[size_on_disk_MB],
			[file_handle],
			[physical_name]
		)
		SELECT 
			--virtual file latency
			@CaptureID,
			GETDATE(),
			CASE 
				WHEN [num_of_reads] = 0 
					THEN 0 
				ELSE ([io_stall_read_ms]/[num_of_reads]) 
			END [ReadLatency],
			CASE 
				WHEN [io_stall_write_ms] = 0 
					THEN 0 
				ELSE ([io_stall_write_ms]/[num_of_writes]) 
			END [WriteLatency],
			CASE 
				WHEN ([num_of_reads] = 0 AND [num_of_writes] = 0)
					 THEN 0 
				ELSE ([io_stall]/([num_of_reads] + [num_of_writes])) 
			END [Latency],
			--avg bytes per IOP
			CASE 
				WHEN [num_of_reads] = 0 
					THEN 0 
				ELSE ([num_of_bytes_read]/[num_of_reads]) 
			END [AvgBPerRead],
			CASE 
				WHEN [io_stall_write_ms] = 0 
					THEN 0 
				ELSE ([num_of_bytes_written]/[num_of_writes]) 
			END [AvgBPerWrite],
			CASE 
				WHEN ([num_of_reads] = 0 AND [num_of_writes] = 0)
					THEN 0 
				ELSE (([num_of_bytes_read] + [num_of_bytes_written])/([num_of_reads] + [num_of_writes])) 
			END [AvgBPerTransfer],
			LEFT([mf].[physical_name],2) [Drive],
			DB_NAME([vfs].[database_id]) [DB],
			[vfs].[database_id],
			[vfs].[file_id],
			[vfs].[sample_ms],
			[vfs].[num_of_reads],
			[vfs].[num_of_bytes_read],
			[vfs].[io_stall_read_ms],
			[vfs].[num_of_writes],
			[vfs].[num_of_bytes_written],
			[vfs].[io_stall_write_ms],
			[vfs].[io_stall],
			[vfs].[size_on_disk_bytes]/1024/1024. [size_on_disk_MB],
			[vfs].[file_handle],
			[mf].[physical_name]
		FROM [sys].[dm_io_virtual_file_stats](NULL,NULL) AS vfs
		JOIN [sys].[master_files] [mf] 
			ON [vfs].[database_id] = [mf].[database_id] 
			AND [vfs].[file_id] = [mf].[file_id]
		ORDER BY [Latency] DESC;
	
     --COMMIT TRANSACTION 
     RETURN 0  
    END TRY
      -->> Osetreni vyjimek
	BEGIN CATCH
	 --ROLLBACK TRANSACTION 
	
     SELECT @ErrorMsg = 'ErrorNumber: '+ convert(varchar,ERROR_NUMBER())+ char(13)+
						'ErrorSeverity: '+ convert(varchar,ERROR_SEVERITY())+ char(13)+
						'ErrorState: '+  convert(varchar,ERROR_STATE())+ char(13)+
						'ErrorProcedure: '+  convert(varchar,ERROR_PROCEDURE()) + char(13)+	 
						'ErrorLine: '+ convert(varchar,ERROR_LINE())  + char(13)+
						'ErrorMessage: '+ convert(varchar(max),ERROR_MESSAGE())
    
   	
	PRINT @ErrorMsg
	
	

END CATCH	



GO
/****** Object:  StoredProcedure [monitor].[spWho_blocking_blocked]    Script Date: 27. 2. 2019 15:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [monitor].[spWho_blocking_blocked]  				
    
AS
SET NOCOUNT ON
 DECLARE @ErrorMsg varchar(max),
		 @dtSnimek datetime

    
    BEGIN TRY

	IF EXISTS (SELECT * FROM master.sys.dm_exec_connections AS blocking
				INNER JOIN master.sys.dm_exec_requests blocked
				ON blocking.session_id = blocked.blocking_session_id
				CROSS APPLY master.sys.dm_exec_sql_text(blocked.sql_handle)
				blocked_cache
				CROSS APPLY master.sys.dm_exec_sql_text(blocking.most_recent_sql_handle)
				blocking_cache
				INNER JOIN master.sys.dm_os_waiting_tasks waitstats
				ON waitstats.session_id = blocked.session_id
				)

      BEGIN
	    
		SET @dtSnimek = GETDATE()


			INSERT INTO [monitor].[blocking_blocked]
				   ([blocking_session_id]
				   ,[blocked_session_id]
				   ,[blocking_resource]
				   ,[wait_duration_ms]
				   ,[resource_description]
				   ,[blocked_text]
				   ,[blocking_text]
				   ,[dtSnimek]
				   ,[database_id])
			SELECT		
					blocking.session_id AS blocking_session_id ,
					blocked.session_id AS blocked_session_id ,
					waitstats.wait_type AS blocking_resource ,
					waitstats.wait_duration_ms ,
					waitstats.resource_description ,
					blocked_cache.text AS blocked_text ,
					blocking_cache.text AS blocking_text,
					@dtSnimek,
					database_id
			FROM master.sys.dm_exec_connections AS blocking
			INNER JOIN master.sys.dm_exec_requests blocked
			ON blocking.session_id = blocked.blocking_session_id
			CROSS APPLY master.sys.dm_exec_sql_text(blocked.sql_handle)
			blocked_cache
			CROSS APPLY master.sys.dm_exec_sql_text(blocking.most_recent_sql_handle)
			blocking_cache
			INNER JOIN master.sys.dm_os_waiting_tasks waitstats
			ON waitstats.session_id = blocked.session_id
      
	   
	       DECLARE @Table TABLE(
								SPID INT,
								Status VARCHAR(MAX),
								LOGIN VARCHAR(MAX),
								HostName VARCHAR(MAX),
								BlkBy VARCHAR(MAX),
								DBName VARCHAR(MAX),
								Command VARCHAR(MAX),
								CPUTime INT,
								DiskIO INT,
								LastBatch VARCHAR(MAX),
								ProgramName VARCHAR(MAX),
								SPID_1 INT,
								REQUESTID INT
								)

			INSERT INTO @Table EXEC sp_who2


			INSERT INTO [monitor].[Who_blocking_blocked]
					   ([SPID]
					   ,[Status]
					   ,[Login]
					   ,[HostName]
					   ,[BlkBy]
					   ,[DBName]
					   ,[Command]
					   ,[CPUTime]
					   ,[DiskIO]
					   ,[LastBatch]
					   ,[ProgramName]
					   ,[SPID2]
					   ,[rEQUESTID]
					   ,[dtSnimek])
			 
			SELECT		SPID ,
						Status,
						LOGIN,
						HostName,
						BlkBy,
						DBName,
						Command,
						CPUTime,
						DiskIO,
						LastBatch,
						ProgramName,
						SPID_1,
						REQUESTID
						,@dtSnimek
			FROM    @Table
			WHERE SPID IN (SELECT blocking_session_id FROM [monitor].[blocking_blocked] WHERE dtSnimek = @dtSnimek )
			OR SPID IN (SELECT blocked_session_id FROM [monitor].[blocking_blocked] WHERE dtSnimek = @dtSnimek )

	   END 
     
     RETURN 0  
    END TRY
      -->> Osetreni vyjimek
	BEGIN CATCH
	
     SELECT @ErrorMsg = 'ErrorNumber: '+ convert(varchar,ERROR_NUMBER())+ char(13)+
						'ErrorSeverity: '+ convert(varchar,ERROR_SEVERITY())+ char(13)+
						'ErrorState: '+  convert(varchar,ERROR_STATE())+ char(13)+
						'ErrorProcedure: '+  convert(varchar,ERROR_PROCEDURE()) + char(13)+	 
						'ErrorLine: '+ convert(varchar,ERROR_LINE())  + char(13)+
						'ErrorMessage: '+ convert(varchar(max),ERROR_MESSAGE())
    
   	
	PRINT @ErrorMsg

END CATCH	


GO
USE [master]
GO
