/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 

      [TimeLocal]
      ,[EventType]
      ,[AgentId]
      ,[TeamName]
      ,[WorkplaceId]
      ,[ProjectId]
      ,[ReferenceData]
      ,[ReferenceId]
      ,[Duration]
      ,[ResultData]
      ,[Actor]
  FROM [iCC].[dbo].[AgentEvent]
  WHERE AgentId='8a80468f-d404-4b4c-8a13-5e5f44d1e6ad'
  AND TimeLocal>CONVERT(datetime,'2016.10.12 12:00')
  AND TimeLocal<CONVERT(datetime,'2016.10.12 13:00')
  ORDER BY TimeLocal