
USE [FS_Custom]
GO
/****** Object:  UserDefinedFunction [dbo].[AgentsStatusDuration_Total]    Script Date: 30. 11. 2020 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:           <Václav Kubát>
-- Create date: <24.12.2018>
-- Description:      <za zvolene obdobi vraci seznam agentu a jejich trvani stavu vcetne aktualniho - osetrena chyba vice NULL stavu, bere se jen posledni NULL stav>
-- =============================================
ALTER FUNCTION [dbo].[AgentsStatusDuration_Total]
(      
       @From as datetime
       ,@To as datetime
)
RETURNS TABLE 
AS
RETURN 
(
       select
              AgentId as AgentId
              ,sum (case when (ReferenceId = '60FBA1E2-08F0-4129-97B3-3041E9EE27B8' and Duration is not null) then Duration else NULL end) as Aktivni
              ,sum (case when (ReferenceId = '3961305B-DEE5-44FD-B8C5-3A82FF125159' and Duration is not null) then Duration else NULL end) as Skoleni
              ,sum (case when (ReferenceId = '78028459-CA9E-45DE-A574-5005F96774BC' and Duration is not null) then Duration else NULL end) as Prestavka
              ,sum (case when (ReferenceId = '00D95AA0-3FB5-416E-B230-561A10199C37' and Duration is not null) then Duration else NULL end) as Zpracovani
              ,sum (case when (ReferenceId = 'E4176740-4963-49CF-B41C-995E4F82C9D5' and Duration is not null) then Duration else NULL end) as Obed
              ,sum (case when (ReferenceId = 'E05971CF-9152-4089-9CEF-C6227183C420' and Duration is not null) then Duration else NULL end) as Flakac
              ,sum (Duration) as DurationLoggedIn
       from (
                     select 
                            AgentId,ReferenceId,TimeLocal,Duration
                     from iCC.dbo.AgentEvent as ae with (nolock)
                     where ae.EventType = 'AgentStatus' 
                            and ae.TimeLocal >= @From and Dateadd(second,isnull(ae.duration,0),ae.TimeLocal) <= @To
                            and ae.ReferenceData <> 'Logoff' and Duration is not null

                     union all

                     select 
                            AgentId,ReferenceId,TimeLocal,ISNULL((DATEDIFF(SECOND, TimeLocal, @To)),0) as Duration
                     from(
                            select 
                                   AgentId,ReferenceId,max(TimeLocal) as TimeLocal
                            from iCC.dbo.AgentEvent as ae with (nolock)
                            where ae.EventType = 'AgentStatus' 
                                   and ae.TimeLocal >= @From and Dateadd(second,isnull(ae.duration,0),ae.TimeLocal) <= @To
                                   and ae.ReferenceData <> 'Logoff' and Duration is null
                            group by AgentId,ReferenceId
                     ) as Actual
              ) as CTE
       group by AgentId
)

