/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [AgentEventId]
      ,[TimeUtc]
      ,[TimeLocal]
      ,[EventType]
      ,[AgentId]
      ,[TeamName]
      ,[WorkplaceId]
      ,[ProjectId]
      ,[ReferenceData]
      ,[ReferenceId]
      ,[Duration]
      ,[ResultData]
      ,[Actor]
  FROM [iCC].[dbo].[AgentEvent] WHERE EventType='AgentError' AND TimeLocal>GETDATE()-2 
  --AND AgentId IN ('D64AC135-5586-409C-96B0-AF5890472842','21EAB283-323F-4608-8FE5-FAB19D1C87C1')
  ORDER BY TimeLocal DESC /*  AgentId*/