/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [AgentEventId]
      ,[TimeUtc]
      ,[TimeLocal]
      ,[EventType]
      ,[AgentId]
      ,[TeamName]
      ,[WorkplaceId]
      ,[ProjectId]
      ,[ReferenceData]
      ,[ReferenceId]
      ,[Duration]
      ,[ResultData]
      ,[Actor]
  FROM [iCC].[dbo].[AgentEvent]
  WHERE AgentId='775738a7-6f1d-4214-84e5-c3a732a24943'
  AND TimeLocal>getdate()-1
  order BY TimeLocal