/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @UserId AS UniqueIdentifier='B42D28C2-E431-4D51-B918-C3A204F93BA8'
/**/SELECT TOP 1000 [ApplicationId]
      ,[UserId]
      ,[UserName]
      ,[LoweredUserName]
      ,[MobileAlias]
      ,[IsAnonymous]
      ,[LastActivityDate]
  FROM [ASPNET_iCC].[dbo].[aspnet_Users]
  where UserName like '%pfei%' 

 /**/
BEGIN TRANSACTION
  delete from [ASPNET_iCC].[dbo].[aspnet_PersonalizationPerUser] where UserId=@UserId


  DELETE FROM [ASPNET_iCC].[dbo].[aspnet_Profile] WHERE UserId=@UserId

  DELETE FROM [ASPNET_iCC].[dbo].[aspnet_Users] WHERE UserId=@UserId
COMMIT TRANSACTION
--  ROLLBACK TRANSACTION
