/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 
      [TimeLocal]
      ,[EventType]
	  , IVRST.Rank AS Navesti
	  , IVRST.Action AS Akce
	  , IVRST.DisplayName AS Ivrkrok
	  , IVRST.FileName AS Hlaska
	  , IVRSC.DisplayName AS IvrSkript
      ,[ProjectId]
      ,[AgentId]
      ,[WorkplaceId]
      ,[ReferenceData]
      ,[Duration]
      ,[ResultData]
  FROM [iCC].[dbo].[CallEvent] AS CAE
   LEFT JOIN IvrStep AS IVRST ON IVRST.IvrStepId=CAE.ReferenceId
   LEFT JOIN IvrScript AS IVRSC ON IVRST.IvrScriptId=IVRSC.IvrScriptId
  WHERE InboundCallId='f5aff564-6490-e611-80bd-001e67feed3f'
  ORDER BY TimeUtc