/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ScenarioResultValueId]
      ,SR.[TimeUtc]
	  ,SC.[DisplayName] AS ScenarioName
	  ,CNT.CompanyName
      ,PHN.[Numbers] 
      ,[ScreenControlId]
      ,[ResultNumber]
      ,[ResultText]
      ,[ResultNumeric]
      ,[ResultTime]
      ,[TargetColumn]
  FROM [iCC].[dbo].[ScenarioResultValue] AS SRV LEFT JOIN ScenarioResult AS SR ON SRV.ScenarioResultId=SR.ScenarioResultId
    LEFT JOIN Scenario AS SC ON SR.ScenarioId=SC.ScenarioId
	LEFT JOIN Contact AS CNT ON SR.ContactId=CNT.ContactId
	LEFT JOIN PhoneNumber AS PHN ON CNT.ContactId=PHN.ContactId
   WHERE TargetColumn='Přidělená CN' and ResultText is null
   ORDER BY TimeUTC DESC