/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 
       IIF(CON.ConfigurationValue=CONH.ConfigurationValue,'','Rozdíl') AS Test
      ,CON.[ConfigurationId]
      ,CON.[ConfigurationName]
      ,CON.[ConfigurationValue]
	  ,CONH.[ConfigurationValue]
      ,CON.[Description]
      ,CON.[GroupName]
  FROM [iCC].[dbo].[Configuration] CON
    LEFT JOIN iCC_H.[dbo].Configuration CONH ON CONH.ConfigurationName=CON.ConfigurationName
  WHERE 1=1
    --AND GroupName='Editors'
	--AND Description LIKE '%zavř%'
   AND CON.ConfigurationName LIKE  '%issue%'
   --AND ConfigurationValue  LIKE  '%,%'
  --AND (ConfigurationName='IssueLookupBlockOutbound' OR ConfigurationName='ExistingIssueManuallyForOutbound')
  AND CON.ConfigurationValue<>CONH.ConfigurationValue
