/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @TemplateAgentId AS UNIQUEIDENTIFIER='c06eee61-8ab3-4281-9082-eb168cc97f35'
DECLARE @TargetAgentId AS UNIQUEIDENTIFIER= '76f50a99-f291-44d0-8dc5-7124b781b7fb'

 BEGIN TRANSACTION

INSERT INTO [iCC].[dbo].[Permission]
SELECT TOP 1 
      NewId() AS [PermissionId],
      PM.[RoleId]
      ,PM.[Degree]
      ,PM.[ScopeId]
	  ,@TargetAgentId AS AgentId
	  ,PM.[TeamMask]
      ,PM.[Supervisor]
      ,PM.[ProjectId]
      ,PM.[SkillMinimum]
      ,PM.[SkillMaximum]
      ,PM.[ProjectGroupMask]
      ,PM.[LanguageId]
      ,PM.[Sensitivity]
      ,PM.[Age]
  FROM [iCC].[dbo].[Permission] PM 
    LEFT JOIN [iCC].[dbo].[Permission] PMT ON PM.RoleId=PMT.RoleId AND PM.[ScopeId]=PMT.[ScopeId] AND PMT.AgentId=@TargetAgentId AND PMT.AgentId IS NOT NULL
 WHERE PM.AgentId=@TemplateAgentId AND PMT.AgentId IS NULL

COMMIT TRANSACTION

-- ROLLBACK TRANSACTION
