/****** Script for SelectTopNRows command from SSMS  ******/

select ',' + cast(t.id as varchar(max))
               from tabel t
               (',',DisplayName) AS CrewName
 
  FROM [iCC].[dbo].[CrewMember] CM
    LEFT JOIN [iCC].[dbo].[Crew] CR ON CR.CrewId=CM.CrewId
  WHERE AgentId='C49105D2-FDCC-4315-837E-00219FDEFD64'

select ',' + cast(t.DisplayName as varchar(40)) --AS Test
               from FSCMonitor t
               for xml path ('')
/*
SELECT TOP (10000) AG.[AgentId]
        ,MAX(AG.[DisplayName]) AS AgentName
		--,string_agg(CR.[DisplayName],',') AS CrewName
      ,MAX([TeamName]) AS TeamName
      ,MAX([GroupName]) AS GroupName

  FROM [iCC].[dbo].[Agent] AG
  LEFT JOIN [iCC].[dbo].[CrewMember] CM ON AG.AgentId=CM.AgentId
  LEFT JOIN [iCC].[dbo].[Crew] CR ON CR.CrewId=CM.CrewId
  GROUP BY AG.AgentId
  ORDER BY AG.AgentId
  */