USE [FS_custom]
GO
/****** Object:  StoredProcedure [dbo].[DBMaintenance]    Script Date: 1. 4. 2016 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zbyněk Homolka>
-- Create date: <08.08.2019>
-- Description:	<Údržba nastavení>
-- =============================================
-- CREATE 
ALTER 
PROCEDURE [DBMaintenance]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
BEGIN TRANSACTION

	EXEC .dbo.RecreateIndex
	/*
UPDATE [iCC_H].[dbo].[IvrStep]
    SET FileName='infolinka_valtice' 
  WHERE IvrStepId='77a45133-3cb2-43e2-af47-12ac2d59d1bf'

UPDATE [iCC_H].[dbo].[IvrStep]
    SET FileName='infolinka_lanterna' 
  WHERE IvrStepId='3c1d7481-1de4-4984-aafb-ad349711b7a7'


UPDATE [iCC_H].[dbo].[IvrStep]
    SET FileName='infolinka_horal' 
  WHERE IvrStepId='5992f612-def1-4030-9777-53b09ce05ee6'*/
/*-- Změna pracovní doby:
UPDATE [iCC].[dbo].[Holiday]
    SET TimeTo=convert(datetime, '2014-06-13 19:00:59.900') 
  WHERE HolidayGroupName='PracDoba' AND TimeMode='DayInWeek'
*/
/*
-- Upgrade IVR skriptu:
UPDATE [iCC].[dbo].[Precondition]
    SET [IvrScriptAId]='A54E2BD7-3B33-4129-A301-2B4CB0B3CCF9' 
  WHERE [IvrScriptAId]='B35C8BC2-8178-417A-A651-A2C0B822A5A5'

INSERT iCC.dbo.Workplace ( [DisplayName], [Number], [Computer], [State], [Offer], [CtiModel], [OfferModel], [LoggedClientModel], [UsedClientModels], [MaxRinging], [MaxOffering], [Blocking], [AutoLogoff], [Deleted], [ExternalNumber], [TransferBlockUtc]) VALUES ( N'Džiubanová Milena', N'60162', NULL, N'Free', N'None', N'Active', N'ViaMessage', NULL, NULL, 20, 20, 60, 1, 0, NULL, NULL)
INSERT iCC.dbo.Workplace ( [DisplayName], [Number], [Computer], [State], [Offer], [CtiModel], [OfferModel], [LoggedClientModel], [UsedClientModels], [MaxRinging], [MaxOffering], [Blocking], [AutoLogoff], [Deleted], [ExternalNumber], [TransferBlockUtc]) VALUES ( N'Opitzová Renata', N'81150', NULL, N'Free', N'None', N'Active', N'ViaMessage', NULL, NULL, 20, 20, 60, 1, 0, NULL, NULL)

UPDATE iCC.dbo.Workplace SET DisplayName = 'Lisecová Kristýna' WHERE Number='20257' AND Deleted=0 
UPDATE iCC.dbo.Workplace SET DisplayName = 'Vyletová Jana' WHERE Number='20258' AND Deleted=0
UPDATE iCC.dbo.Workplace SET DisplayName = 'Slavíková Barbora' WHERE Number='20262' AND Deleted=0 
UPDATE iCC.dbo.Workplace SET DisplayName = 'Zbořil Jan' WHERE Number='20251' AND Deleted=0 
UPDATE iCC.dbo.Workplace SET DisplayName = 'Kepková Monika' WHERE Number='20264' AND Deleted=0 
UPDATE iCC.dbo.Workplace SET DisplayName = 'Volné pracoviště' WHERE Number='20265' AND Deleted=0
UPDATE iCC.dbo.Workplace SET DisplayName = 'Volné pracoviště' WHERE Number='20242' AND Deleted=0 
*/
COMMIT TRANSACTION
EXEC [dbo].[Write_Mail] 'b88e8361-660d-406d-bb79-d73162b579a2','homolka@atlantis.cz', 'Configuration change','Changes were performed' -- Odeslání testovacího mailu
--ROLLBACK TRANSACTION


END
