USE [iCC]
GO
IF NOT EXISTS(SELECT TOP 1 1 FROM [dbo].[ActionTrigger] WHERE CommandText='exec FS_Custom.dbo.DBMaintenance')
INSERT [dbo].[ActionTrigger] ( [DisplayName], [Description], [GroupName], [CommandText], [Model],  [TimeMode], [TimeFrom], [TimeTo])
 VALUES (N'Údržba/Update DB', N'nepravidelné spouštění', N'ADMIN', N'exec FS_Custom.dbo.DBMaintenance',N'Schedule', N'SingleDay', CAST(N'2019-09-05 22:45:00.000' AS DateTime), CAST(N'2019-09-05 22:46:59.900' AS DateTime))
GO
