:r C:\\Atlantis\\Scripts\\setvar.txt
USE $(ProServer)
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [StationId]
      ,[ConnectionTimeUtc]
	  ,AG.DisplayName AS AgentNamePro
	  ,AG2.DisplayName AS AgentNameiCC
	  ,AG2.Activity
      ,[IPAddress]
     ,[ProxyVersion]
      ,[ClientInfo]
      ,[AuthenticationTimeUtc]     
      ,[CredentialsId]
      ,[AppEndId]
      ,[DisconnectionTimeUtc]
      ,[Reason]
  FROM .[dbo].[Station] ST
  LEFT JOIN .[dbo].Agent AG ON AG.Agentid=ST.Agentid 
  LEFT JOIN $(iCC).[dbo].Agent AG2 ON AG2.DisplayName=AG.DisplayName 
  WHERE ClientInfo LIKE 'iCC.DesktopClient%'
     AND DisconnectionTimeUtc IS NULL
  ORDER BY AG.DisplayName

  /* Delete uncorrect Records:
  DELETE ST FROM .[dbo].[Station] ST
  LEFT join .[dbo].Agent AG ON AG.Agentid=ST.Agentid 
  LEFT JOIN iCC.[dbo].Agent AG2 ON AG2.DisplayName=AG.DisplayName 
WHERE ClientInfo LIKE 'iCC.DesktopClient%' AND AG2.Activity='Logoff'
*/
