/****** Script for SelectTopNRows command from SSMS  ******/
USE iCC
SELECT TOP 1000 
       ISNULL(PRT.DisplayName,'--- Nepoužito ---') AS PageName
	   ,PRT.NAVGroup
	   ,PRT.HashPage
      ,[DataQueryId]
      ,DQ.DisplayName AS QueryName
      ,DQ.[Description]
      ,[QueryGroup]
      ,[QuerySortExpression]
      ,[QueryText]
      ,[ManualFilter]
      ,[SnapshotInterval]
      ,[TimeLine]
      ,[Deleted]
      ,[CacheInterval]
      ,[LogLevel]
      ,[DataQuerySourceId]
      ,[DataQueryWhereJSON]
  FROM [iCC].[dbo].[DataQuery] DQ
    LEFT JOIN .[dbo].[Portal] PRT ON PRT.JsonData LIKE '%'+CONVERT(NVARCHAR(36),DQ.DataQueryId)+'%'
	WHERE Deleted=0
	 --AND PRT.DisplayName='Hovory'
	 AND HashPage='makleri_home'
	 AND DQ.DisplayName LIKE '%Spätné%'
	ORDER BY PRT.DisplayName,PRT.NAVGroup