USE iCC
SELECT TOP 1000 
       W.[DisplayName] AS WorkplaceName
	   ,A.[DisplayName] AS AgentName
      ,[Number]
      ,[Computer]
      ,[State]
      ,[Offer]
      ,[CtiModel]
      ,[OfferModel]
      ,[LoggedClientModel]
      ,[UsedClientModels]
      ,[MaxRinging]
      ,[MaxOffering]
      ,[Blocking]
      ,[AutoLogoff]
  FROM .[dbo].[Workplace] W
  LEFT JOIN Agent A ON W.WorkplaceId=A.WorkplaceId
  WHERE 1=1
  AND AgentId IS NULL
   AND W.Deleted=0
  ORDER BY WorkplaceName