/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [InboundCallId]
      ,[TimeUtc]
	  ,QueueLength
	  , (SELECT COUNT(EventType) FROM AgentEvent AS AE WHERE IC.TimeUTC>AE.TimeUTC AND IC.TimeUTC<DATEADD(second, AE.Duration,AE.TimeUTC) AND AE.ReferenceId='60FBA1E2-08F0-4129-97B3-3041E9EE27B8') AS Poc_Volnych
      ,PR.DisplayName AS Projekt
	  , Proficiency
	  ,[Skill]
	  ,[CallType]
      ,[CallPhase]
      ,[CallResult]
      ,[AppResult]
      ,[AnnouncementAId]
      ,[AnnouncementBId]
      ,[AnnouncementWId]
       ,[RegionalTime]
      ,[PilotTime]
      ,[AnswerTime]
      ,[EndTime]
      ,[AppResultTime]
      ,[PostCallEndTime]
      ,[AgentId]
  FROM [iCC].[dbo].[InboundCall] AS IC
     LEFT JOIN Project AS PR ON IC.ProjectId=PR.ProjectId
  WHERE QueueLength>1 AND PilotTime>GETDATE()-2
  -- Problémem je to, ze nejde zjistit, zda bylo volne pracoviste - to neni v historii