USE [FS_custom]
GO
/****** Object:  UserDefinedFunction [dbo].[GetCurrentStateLength4]    Script Date: 4. 7. 2023 14:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 30.11.2021 ZbH přidal AND TimeLocal>DATEADD(Day,-1,@Now)
ALTER FUNCTION [dbo].[GetCurrentStateLength4]
(
	@AgentId uniqueidentifier,
	@Now datetime
)
RETURNS int
AS
BEGIN
	DECLARE @Result AS INT
	DECLARE @LastStatusChange AS Datetime=(SELECT MAX(Timelocal) FROM icc.dbo.AgentEvent WITH(NOLOCK)
	 WHERE AgentId = @AgentId AND EventType = 'AgentStatus' AND Actor <> 'Reset' AND TimeLocal>DATEADD(Day,-1,@Now))
	DECLARE @LastCallChange AS Datetime=(SELECT MAX(Timelocal) FROM [iCC].[dbo].[CallEvent]  WITH(NOLOCK)
	 WHERE AgentId = @AgentId AND (EventType='AgentAnswer' OR EventType='AgentAccepted'))
   IF @LastCallChange IS NULL AND @LastStatusChange IS NOT NULL
	SET @LastCallChange=@LastStatusChange
   IF @LastCallChange IS NULL
	SET @LastCallChange=(SELECT MAX(Timelocal) FROM icc.dbo.AgentEvent WITH(NOLOCK)
	 WHERE AgentId = @AgentId AND EventType = 'AgentStatus' AND Actor <> 'Reset') -- ZbH 4.7.2023 - Když agent netelefonuje, nepočítá mu to stav

    DECLARE @LastEventTime AS Datetime= IIF(@LastStatusChange>@LastCallChange,@LastStatusChange,@LastCallChange)
	SET @Now=GETDATE() -- Vypadá to, že tam občas bývá starý čas
	SELECT @Result = DATEDIFF(SECOND,@LastEventTime, @Now)
	
	RETURN IIF(@Result>0,@Result,0)

END
