USE [FS_custom]
GO
/****** Object:  UserDefinedFunction [dbo].[GetTotalLogonTime2]    Script Date: 7. 11. 2019 9:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:        Václav Kubát
-- Create date: 20191107
-- Description: Doba zalogování agenta od zvoleného dne @Day do @Now (včetně aktuálního stavu)
-- =============================================
ALTER FUNCTION [dbo].[GetTotalLogonTime2]
(
      @AgentId uniqueidentifier,
      @Day datetime,
      @Now datetime
)
RETURNS int
AS
BEGIN
      DECLARE @Result AS int
      
              select 
                      @Result = (Duration + (DATEDIFF(SECOND,StartActual, @Now)) )
              from 
                      (SELECT 
                             SUM(case when Duration is not null then Duration else 0 end) as Duration
                             ,MAX(case when Duration is null then TimeLocal end) as StartActual
                      FROM icc.dbo.AgentEvent WITH (NOLOCK) WHERE CAST(TimeLocal AS DATE) = @Day AND AgentId = @AgentId AND EventType = 'AgentStatus' AND ReferenceData <> 'LogOff' 
                      ) as CTE

       RETURN @Result

END
