USE [FS_custom]
GO
/****** Object:  UserDefinedFunction [dbo].[GetStateLengthReportReport]    Script Date: 8. 3. 2016 9:10:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[GetStateLengthReportReportReport]
(
	@STATEID uniqueidentifier,
	@AGENTID uniqueidentifier,
	@FROM datetime,
	@TO datetime
)
RETURNS int
AS
BEGIN

/*
declare @stateid uniqueidentifier='2506d0dc-8df8-40ff-9ab2-20e68878e9ef'
declare @agentid uniqueidentifier='4F34188A-F894-46C9-90A5-087F44F89B40'
declare @from datetime=CAST(getdate() as date)
declare @to datetime=getdate()
*/
	DECLARE @Result AS INT
	DECLARE @LastTime as datetime
	DECLARE @LastStatus as int

	
	SELECT @Result =
	
	(
	(SELECT ISNULL(SUM(Duration),0) FROM icc.dbo.AgentEvent WITH (NOLOCK) WHERE AgentId = @AGENTID 
	AND EventType = 'AgentStatus' AND ReferenceId = @STATEID AND TimeLocal >= @FROM AND TimeLocal <= @TO))
		RETURN @Result
	
	end



