/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime
DECLARE @to AS datetime
--SET @from=convert(datetime, '2016.04.25 00:00')
--SET @to=convert(datetime, '2016.04.26 06:00')
SET @from=GETDATE()-1
SET @to=GETDATE()

SELECT TOP 1000 [MessageId]
      ,[TimeUtc]
      ,[MessageType]
      ,[MessagePhase]
      ,[MessageResult]
      ,[DeliverySystemId]
      ,[FromField]
      ,[RemoteAddress]
      ,[ToField]
      ,[ToCcField]
      ,[ToBccField]
      ,[GatewayId]
      ,[PhoneNumberId]
      ,[ContactId]
      ,[Priority]
      ,[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
      ,[DraftTime]
      ,[ReceivedSentTime]
      ,[ReadConfirmedTime]
      ,[AcceptedTime]
      ,[AnsweringTime]
      ,[EndTime]
      ,[Direction]
      ,[SubjectField]
      ,[BodyHtml]
      ,[BodyText]
      ,[ImrScriptAId]
      ,[ImrScriptBId]
      ,[ImrScriptWId]
      ,[ImrResponseA]
      ,[ImrResponseB]
      ,[ImrResponseW]
      ,[QueuePosition]
      ,[QueueLength]
      ,[RelatedMessageId]
      ,[CampaignId]
      ,[ScheduledTime]
      ,[AgentId]
      ,[TeamName]
      ,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[Eml]
      ,[RoutingDuration]
      ,[WorkDuration]
      ,[OpenDuration]
      ,[NetDuration]
      ,[IssueId]
      ,[Mark]
      ,[SpamLevel]
      ,[SignatureValidity]
      ,[CampaignImportId]
      ,[ExtendedFields]
  FROM [iCC].[dbo].[Message]
   WHERE 1=1
    AND TimeUTC>GETUTCDATE()-1
  --AND ReceivedSentTime >= @FROM AND ReceivedSentTime <= @TO
  AND MessageType='SMS'
   --AND IssueId IS NULL
  --AND RemoteAddress='tomaslizal@c-box.cz'
  --AND ToField='infolinka@dhl.com'
  --AND SubjectField LIKE 'Objednávka%'
  --FromField='import@bemeta.cz'
  --AgentId='1b7a47e4-4dc2-41df-b691-41964402612a'
  --AND MessagePhase='Draft'
  ORDER BY TimeUtc
