USE iCC
GO
SELECT TOP 1000 [PortalId]
      ,[HashPage]
      ,[DisplayName]
      ,[Description]
      ,[Glyph]
      ,[KbTagId]
      ,[NavGroup]
      ,[Rank]
      ,[TimeOut]
      ,[JsonData]
      ,[Title]
      ,[ExternalUrl]
  FROM .[dbo].[Portal]
  wHERE 1=1
   AND HashPage LIKE '%Archiv_Spravy%'
  --  AND JsonData LIKE '%ae9ad200-8e42-4e70-99a0-0658d008de2a%'
  ORDER BY HashPage