/****** Script for SelectTopNRows command from SSMS  ******/
/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime=convert(datetime, '2018.02.01')
DECLARE @to AS datetime=convert(datetime, '2018.02.28')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER='ef0de42d-e6c2-4719-a264-9447484f4c8b'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
USE iCC

SET @from=GETDATE()-1
SET @to=GETDATE()-2
SELECT TOP (10000) [ChatEventId]
      ,[TimeUtc]
      ,[TimeLocal]
      ,[EventType]
      ,[ChatId]
      ,[AgentId]
      ,[Text]
      ,[ReferenceData]
      ,[ReferenceId]
      ,[ResultData]
      ,[ConfirmTimeUtc]
      ,[ActorId]
  FROM [iCC].[dbo].[ChatEvent] WHERE 1=1
  AND  TimeUTC>@from
  AND Chatid='91264EDF-18D6-EC11-83A2-A4BF016EAF17'
  ORDER BY TimeUtc DESC