/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 *
  FROM [iCC].[dbo].[ScreenControlParameter]  SCP
    INNER JOIN .[dbo].ScreenControl SC ON SC.ScreenControlId=SCP.ScreenControlId
  WHERE 
    SCP.DisplayName='A:Nyní'
	AND ControlType='ActionButtons'
  --ScreenControlId='00ff0504-487e-4ad6-9202-f8187a0c731c'
  ORDER BY SCP.DisplayName --ScreenControlId,