/****** Script for SelectTopNRows command from SSMS  ******/
USE iCC
GO
DECLARE @from AS datetime=convert(datetime, '2019.07.01')
DECLARE @to AS datetime=convert(datetime, '2019.08.01')
DECLARE @LastTime AS bit=1
IF @LastTime=1
 BEGIN
    SET @from=DATEADD(DAY,-7,GETDATE())
    SET @to=GETDATE()
  END
DECLARE @Id AS NVARCHAR(34)='c363c96c-8991-444c-806d-53cfb0775c14' -- Paní Grolichová
--DECLARE @Id2 AS NVARCHAR(34)='05bef340-78fb-46d0-a4bb-736ae8aea8ed' -- Datart.CZ 
DECLARE @Id2 AS NVARCHAR(34)='c1b64cb6-843d-436f-b88c-d7e739a25f26' -- Datart.SK 

SELECT TOP 1000 [WebAdminEventId]
      ,AG.DisplayName AS AgentName
      ,[TimeUtc]
      ,[TableNames]
      ,[RefInserts]
      ,[RefUpdates]
      ,[RefDeletes]
      --,[AgentId]
  FROM .[dbo].[WebAdminEvent] WAE
    LEFT JOIN .[dbo].Agent AG ON AG.AgentId=WAE.AgentId
   WHERE 1=1
     AND TableNames='Configuration'--'Skill'
	 AND (RefUpdates LIKE '%GdprSuspend%')
   --AND (RefInserts LIKE '%'+@Id+'%' OR RefUpdates LIKE '%'+@Id+'%' OR RefDeletes LIKE '%'+@Id+'%')
   --AND (RefInserts LIKE '%'+@Id2+'%' OR RefUpdates LIKE '%'+@Id2+'%' OR RefDeletes LIKE '%'+@Id2+'%')
   AND TimeUTC>@From AND TimeUTC<@to
   ORDER BY TimeUTC DESC

 -- [{"ChangeRequestId":"7fa1e143-fe88-e911-a0bd-0050569fcccf","ChangeRequestTimeUtc":"2019-06-07T08:28:51.5678447Z","Command":"OutboundListImport_Prepare","Text":"{\"CodePage\":1250,\"Delimiter\":\";\",\"ScenarioId\":\"cf5fb5ef-56e1-4250-aa38-80c9a78c44f8\",\"ImportAsDraft\":false,\"Predistributed\":false,\"TimeMode\":null,\"TimeFrom\":null,\"TimeTo\":null,\"StartRank\":3941}","Number":409320,"TimeUtc":null,"ReferenceId":null,"SubjectId":null,"DataId":null,"ActorId":"965394a0-8299-4fb7-b3aa-dcc26ea50d26","Result":0,"Done":false,"InProgress":false}]
 -- [{"OutboundListId":"b1dabd7e-638a-445f-9bf4-2c92e10e4438","DisplayName":"Navolávačka KON","Description":null,"Activity":"Scheduled","ProjectId":"7c167c89-35fd-4c30-b00d-9a46d93e5d83","Skill":0,"LanguageId":null,"Proficiency":null,"Priority":30,"TimeZoneId":null,"BusyOffset":19800,"NoAnswerOffset":19800,"FailedOffset":null,"TalkErrorOffset":null,"MaxTrials":3,"Deleted":false,"PreCall":null,"ManualDistribution":null,"ToContinueOffset":19800,"LostOffset":null,"RankBatch":null,"AnswerPrediction":null,"AnswerRate":null,"AnswerMargin":-200,"PredictorId":"71848f02-e912-43c7-9984-6d0d18010578","AvgCallDuration":null,"AvgCallLeadTime":19,"CallsSpawned":0,"PartialCallsToSpawn":6,"ReducedCallsToSpawn":0,"PartialFreeAgents":3,"ReducedFreeAgents":3,"PartialBusyAgents":0,"Throttling":0,"StatsTimeUtc":"2019-06-07T08:36:50.74"}]