DECLARE @IVRId AS UniqueIdentifier= 'ae3abe64-2b2b-4c29-82f7-4cc2350c6ce4'
IF 1=1
  BEGIN
	SELECT TOP 10 *  FROM [iCC].[dbo].[IvrScript] WHERE [IvrScriptId]=@IVRId
	SELECT TOP 10 *  FROM [iCC].[dbo].[IvrStep] WHERE [TargetId]=@IVRId
	SELECT TOP 10 *  FROM [iCC].[dbo].[PreCondition] WHERE IvrScriptAId=@IVRId
	SELECT TOP 10 *  FROM [iCC].[dbo].[PostCondition] WHERE IvrScriptBId=@IVRId
	SELECT TOP 10 *  FROM [iCC].[dbo].[WaitPostCondition] WHERE IvrScriptWId=@IVRId
	SELECT TOP 10 *  FROM [iCC].[dbo].[Configuration] WHERE ConfigurationValue LIKE @IVRId
  END
IF 1=1 -- Chybějící IVR skript
  BEGIN
	SELECT TOP 10 *  FROM [iCC].[dbo].[PreCondition] PC
	  LEFT JOIN [iCC].[dbo].[IvrScript] IVR ON IVR.[IvrScriptId]=PC.[IvrScriptAId]
	 WHERE PC.[IvrScriptAId] IS NOT NULL AND IVR.[IvrScriptId] IS NULL OR IVR.Deleted=1

	 SELECT TOP 10 *  FROM [iCC].[dbo].[PostCondition] PC
	  LEFT JOIN [iCC].[dbo].[IvrScript] IVR ON IVR.[IvrScriptId]=PC.[IvrScriptBId]
	 WHERE PC.[IvrScriptBId] IS NOT NULL AND IVR.[IvrScriptId] IS NULL OR IVR.Deleted=1

	 SELECT TOP 10 *  FROM [iCC].[dbo].[WaitPostCondition] PC
	  LEFT JOIN [iCC].[dbo].[IvrScript] IVR ON IVR.[IvrScriptId]=PC.[IvrScriptWId]
	 WHERE PC.[IvrScriptWId] IS NOT NULL AND IVR.[IvrScriptId] IS NULL OR IVR.Deleted=1

	 SELECT TOP 100 *  FROM [iCC].[dbo].[IvrStep] PC
	  LEFT JOIN [iCC].[dbo].[IvrScript] IVR ON IVR.[IvrScriptId]=PC.[TargetId]
	  LEFT JOIN [iCC].[dbo].[IvrScript] IVRP ON IVRP.[IvrScriptId]=PC.[IvrScriptId]
	 WHERE PC.Deleted=0 AND IVRP.Deleted=0 AND (PC.[TargetId] IS NOT NULL AND IVR.[IvrScriptId] IS NULL OR IVR.Deleted=1)

 END
