/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000
      SCR.TimeUtc
      ,ME.ReceivedSentTime
	  ,ME.MessageId
	  ,ME.Direction
	   ,ISU.AgentId
	   ,ISU.NewTime
      --,ISU.IssueId
      ,SCR.IssueId
      ,SCRV.ScenarioResultId
      --,SCR.ScenarioResultId
      ,[ScreenControlId]
      ,[ResultNumber]
      ,[ResultText]
      ,[ResultNumeric]
      ,[ResultTime]
      ,[TargetColumn]
  FROM [iCC].[dbo].[ScenarioResultValue] SCRV
    LEFT JOIN [iCC].[dbo].[ScenarioResult] SCR ON SCRV.ScenarioResultId=SCR.ScenarioResultId
    LEFT JOIN [iCC].[dbo].[ISSUE] ISU ON ISU.FormDataId=SCR.ScenarioResultId
	LEFT JOIN [iCC].[dbo].[Message] ME ON ME.IssueId=ISU.IssueId
   WHERE ScenarioResultValueId IS NOT NULL
   AND TargetColumn='StateSupport' 
    AND SCR.TimeUTC>GETDATE()-1
    --AND ResultTime>GETDATE()-1
   --AND ME.ReceivedSentTime IS NOT NULL
   --AND ResultText='7002882627'
   --AND ISU.AgentId='010e4dcc-37d1-4e37-966f-e94283ea4384'
   --AND ISU.NewTime>GETDATE()-10
   --AND SCR.InboundCallId='adf4cbb9-683b-ea11-8c6c-00155d62c402'
   ORDER BY SCR.TimeUtc
