/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ScreenControlId]
      , SCR.DisplayName AS SCRName
      ,SCR.[ScreenId]
      ,SCC.[DisplayName]
      --,[Description]
      ,[TargetColumn]
      --,[Rank]
      ,[ControlType]
      ,[ControlNumber]
      ,[ControlText]
      ,[ReadOnly]
      ,[MandatoryField]
      ,[ShowInList]
      --,[Deleted]
      ,[GdprSensitivity]
      ,[ExportField]
  FROM [iCC].[dbo].[ScreenControl] SCC
    LEFT JOIN [iCC].[dbo].[Screen] SCR ON SCC.ScreenId=SCR.ScreenId
	WHERE  SCC.Displayname='Region' AND SCC.Deleted=0 AND SCR.Deleted=0
  --ScreenControlId='0DEF7303-7D46-4E83-B564-C717191819AD'
  ORDER BY SCR.ScreenId