/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [VoiceRecordId]
      ,[PortId]
      ,[DirectoryId]
      ,[ExtensionId]
      ,[StorageId]
      ,[TimeUtc]
      ,[StartTimeUtc]
      ,[EndTimeUtc]
      ,[FileName]
      ,[RecordData]
      ,[Direction]
      ,[LocalNumber]
      ,[LocalName]
      ,[RemoteNumber]
      ,[RemoteName]
      ,[ExtensionNumber]
      ,[ExtensionName]
      ,[RetentionTimeUtc]
      ,[AgentName]
      ,[StationName]
      ,[ExecutedHorizon]
      ,[CallResult]
      ,[CallState]
      ,[ConversionState]
      ,[FileDeleted]
      ,[OriginalName]
      ,[GroupName]
      --,[TeamName]
  FROM [SRec].[dbo].[VoiceRecord]
  WHERE 1=1
  --AND LocalNumber='511'
  AND TimeUtc>convert(datetime, '2018.12.13')
  AND RemoteNumber='0730848822'
  --AND AgentName IS NULL
  AND Direction='I'