/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime=CONVERT(datetime,'2018-02-08 07:00:00')
DECLARE @to AS datetime=CONVERT(datetime,'2018-02-08 17:00:00')
DECLARE @today AS date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @now AS datetime=GETDATE()
DECLARE @LastCall AS datetime=CONVERT(datetime,'2017-06-05 11:22:53.360')
DECLARE @MeAgentId AS uniqueidentifier='86447ae2-cea9-4687-a0ef-ed27e302d741' 
DECLARE @InBoundCallId AS uniqueidentifier='9914543a-cf96-e711-9969-0050568e4c40' 
DECLARE @NullId AS UniqueIdentifier= '00000000-0000-0000-0000-000000000000'
DECLARE @LastDay AS date=GETDATE()-1


SET @from=GETDATE()-0.3
SET @to=GETDATE()
/**/
SELECT TOP (1000) --[AgentEventId]
      --,[TimeUtc]
      [TimeLocal]
	  ,[Duration]
      ,[EventType]
      ,AG.DisplayName AS AgentName
      --,[TeamName]
      --,[WorkplaceId]
      ,[ProjectId]
      ,[ReferenceData]
      ,[ReferenceId]
      ,[ResultData]
      ,[Actor]
  FROM [iCC].[dbo].[AgentEvent] AE
    LEFT JOIN [iCC].[dbo].[Agent] AG ON AG.AgentId=AE.AgentId
  WHERE 1=1
   --AND TimeLocal> @LastDay
   AND CAST(TimeLocal AS DATE) = CAST(@From AS DATE)
   --AND AE.AgentId=@MeAgentId
   AND ReferenceData='Logoff'
   AND Actor<>'RESET'
  AND AE.ResultData='Phone'
   --AND Duration IS NULL 
   ORDER BY TimeLocal