/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ScenarioId]
      ,[DisplayName]
      ,[Description]
      ,[GroupName]
      ,[OnSaveSqlCmd]
      ,[OnCreateSqlCmd]
      ,[Deleted]
      ,[GdprInheritInboundCall]
      ,[GdprInheritOutboundCall]
      ,[GdprInheritMessage]
      ,[GdprInheritChat]
      ,[GdprInheritIssue]
      ,[GdprInheritContact]
      ,[LogLevel]
  FROM [iCC].[dbo].[Scenario] WHERE ScenarioId='F6FB5262-DA7A-4445-A4E9-72F1629C0BF4'