/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime=convert(datetime, '2015.11.01')
DECLARE @to AS datetime=convert(datetime, '2015.11.01')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER='ef0de42d-e6c2-4719-a264-9447484f4c8b'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1


SET @from=GETDATE()-0.2
SET @to=GETDATE()

SELECT TOP 1000 [ChangeRequestId]
      ,[ChangeRequestTimeUtc]
      ,[Command]
      ,[Text]
      ,[Number]
      ,[TimeUtc]
      ,[ReferenceId]
      ,[SubjectId]
      ,[DataId]
      ,[ActorId]
      ,[Result]
      ,[Done]
      ,[InProgress]
  FROM [iCC].[dbo].[ChangeRequest]
  WHERE ChangeRequestTimeUTC>@from
  ORDER BY ChangeRequestTimeUTC