/****** Script for SelectTopNRows command from SSMS  ******/
USE iCC --Frontstage
GO
SELECT TOP (1000) [LiteralGroup]
      ,[LiteralValue]
      ,[Culture]
      ,[LiteralText]
      ,[DisplayName]
      ,[Description]
      ,[Changed]
  FROM .[dbo].[LiteralLookup] WHERE 1=1
  --AND LiteralGroup=26--49--102 -- 44
  --AND Culture='cs-CZ'
  --AND LiteralValue=43
  AND LiteralText='%DC_Default%'--'SingleDay'
  --AND DisplayName LIKE '%handling%'
  --
  -- 44
  SELECT * FROM Perso WHERE 1=1
  AND JsonData Like 'finitions":[{"DisplayNa%'