/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [FileRecordId]
      ,[OriginalName]
      ,[Name]
      ,[Content]
      ,[FtpTime]
      ,[Time]
      ,[Length]
      ,[Device]
      ,[Number0]
      ,[Number1]
      ,[Number2]
      ,[Direction]
      ,[LocalNumber]
      ,[DateDownload]
      ,[NoDelete]
      ,[Trunk]
      ,[Number1Filter]
      ,[AgentName]
      ,[StationName]
  FROM [ProNGX].[dbo].[FileRecord]
  WHERE 1=1
  AND Time>CONVERT(Date,'2017.10.25')
  
  AND Number1='730181100'