/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MessageId]
,SubjectField
,TeamName 
, AgentId 
,CampaignId 
,ProjectId 
,LanguageId
      ,[TimeUtc]
	  ,[SubjectField]
      ,[MessageType]
      ,[MessagePhase]
      ,[MessageResult]
      --,[DeliverySystemId]
      ,[FromField]
      ,[RemoteAddress]
      ,[ToField]
      ,[ToCcField]
      --,[ToBccField]
      ,[GatewayId]
      --,[PhoneNumberId]
      ,[ContactId]
      ,[Priority]
      ,[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
      ,[DraftTime]
      ,[ReceivedSentTime]
      ,[ReadConfirmedTime]
      ,[AcceptedTime]
      ,[AnsweringTime]
      ,[EndTime]
      ,[Direction]
      ,[BodyHtml]
      ,[BodyText]
      ,[ImrScriptAId]
      ,[ImrScriptBId]
      ,[ImrScriptWId]
      ,[ImrResponseA]
      ,[ImrResponseB]
      ,[ImrResponseW]
      ,[QueuePosition]
      ,[QueueLength]
      ,[RelatedMessageId]
      ,[CampaignId]
      ,[ScheduledTime]
      ,[AgentId]
      ,[TeamName]
      ,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[Eml]
      ,[RoutingDuration]
      ,[WorkDuration]
      ,[OpenDuration]
      ,[NetDuration]
      ,[IssueId]
      ,[Mark]
      ,[SpamLevel]
      ,[SignatureValidity]
      ,[CampaignImportId]
      ,[ExtendedFields]
  FROM [iCC].[dbo].[Message]
  WHERE MessageType Like 'Tmp%' AND MessageResult = 'Active'
   -- AND TeamName='CZ'
  --AND AgentId='22b7b5b2-fbbd-4577-a995-e5847ed7de1e'
  --RemoteAddress='import@bemeta.cz'
    --AND MessageId='833f3691-3eb6-e611-80f3-f8bc1253a1a4'
  --AND BodyText LIKE '%dpd.com%'
  AND BodyHtml LIKE '%dpd.com/%'
  AND SubjectField LIKE '%DPD%'
  --FromField='import@bemeta.cz'
  ORDER BY TimeUtc
  