/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ConfigurationId]
      ,[ConfigurationName]
      ,[ConfigurationValue]
      ,[Description]
      ,[GroupName]
  FROM .[dbo].[Configuration]
  WHERE 1=1
    --AND ConfigurationId LIKE '1b4815a6-5402-43c1-ae5b%'
    --AND GroupName='Zakaznik'
	--AND Description LIKE '%zavř%'
   --AND ConfigurationName LIKE  '%Company%'
   --AND ConfigurationValue  LIKE  '%172%'
  --AND (ConfigurationName='IssueLookupBlockOutbound' OR ConfigurationName='ExistingIssueManuallyForOutbound')
  ORDER BY ConfigurationName
