/****** Script for SelectTopNRows command from SSMS  ******/

SELECT TOP (30) --[AttachmentId]
      ME.ReceivedSentTime
	  , ME.SubjectField
	  ,[ContentSize]
      ,[DisplayName]
	  ,ATC.[MessageId]
      ,[Mode]
      --,[BinaryContent]
      ,[FileName]
      ,[MediaType]
      ,[ContentId]
      ,[PartIndex]
 
      --,[SignatureValidity]
  FROM [iCC].[dbo].[Attachment] ATC
    LEFT JOIN [iCC].[dbo].Message ME ON ATC.MessageId=ME.MessageId

  where ContentSize IS NOT NULL
     AND ATC.MessageId='f77b7338-028a-ea11-80c7-0050568fafc3'
	 -- AND Filename LIKE 'Print%'
      ORDER BY ME.ReceivedSentTime DESC 
 