/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [StatusId]
      ,[DisplayName]
      ,[Description]
      ,[Color]
      ,[Activity]
      ,[PbxState]
      ,[CstaState]
      ,[DefaultStatus]
      ,[TeamMask]
      ,[CallPreDistribute]
      ,[EmailDistribute]
      ,[SmsDistribute]
      ,[FaxDistribute]
      ,[UserBlocked]
      ,[PbxInKnowledgeOffset]
      ,[EmailKnowledgeOffset]
      ,[SmsKnowledgeOffset]
      ,[FaxKnowledgeOffset]
      ,[BusinessIMKnowledgeOffset]
      ,[SocialWallKnowledgeOffset]
      ,[SocialIMKnowledgeOffset]
      ,[SocialMsgKnowledgeOffset]
      ,[WebIMKnowledgeOffset]
      ,[PbxOutKnowledgeOffset]
      ,[VisitorKnowledgeOffset]
      ,[Deleted]
      ,[IMDistribute]
      ,[SocialWallDistribute]
      ,[SocialMsgDistribute]
      ,[IvrCode]
  FROM [iCC].[dbo].[Status]
  WHERE StatusId='E8AD6B58-B5CC-478F-9BAE-D6C8D8DC1AAE'