USE iCC
SELECT TOP 100 ISU.[IssueId]
      ,PROJ.DisplayName AS Projekt
      ,[TimeLocal]
      ,[EventType]
      ,IE.[AgentId]
      ,AG.DisplayName AS AgentName
      ,[ReferenceData]
      ,[ReferenceId]
	  ,ContactId
  FROM [iCC].[dbo].[IssueEvent] IE
     LEFT JOIN Issue ISU ON ISU.IssueId=IE.IssueId
	 LEFT JOIN Project PROJ ON PROJ.ProjectId=ISU.ProjectId
	 LEFT JOIN Agent AG ON IE.AgentId=AG.AgentId
  WHERE 1=1
  --IE.IssueId='0a2ba508-4dd0-e811-80c8-005056b84c65'
   AND EventType LIKE '%change%'
   AND ReferenceData='PhaseTransition'

  ORDER BY Timelocal DESC