/****** Script for SelectTopNRows command from SSMS  ******/

SELECT TOP 50 *
  FROM [ProNGX].[dbo].[FileRecord] WHERE FtpTime > GETDATE()-38
  AND LocalNumber='404'
  AND Direction='O'
  AND Number1='604116705'
  --OriginalName LIKE '%O-201612011359-404-607127081%'
  ORDER BY FtpTime