/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [VoiceRecordId]
      ,IIF(FR.StartTimeUTC BETWEEN OC.TimeUTC-0.0015 AND OC.TimeUTC+0.0015,'V ROZSAHU','MIMO') AS Obdobi
	  ,FR.TimeUTC AS FrTime
	  ,OC.TimeUTC AS OCTime
	  ,DATEDIFF(second,starttimeutc,endtimeutc) AS FRCallDuration
	  ,OC.RegionalTime
      ,[PortId]
      ,[DirectoryId]
      ,[ExtensionId]
      ,[StorageId]
      ,[StartTimeUtc]
      ,[EndTimeUtc]
      ,[FileName]
      ,[RecordData]
      ,[Direction]
      ,[LocalNumber]
      ,[LocalName]
      ,[RemoteNumber]
      ,[RemoteName]
      ,[ExtensionNumber]
      ,[ExtensionName]
      ,[RetentionTimeUtc]
      ,[AgentName]
      ,[StationName]
      ,[ExecutedHorizon]
      ,[CallState]
      ,[ConversionState]
      ,[FileDeleted]
      ,[OriginalName]
      ,[GroupName]
  FROM [SRec].[dbo].[VoiceRecord] FR
  LEFT JOIN iCC.dbo.OutboundCall OC ON FR.RemoteNumber=OC.CallerNumber
  WHERE RemoteNumber='0606192292'
  AND Direction='O'