/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime=convert(datetime, '2017.09.01')
DECLARE @to AS datetime=convert(datetime, '2017.10.28')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER='ef0de42d-e6c2-4719-a264-9447484f4c8b'
DECLARE @NullId AS UniqueIdentifier= '00000000-0000-0000-0000-000000000000'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Interval AS Integer=14
DECLARE @SL AS Integer=1


SELECT TOP 1000 
/*
  NewTime,
  --Callernumber AS Volajici,
  TPC.DisplayName AS Topic,
  SBT.DisplayName AS SubTopic,
  --PH.DisplayName AS Stav,
  --FormDataId,
  iCC.dbo.GetScenarioResultFullText(SCR.ScenarioResultId) AS Stav,
  --IIF(SCR.ScenarioId='A50D09D3-900D-4FA3-A137-D1A9BE69C19C',,) AS Stav,

  ISU.IssueId,
  ISU.TopicId
   */
      ISU.[IssueId]
      ,ISU.[TimeUtc]
      ,ISU.[DisplayName]
      ,ISU.[Activity]
      ,[PhaseId]
      ,[Priority]
      ,ISU.[TopicId]
      ,ISU.[SubTopicId]
      ,ISU.[AgentId]
      ,[TeamName]
      ,[OriginalProjectId]
      ,[ProjectId]
      ,[LanguageId]
      ,ISU.[ContactId]
      ,[FormDataId]
      ,[BodyHtml]
      ,[NewTime]
      ,[OpenTime]
      ,[HoldTime]
      ,[WaitTime]
      ,[CloseTime]
      ,[NewClosed]
      ,[Reactivated]
      ,[Escalated]
      ,ISU.[Correlation]
      ,[OpenDuration]
      ,[NetDuration]
      ,[Mark]
      ,[IssueKey]
  FROM [iCC].[dbo].[Issue] ISU
       LEFT JOIN Topic TPC ON TPC.TopicId=ISU.TopicId
	   LEFT JOIN SubTopic SBT ON SBT.SubTopicId=ISU.SubTopicId
	   LEFT JOIN ScenarioResult SCR ON ISU.FormDataId=SCR.ScenarioResultId
	   --LEFT JOIN Phase PH ON PH.PhaseId=ISU.PhaseId
	  -- LEFT JOIN InboundCall IC ON IC.IssueId=ISU.IssueId
  WHERE NewTime>@from AND NewTime<@To
    --AND ISU.ProjectId='222B7323-41A9-4C4C-8E40-A596EC70E936'
	ORDER BY ISU.NewTime