/****** Script for SelectTopNRows command from SSMS  ******/
USE iCC
GO
DECLARE @from AS date=convert(datetime, '2017.06.26')
DECLARE @to AS date=convert(datetime, '2017.06.27')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER=(SELECT TOP 1 AgentId FROM Agent WHERE Activity='Ready')
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Number AS integer
DECLARE @GroupInterval AS integer=1440
DECLARE @RoundInterval AS integer=@GroupInterval
DECLARE @Version  AS integer=1
DECLARE @LastTime AS bit=1

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Day,-5,GETDATE())
    SET @to=GETDATE()
  END
SELECT DISTINCT PilotAddress FROM (
SELECT TOP (1000) [MessageEventId]
      ,MEE.[TimeUtc]
	  ,GW.PilotAddress
      ,[TimeLocal]
      ,[EventType]
      ,MEE.[MessageId]
      --,[ProjectId]
      --,[AgentId]
      ,[ReferenceData]
      ,[ReferenceId]
      ,[Duration]
      ,[ResultData]
  FROM [iCC].[dbo].[MessageEvent] MEE
    LEFT JOIN [iCC].[dbo].Message ME ON ME.MessageId=MEE.MessageId
	LEFT JOIN [iCC].[dbo].Gateway GW ON GW.GatewayId=ME.GatewayId
  WHERE 1=1
    AND MEE.TimeUTC >= @FROM AND MEE.TimeUTC <= @TO
	AND ResultData LIKE 'Authentication unsuccessful %'
   --AND MessageId='5D939B44-828C-E711-AAA1-005056856B3D' 
   ) AS Phase1
  --ORDER BY PilotAddress