/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [IssueEventId]
      ,[TimeLocal]
	  , AG.DisplayName AS AgentName
	  ,IE.[AgentId]
      ,[EventType]
      ,[IssueId]
      ,[ReferenceData]
      ,[ReferenceId]
  FROM [iCC].[dbo].[IssueEvent] IE
     LEFT JOIN Agent AG ON AG.AgentId=IE.AgentId
   WHERE IssueId='1FFDBD6E-D687-E711-80D0-00505600003C'
  ORDER BY TimeLocal