/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ScreenId]
      ,[ScenarioId]
      ,[DisplayName]
      ,[Description]
      ,[Rank]
      ,[FinishButton]
      ,[SaveButton]
      ,[ConditionScreenControlId]
      ,[ConditionText]
      ,[Feature]
      ,[Deleted]
  FROM [iCC].[dbo].[Screen]
  WHERE 1=1
  AND DisplayName='VOC ASC2'