/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [PermissionId]
      ,[RoleId]
      ,[Degree]
	  , SC.DisplayName AS ScopeName
      --,[ScopeId]
      ,[AgentId]
      --,[TeamMask]
      ,[Supervisor]
      ,[ProjectId]
      ,[SkillMinimum]
      ,[SkillMaximum]
      --,[ProjectGroupMask]
      ,[LanguageId]
  FROM [iCC].[dbo].[Permission] PE
  LEFT JOIN Scope SC ON SC.Scopeid=PE.Scopeid
  WHERE 1=1
  AND PermissionId LIKE '2bcb0196-72fd-4d5c%'
    --AND RoleId='17A91897-FB7F-4C18-8542-12888F09E414'
    --AND ScopeId='9D9C6BA2-F4DD-46C3-BE08-6DA5CE56E168'