/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ProjectId]
      ,[ProjectGroupName]
      ,[ProjectTypeName]
      ,[DisplayName]
      ,[Description]
      ,[WaitingOffset]
      ,[EmailTimeOffset]
      ,[SmsTimeOffset]
      ,[FaxTimeOffset]
      ,[PostCallDelay]
      ,[PostCallStatusId]
      ,[InboundWrapDelay]
      ,[OutboundWrapDelay]
      ,[NormalCallDuration]
      ,[WarnCallDuration]
      ,[AlarmCallDuration]
      ,[ManualDispatch]
      ,[DialPrefix]
      ,[Deleted]
  FROM [iCC].[dbo].[Project]
  WHERE ProjectId IS NOT NULL
  AND DisplayName LIKE ('Digi - IN%')
  --ProjectId in ('084AF56D-C6AF-4101-B8C5-364C1BDD2AE9','74A8E8A8-FEF7-45E4-B0BA-68D2AF7A3295')