/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [IssueId]
      ,[TimeUtc]
      ,PH.[DisplayName] AS Phase
      ,ISU.[Activity]
      ,[Priority]
       ,AG.DisplayName AS Agent
      ,ISU.[TeamName]
	       ,ISU.[TopicId]
      ,[SubTopicId]

      ,[OriginalProjectId]
      ,[ProjectId]
      ,[LanguageId]
      ,[ContactId]
      ,[FormDataId]
      ,[BodyHtml]
      ,[NewTime]
      ,[OpenTime]
      ,[HoldTime]
      ,[WaitTime]
      ,[CloseTime]
      ,[NewClosed]
      ,[Reactivated]
      ,[Escalated]
      ,[OpenDuration]
      ,[NetDuration]
      ,[Mark]
      ,[IssueKey]
  FROM [iCC].[dbo].[Issue] ISU
    LEFT JOIN Phase PH ON PH.PhaseId=ISU.PhaseId
    LEFT JOIN Agent AG ON AG.AgentId=ISU.AgentId
	LEFT JOIN iCC.dbo.ScenarioResultvalue AS SRV with (nolock) ON ISU.FormDataId=SRV.ScenarioResultId

   WHERE IssueId IS NOT NULL
  AND PH.[DisplayName] LIKE 'Vyřešeno%'
  AND AG.DisplayName= 'Bajnoková Marcela'
  AND TimeUtc>GETDATE()-60
  ORDER BY TimeUtc DESC