USE iCC
GO
DECLARE @from AS date=convert(datetime, '2017.06.26')
DECLARE @to AS date=convert(datetime, '2017.06.27')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER=(SELECT TOP 1 AgentId FROM Agent WHERE Activity='Ready')
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Number AS integer
DECLARE @GroupInterval AS integer=1440
DECLARE @RoundInterval AS integer=@GroupInterval
DECLARE @Version  AS integer=1
DECLARE @LastTime AS bit=1

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Day,-10,GETDATE())
    SET @to=GETDATE()
  END

SELECT 
--DISTINCT
TOP 1000
      [GatewayId],
     [BodyText],
  convert(varchar(max),EML) AS EML,
    [ContactId],
	RemoteAddress,
  [RelatedMessageId]
  ,ME.AgentId
    ,Me.[MessagePhase]
      ,ME.[MessageId]
	  ,ME.ReceivedSentTime
      ,ME.[TimeUtc]
	  , MEE.TimeLocal AS CasPrirazeni,
      MEE.ResultData
	  ,[RelatedMessageId]
	  ,[SubjectField]
      ,[MessageType]

      ,[MessageResult]
      --,[DeliverySystemId]
      ,[FromField]
      ,[RemoteAddress]
      ,[ToField]
      ,[ToCcField]
      --,[ToBccField]
      --,[PhoneNumberId]
      ,[Priority]
      ,ME.[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
      ,[DraftTime]
      ,[ReceivedSentTime]
      ,[ReadConfirmedTime]
      ,[AcceptedTime]
      ,[AnsweringTime]
      ,[EndTime]
      ,[Direction]
      ,[BodyHtml]
      ,[ImrScriptAId]
      ,[ImrScriptBId]
      ,[ImrScriptWId]
      ,[ImrResponseA]
      ,[ImrResponseB]
      ,[ImrResponseW]
      ,[QueuePosition]
      ,[QueueLength]
      ,[CampaignId]
      ,[ScheduledTime]
      --,[AgentId]
      --,[TeamName]
      --,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[Eml]
      ,[RoutingDuration]
      ,[WorkDuration]
      ,[OpenDuration]
      ,[NetDuration]
      ,[IssueId]
      ,[Mark]
      ,[SpamLevel]
      ,[SignatureValidity]
      ,[CampaignImportId]
      ,[ExtendedFields]
	  ,ToBccField 
	  	  /* */
  FROM [iCC].[dbo].[Message] ME
    LEFT JOIN iCC.dbo.Agent AS A ON A.AgentId=ME.AgentId
    LEFT JOIN iCC.dbo.MessageEvent as MEE with (NOLOCK) on ME.MessageId=MEE.MessageId AND MEE.EventType='Assigned'
   
  WHERE 1=1
    --AND DATEDIFF(DD,ReceivedSentTime,ME.TimeUtc)>2
	AND ME.MessageId='6135a434-7fd8-e811-85d9-0050568e4c40'
   --AND ME.TimeUtc>@from
   --AND ME.BodyText LIKE '  Dobrý den, pane Třísko,%'
   --AND IssueId='5b7a60d9-c326-e811-8508-0050568e4c40'
   --AND BodyHtml LIKE '%Štěpánková%'
   --AND ME.ProjectId='005EBA6E-949A-4732-8492-D371DE0D8BCF' -- SPAM
    --AND MessageType='Note'
	--AND SpamLevel>=1 
	--AND A.DisplayName LIKE '%Fuks%'
  --AND RemoteAddress='homolka@atlantis.cz'
  --AND ToField='infolinka@dhl.com'
  --AND SubjectField LIKE 'Auto%'
  --AND Direction='I'
  --AND ME.AgentId IS  NULL
  --AND RelatedMessageId IS NOT NULL
  --FromField='import@bemeta.cz'
   --AND ME.MessageId='97d7080e-6041-e811-9877-0050568e4c40'  
   --AND ME.AgentId='6d3be5af-8397-4a08-93eb-e2fb9930e34d'  BEE69283-5EE2-E611-96AD-0050568E4C40
  --AND MessagePhase='Draft'
  ORDER BY TimeUtc
   /*
  AND MessageId IN (
  '11B1DCD1-50B2-E611-BF8E-0050568E62E5',
  'C7249BFB-AB3D-E611-86FB-0050568E62E5',
  'BF249BFB-AB3D-E611-86FB-0050568E62E5',
  '784D77D1-AB3D-E611-86FB-0050568E62E5'

  ) */

