USE iCC
GO
SET DATEFORMAT ymd
DECLARE @from AS datetime=convert(datetime, '2017.06.26')
DECLARE @to AS datetime=convert(datetime, '2017.06.27')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER=(SELECT TOP 1 AgentId FROM Agent AG LEFT JOIN icc.dbo.Workplace AS W WITH(NOLOCK)  ON AG.WorkplaceId = W.WorkplaceId
WHERE Activity='Ready' AND w.State <> 'Free')
DECLARE @NullId AS UniqueIdentifier= '00000000-0000-0000-0000-000000000000'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Number AS integer
DECLARE @GroupInterval AS integer=1440
DECLARE @RoundInterval AS integer=@GroupInterval
DECLARE @Version  AS integer=1
DECLARE @LastTime AS bit=1

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Hour,-1,GETDATE())
    SET @to=GETDATE()
  END
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 --[WorkflowEventId]
      --,InstanceRefId
      --,[TimeUtc]
      [TimeLocal]
	  ,WFS.DisplayName AS StepName
	  ,WFS.Rank
	  ,WFS.ReferenceText
      ,[EventType]
      ,WFE.[WorkflowInstanceId]
      ,WFE.[WorkflowStepId]
      ,[ReferenceData]
      ,wFE.[ReferenceId]
      ,[Duration]
  FROM [iCC].[dbo].[WorkflowEvent] WFE
   LEFT JOIN [iCC].[dbo].[WorkflowInstance] WFI ON WFI.WorkflowInstanceId=WFE.WorkflowInstanceId
   LEFT JOIN [iCC].[dbo].[WorkflowStep] WFS ON WFS.WorkflowStepId=WFE.WorkflowStepId
  WHERE 1=1
  --AND WorkflowStepId='850f8665-8d49-e911-80cc-8416f9021c38'--'3a741da1-a120-ea11-80d5-8416f9021c38'
  -- AND ReferenceId='4bfca4fc-cf20-ea11-80d5-8416f9021c38'
  --  AND ReferenceData='4bfca4fc-cf20-ea11-80d5-8416f9021c38'
    AND InstanceRefId='4bfca4fc-cf20-ea11-80d5-8416f9021c38'
  --AND Timelocal> @from
  ORDER BY Timelocal