/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime = convert(datetime, '2024.04.24 13:42')
DECLARE @to AS datetime = convert(datetime, '2024.04.24 13:45')
DECLARE @AgentId AS UniqueIdentifier = '4feec0ab-e6ca-4f61-b568-1324f0cdb7d1' -- 
--SET @AgentId='104b4983-1b0d-4d82-b428-fc3fbef4fc06'
--SET @from=GETDATE()-1
--SET @to=GETDATE()
/**/
SELECT TOP 10 --
      [RegionalTime]
	  ,[EndTime]
	  ,AE.TimeLocal AS PostCallTime
	  --,AE2.TimeLocal AS AgentWarnTime
	  ,AG.DisplayName AS AgentName
	  ,PR.DisplayName AS ProjectName
	  ,PR.PostCallDelay
	  ,[CallerNumber]
	  ,[OutboundCallId]
      ,[RingDuration]
      ,[CallDuration]      
      --,[TimeUtc]
      ,[CallType]
      ,[CallPhase]
      ,[CallResult]
      ,[AppResult]
      ,[PbxCallId]
      ,[OutboundListId]
      ,[Priority]
      --,[DisplayName]
      ,[PhoneNumberId]
      ,[ContactId]
      --,[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
      ,[Rank]
      ,[GroupNumber]
      ,[TimeMode]
      ,[TimeFrom]
      ,[TimeTo]
      ,[EnqueueingTime]
      ,[ScheduleTime]      
      ,[DistributionTime]
      ,[AnswerTime]
      ,[AppResultTime]
      ,[PostCallEndTime]
      ,[Trial]
      --,[AgentId]
      --,[TeamName]
      ,[Predistributed]
      --,[WorkplaceId]
      --,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[OutboundListImportId]
      ,[HoldDuration]
      ,[PcpWrapDuration]
      ,[IssueId]
      ,[ChainingId]
      ,[ConditionLevel]
      ,[Mark]
      ,[IvrScriptAId]
      ,[IvrScriptATime]
      ,[IvrResponseA]
      ,[TransferredTo]
      ,[DialTime]
      ,[CallResultDetailId]
      ,[ExtendedFields]
  FROM [iCC].[dbo].[OutboundCall] OC
    LEFT JOIN [iCC].[dbo].[AgentEvent] AE ON OC.AgentId=AE.AgentId AND AE.ReferenceData='PostCall' 
	AND AE.TimeLocal >= OC.EndTime AND AE.TimeLocal < DATEADD(SS,10,OC.EndTime)
	--LEFT JOIN [iCC].[dbo].[AgentEvent] AE2 ON OC.AgentId=AE2.AgentId AND AE2.EventType='AgentWarn' 
	--AND AE.TimeLocal >= OC.EndTime AND AE.TimeLocal < DATEADD(SS,10,OC.EndTime)
	LEFT JOIN [iCC].[dbo].[Project] PR ON PR.ProjectId=OC.ProjectId

	LEFT JOIN [iCC].[dbo].[Agent] AG ON AG.AgentId=OC.AgentId
  WHERE 1=1
  AND OC.AgentId IS NOT NULL
  AND OC.CallDuration IS NOT NULL
  AND OC.EndTime  IS NOT NULL
  --AND AE.TimeLocal IS NULL
  AND OC.ProjectId IS NOT NULL
  --AND OC.AgentId=@AgentId
  AND RegionalTime>@from AND RegionalTime<@To
  -- AND CallerNumber IS NOT NULL
  --AND CallerNumber ='0602348633'
  --AND CallPhase ='Canceled'
   -- AND CallResult ='Canceled'


   --AND PreferredAgentId=@AgentId
  --OR TimeUTC>GETDATE()-0.2
  --AND OutboundCallId IN ('1A59882F-D003-EF11-8100-A4BF01355AC2','4f146771-cdcd-e611-9f09-c81f66e8a47f')
  --AND TimeUTC>GETDATE()-5

  
  ORDER BY OC.TimeUTC DESC