/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [OutboundListImportId]
      ,[OutboundListId]
      ,[TimeUtc]
      ,[FileName]
      ,[ImportedCallsCount]
      ,[Deleted]
      ,[Active]
      ,[DefectiveCallsCount]
      ,[ChangeRequestId]
      ,[RankBarrier]
  FROM [iCC].[dbo].[OutboundListImport]
   WHERE 1=1
   --OutboundListId='143FB2A3-61BB-4B66-A08C-4B2B9B8C08CC' 
   AND Deleted=0
    AND Active=1
	AND TimeUTC<convert(datetime, '2019.01.01')
	AND [FS_Custom].dbo.[isOutboundImpComplete](OutboundListImportId)=1
   ORDER BY TimeUTC