/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [LiteralGroup]
      ,[LiteralValue]
      ,[Culture]
      ,[LiteralText]
      ,[DisplayName]
      ,[Description]
      ,[Changed]
  FROM [iCC].[dbo].[LiteralLookup] WHERE 1=1
  AND LiteralGroup=26--49--102 -- 44
  --AND Culture='cs-CZ'
  --AND LiteralValue=43
  --AND LiteralText='SingleDay'
  --AND DisplayName LIKE '%Jednorázově%'
  -- 44