SET DATEFORMAT ymd
DECLARE @from AS datetime=convert(datetime, '2024.05.29 15:35')
DECLARE @to AS datetime=convert(datetime, '2024.05.29 15:50')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @NullId AS UniqueIdentifier= '00000000-0000-0000-0000-000000000000'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Number AS integer
DECLARE @GroupInterval AS integer=1440
DECLARE @RoundInterval AS integer=@GroupInterval
DECLARE @Version  AS integer=1
DECLARE @LastTime AS bit=0

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Minute,-20,GETDATE())
    SET @to=GETDATE()
  END
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (100) [VoiceRecordId]
      ,[FileName]
      ,[PortId]
      ,[DirectoryId]
      ,[ExtensionId]
      ,[TimeUtc]
      ,[StartTimeUtc]
      ,[EndTimeUtc]
      ,[RecordData]
      ,[Direction]
      ,[LocalNumber]
      ,[LocalName]
      ,[RemoteNumber]
      ,[RemoteName]
      ,[ExtensionNumber]
      ,[ExtensionName]
      ,[RetentionTimeUtc]
      ,[AgentName]
      ,[StationName]
      ,[ExecutedHorizon]
      ,[CallResult]
      ,[CallState]
      ,[ConversionState]
      ,[FileDeleted]
      ,[OriginalName]
      ,[GroupName]
      ,[TeamName]
      ,[ExpirationTimeUtc]
      ,[GdprSensitivity]
      ,[DeviceRank]
      ,[AgentId]
      ,[CallId]
      ,[MediaType]
      ,[RecordSize]
      ,[Waveform]
  FROM [Frontstage].[dbo].[VoiceRecord]
  WHERE 1=1
   AND TimeUTC>@from AND TimeUTC<@To
   --AND Remotenumber LIKE '%734579274%'
   --AND VoiceRecordId='645E7E98-D41D-EF11-83A6-A4BF016EAF17'
    --AND FileName LIKE '645e7e98-d41d-ef11-83a6-a4bf016eaf17'
   ORDER BY TimeUTC
