/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [PhoneNumberId]
      ,PN.[DisplayName]
      ,PN.[Description]
      ,PN.[Rank]
      ,PN.[ContactId]
      ,PN.[Numbers]
      ,PN.[Emails]
      ,PN.[WaitingOffset]
      ,PN.[LanguageId]
      ,PN.[Deleted]
      ,PN.[BlockMarketingUsage]
      ,PN.[ExcludeFromLookup]
      ,PN.[GdprArchived]
      ,PN.[GdprExpired]
      ,PN.[GdprIdentity]
      ,PN.[GdprObliviated]
      ,PN.[TimeUtc]
      ,PN.[IsMatchTemplate]
      ,PN.[Synchronized]
      ,PN.[TechnicalAddress]
  FROM [iCC].[dbo].[PhoneNumber] PN
  LEFT JOIN [iCC].[dbo].[Contact] CN ON CN.ContactId=PN.ContactId
  WHERE 1=1
    AND ExternalKey='190'
    --AND Description='z1Zl07NeuEyHZr2xeiLlAA=='
    --AND DisplayName LIKE '%novotn%'
  -- AND Emails LIKE '%svatopluk.novotny@eta.cz%'