/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime=convert(datetime, '2018.02.01')
DECLARE @to AS datetime=convert(datetime, '2018.02.28')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER='ef0de42d-e6c2-4719-a264-9447484f4c8b'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
USE iCC

SET @from=GETDATE()-100
SET @to=GETDATE()
SELECT TOP (1000) [ChatId]
      ,[TimeUtc]
      ,[AnswerTime]
      ,[ChatType]
      ,[ChatPhase]
      ,[ChatResult]
      ,[TrackingId]
      ,[RemoteAddress]
      ,[PhoneNumberId]
      ,[ContactId]
      ,[Priority]
      ,[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
      ,[FormDataId]
      ,[BodyText]
      ,[IcrScriptAId]
      ,[IcrScriptBId]
      ,[IcrScriptWId]
      ,[IcrResponseA]
      ,[IcrResponseB]
      ,[IcrResponseW]
      ,[QueuePosition]
      ,[QueueLength]
      ,[PilotDialTime]
      ,[EnqueueingTime]
      ,[DistributionTime]
      ,[ExpectedDistributionTime]
      ,[EndTime]
      ,[AgentId]
      ,[TeamName]
      ,[Predistributed]
      ,[WorkplaceId]
      ,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[RoutingDuration]
      ,[QueueDuration]
      ,[AlertDuration]
      ,[ChatDuration]
      ,[IssueId]
      ,[ChainingId]
      ,[ConditionLevel]
      ,[Mark]
      ,[ChatGatewayId]
      ,[RemotePartyName]
      ,[DeadTimeUtc]
      ,[InactivityLimitUtc]
      ,[Direction]
      ,[ExtResponse]
      ,[SpamLevel]
      ,[GdprArchived]
      ,[GdprExpired]
      ,[GdprSensitivity]
      ,[GdprInherit]
      ,[ArchiveAfter]
      ,[ExpireAfter]
      ,[ObliviateAfter]
      ,[GdprObliviated]
  FROM [iCC].[dbo].[Chat]

  WHERE 1=1
    --AND PilotDialTime>@from
	--and chatResult='Active'
	and RemoteAddress='0421950727499'
	--and Agentid='b4fbf2ab-b24b-4a8f-ad14-76cbe9e2b1d9'
	--and AnswerTime is null
	 --  AND RemoteAddress='0776809000'
  --AND Chatid='b1a2476e-07d6-ec11-83a0-a4bf016eaf17'