/****** Script for SelectTopNRows command from SSMS  ******/
 DECLARE @to AS datetime=DATEADD(DAY,-20,GETDATE())
SELECT TOP 1000000 
      --[ChangeRequestId],
      DATEADD(Hour,2,[ChangeRequestTimeUtc]) AS Time
	  ,AG.DisplayName AS ActorName
      ,[Command]
      ,[Text]
	  ,ST.DisplayName AS Status
      ,[Number]
      ,[ReferenceId]
      ,[SubjectId]
      ,[DataId]
      ,[ActorId]
      ,[Result]
      ,[Done]
      ,[InProgress]
  FROM [iCC].[dbo].[ChangeRequest] CHR
   LEFT JOIN iCC.[dbo].Agent AG ON AG.AgentId=CHR.ActorId
   LEFT JOIN iCC.[dbo].Status ST ON ST.StatusId=CHR.ReferenceId

  WHERE 1=1
  AND ChangeRequestTimeUtc>@to
    AND Command<> 'RecomputeComm'
  --AND Command LIKE 'AgentProject%'
  --AND Text LIKE '%zmena z gridu Agents in projects_ByChannel%'
    AND Text LIKE '%Broadcast%'
  order by ChangeRequestTimeUtc 