/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [RoleId]
      ,[DisplayName]
      ,[SystemName]
      ,[RoleGroupName]
      ,[Description]
  FROM [iCC].[dbo].[Role]
  WHERE DisplayName LIKE '%Zobrazit%'