/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime = convert(datetime, '2018.02.05 06:00')
DECLARE @to AS datetime = convert(datetime, '2018.02.05 11:00')
DECLARE @AgentId AS UniqueIdentifier = '488763b2-3384-4420-b518-742de765e1fc' -- Jakub Pokorný

SELECT TOP 1000 [OutboundCallId]
      ,[RegionalTime]
      ,[RingDuration]
      ,[CallDuration]      
      ,[TimeUtc]
      ,[CallType]
      ,[CallPhase]
      ,[CallResult]
      ,[AppResult]
      ,[PbxCallId]
      ,[CallerNumber]
      ,[OutboundListId]
      ,[Priority]
      ,[DisplayName]
      ,[PhoneNumberId]
      ,[ContactId]
      ,[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
      ,[Rank]
      ,[GroupNumber]
      ,[TimeMode]
      ,[TimeFrom]
      ,[TimeTo]
      ,[EnqueueingTime]
      ,[ScheduleTime]      
      ,[DistributionTime]
      ,[AnswerTime]
      ,[EndTime]
      ,[AppResultTime]
      ,[PostCallEndTime]
      ,[Trial]
      ,[AgentId]
      ,[TeamName]
      ,[Predistributed]
      ,[WorkplaceId]
      ,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[OutboundListImportId]
      ,[HoldDuration]
      ,[PcpWrapDuration]
      ,[IssueId]
      ,[ChainingId]
      ,[ConditionLevel]
      ,[Mark]
      ,[IvrScriptAId]
      ,[IvrScriptATime]
      ,[IvrResponseA]
      ,[TransferredTo]
      ,[DialTime]
      ,[CallResultDetailId]
      ,[ExtendedFields]
  FROM [iCC].[dbo].[OutboundCall]
  WHERE 1=1
  -- AND CallerNumber IS NOT NULL
  --AND CallerNumber ='0602348633'
   AND RegionalTime>@from AND RegionalTime<@To
    AND AgentId=@AgentId
  --OR TimeUTC>GETDATE()-0.2
  --AND OutboundCallId IN ('a4244b30-e0cd-e611-9f09-c81f66e8a47f','4f146771-cdcd-e611-9f09-c81f66e8a47f')
  --AND TimeUTC>GETDATE()-5

  
  ORDER BY TimeUTC