/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ActionTriggerId]
      ,[DisplayName]
      ,[Description]
      ,[GroupName]
      ,[CommandText]
      ,[WorkflowId]
      ,[WorkflowXaml]
      ,[Model]
      ,[Interval]
      ,[TimeMode]
      ,[TimeFrom]
      ,[TimeTo]
      ,[ReferenceKey]
      ,[LastRunUtc]
      ,[LastWorkflowInstanceId]
      ,[Suspended]
      ,[Deleted]
      ,[Offset]
      ,[LaunchTime]
  FROM [iCC].[dbo].[ActionTrigger] WHERE ActionTriggerId='790c2be6-f4b7-411e-949b-b80bec575839'