/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [IvrStepId]
      ,IVS1.[IvrScriptId]
	  ,IVS.[DisplayName] AS SkriptName
      ,IVS1.[DisplayName]
      ,[Rank]
      ,[Action]
      ,[FileName]
       ,[Targets]
      ,[Numbers]
      ,[TimeMode]
      ,[TimeFrom]
      ,[TimeTo]
      ,[Culture]
      ,IVS.[Deleted]
      ,[TargetOnTimeOut]
      ,[TargetOnSuccess]
      ,[TargetOnFailure]
  FROM .[dbo].[IvrStep] IVS1
    LEFT JOIN .[dbo].[IvrScript] IVS ON IVS.IvrScriptId=IVS1.IvrScriptId
   WHERE 1=1
 --   AND IvrScriptId='5b6494c3-d004-46ef-96d6-7ab89d5f20a1'
   --AND Numbers LIKE '%ZAVRENO%'
   AND IVS1.DisplayName='Mám zvýšit prioritu hovoru?'
   AND IVS1.Deleted=0
	--AND Action='QuestPart'
  --TimeMode='SingleDay' AND TimeTo<GETDATE() AND Deleted=0
  ORDER BY RANK
