/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [DataQueryColumnId]
      ,DQC.[DataQueryId]
	  ,DQ.[DisplayName] AS GridName
	  ,DQ.QueryGroup
      ,DQC.[DisplayName] AS ColumnName
      ,[Model]
      ,[TargetColumn]
      ,[TargetFormat]
      ,[UrlColumn]
      ,[UrlFormat]
      ,[GuidColumn]
      ,[Convertor]
      ,[SortExpression]
      ,[SortExpressionDesc]
      ,[NoFilter]
      ,[Width]
      ,[Rank]
      ,[Color]
      ,[SqlCmd]
      ,[Css]
      ,[ToolTip]
      ,[LiteralGroup]
      ,[GlyphColumn]
      ,[GlyphFormat]
  FROM [iCC].[dbo].[DataQueryColumn] DQC
  LEFT JOIN [iCC].[dbo].[DataQuery] DQ ON DQ.DataQueryId=DQC.DataQueryId
  WHERE 1=1
   --AND UrlFormat LIKE '~/%'
   --AND UrlFormat NOT LIKE '%png'
   AND UrlFormat = '~/Pages/Messages/DispFormPlus.aspx?Id={0}'
   AND (QueryGroup LIKE '%Portal' OR QueryGroup LIKE 'ADMIN')
  ORDER BY DQ.[DisplayName]