/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [DataQueryId]
      ,[DisplayName]
      ,[Description]
      ,[QueryGroup]
      ,[QuerySortExpression]
      ,[QueryText]
      ,[ManualFilter]
      ,[SnapshotInterval]
      ,[TimeLine]
      ,[Deleted]
      ,[CacheInterval]
  FROM [iCC].[dbo].[DataQuery]
  WHERE QueryText LIKE '%MPP%'