/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime=convert(datetime, '2015.11.01')
DECLARE @to AS datetime=convert(datetime, '2015.11.01')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER='ef0de42d-e6c2-4719-a264-9447484f4c8b'
DECLARE @NullId AS UniqueIdentifier= '00000000-0000-0000-0000-000000000000'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
USE iCC

SET @from=GETDATE()-10
SET @to=GETDATE()

SELECT TOP (1000) [IssueId]
      ,[TimeUtc]
      ,[DisplayName]
      ,[Activity]
      ,[PhaseId]
      ,[Priority]
      ,[TopicId]
      ,[SubTopicId]
      ,[AgentId]
      ,[TeamName]
      ,[OriginalProjectId]
      ,[ProjectId]
      ,[LanguageId]
      ,[ContactId]
      ,[FormDataId]
      ,[BodyHtml]
      ,[NewTime]
      ,[OpenTime]
      ,[HoldTime]
      ,[WaitTime]
      ,[CloseTime]
      ,[NewClosed]
      ,[Reactivated]
      ,[Escalated]
      ,[Correlation]
      ,[OpenDuration]
      ,[NetDuration]
      ,[Mark]
      ,[IssueKey]
  FROM [iCC].[dbo].[Issue]
   WHERE 1=1
    AND TimeUTC>@From
   --AND DisplayName = ''
   ORDER BY TimeUtc