/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000)
       [SystemName]
      --,SUBSTRING(D.Datavalue,CHARINDEX('<IdentityCC>',D.Datavalue)+12,40)	 
      ,[Station]
      ,[IP4From]
      ,[IP4To]
      ,[IP6From]
      ,[IP6To]
      ,[Password]
      ,[LastLogonUtc]
      ,[Deleted]
  FROM [ProServer_SK].[dbo].[Credentials] C
    --LEFT JOIN [ProServer_SK].[dbo].DataItem D ON C.AccountId=D.AccountId
   WHERE 1=1
   AND CredentialsId='5D5F93DC-C328-48D2-A3DA-550FA5CD3892'
   -- AND SystemName LIKE '%karmazin%'