/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MessageId]
      ,[TimeUtc]
	  ,[SubjectField]
      ,[MessageType]
      ,[MessagePhase]
      ,[MessageResult]
	  ,[BodyText]
      --,[DeliverySystemId]
      ,[FromField]
      ,[RemoteAddress]
      ,[ToField]
      ,[ToCcField]
      --,[ToBccField]
      ,[GatewayId]
      --,[PhoneNumberId]
      ,[ContactId]
      ,[Priority]
      ,[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
      ,[DraftTime]
      ,[ReceivedSentTime]
      ,[ReadConfirmedTime]
      ,[AcceptedTime]
      ,[AnsweringTime]
      ,[EndTime]
      ,[Direction]
      ,[BodyHtml]
      ,[ImrScriptAId]
      ,[ImrScriptBId]
      ,[ImrScriptWId]
      ,[ImrResponseA]
      ,[ImrResponseB]
      ,[ImrResponseW]
      ,[QueuePosition]
      ,[QueueLength]
      ,[RelatedMessageId]
      ,[CampaignId]
      ,[ScheduledTime]
      ,[AgentId]
      ,[TeamName]
      ,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[Eml]
      ,[RoutingDuration]
      ,[WorkDuration]
      ,[OpenDuration]
      ,[NetDuration]
      ,[IssueId]
      ,[Mark]
      ,[SpamLevel]
      ,[SignatureValidity]
      ,[CampaignImportId]
      ,[ExtendedFields]
  FROM [iCC].[dbo].[Message]
  WHERE Priority>=0
  AND MessageType Like 'Tmp%'
  -- AND MessageResult = 'Active' 
  --AND MessageId='b49afd8b-539b-4e43-a2d4-234b61805b30'
  --RemoteAddress='import@bemeta.cz'
  AND BodyText LIKE '%Tiez si dovolujeme upriamit%'
  --AND SubjectField LIKE 'Objednávka%'
  --FromField='import@bemeta.cz'
  ORDER BY TimeUtc
  --AgentId='1b7a47e4-4dc2-41df-b691-41964402612a'
  --AND MessagePhase='Draft'