/****** Script for SelectTopNRows command from SSMS  ******/
USE iCC
GO
DECLARE @from AS date=convert(datetime, '2017.06.26')
DECLARE @to AS date=convert(datetime, '2017.06.27')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER=(SELECT TOP 1 AgentId FROM Agent WHERE Activity='Ready')
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Number AS integer
DECLARE @GroupInterval AS integer=1440
DECLARE @RoundInterval AS integer=@GroupInterval
DECLARE @Version  AS integer=1
DECLARE @LastTime AS bit=1

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Day,-10,GETDATE())
    SET @to=GETDATE()
  END
SELECT TOP 1000 [AttachmentId]
      ,ATT.[MessageId]
      ,[DisplayName]
      ,[Mode]
      ,[BinaryContent]
      ,[FileName]
      ,[MediaType]
      ,[ContentId]
      ,[PartIndex]
  FROM [iCC].[dbo].[Attachment] ATT
  LEFT JOIN [iCC].[dbo].[Message] ME ON ME.MessageId=ATT.MessageId
  WHERE Filename LIKE 'Print%'
     --AND ME.TimeUtc>@From