/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) 
      [AgentId]
      ,PR.DisplayName AS ProjectName
      ,[PbxInKnowledge]
      ,[PbxInEnabled]
      ,[PbxInChannel]
      ,[EmailKnowledge]
      ,[EmailEnabled]
      ,[EmailChannel]
      ,[SmsKnowledge]
      ,[SmsEnabled]
      ,[SmsChannel]
      ,[FaxKnowledge]
      ,[FaxEnabled]
      ,[FaxChannel]
      ,[BusinessIMKnowledge]
      ,[BusinessIMEnabled]
      ,[BusinessIMChannel]
      ,[SocialWallKnowledge]
      ,[SocialWallEnabled]
      ,[SocialWallChannel]
      ,[SocialIMKnowledge]
      ,[SocialIMEnabled]
      ,[SocialIMChannel]
      ,[SocialMsgKnowledge]
      ,[SocialMsgEnabled]
      ,[SocialMsgChannel]
      ,[WebIMKnowledge]
      ,[WebIMEnabled]
      ,[WebIMChannel]
      ,[PbxOutKnowledge]
      ,[PbxOutEnabled]
      ,[PbxOutChannel]
      ,[VisitorKnowledge]
      ,[VisitorEnabled]
      ,[VisitorChannel]
  FROM [FrontStageHCS].[iCC].[dbo].[Skill] SK
    LEFT JOIN [FrontStageHCS].[iCC].[dbo].[Project] PR ON SK.Projectid=PR.Projectid
  WHERE AgentId='57245ECB-ECFF-48E9-9147-2E2F2D17CB2D'
  AND EmailKnowledge>0
  AND EmailEnabled=1
  AND EmailChannel=1