/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [PortalId]
      ,[HashPage]
      ,[DisplayName]
      ,[Description]
      ,[Glyph]
      ,[KbTagId]
      ,[NavGroup]
      ,[Rank]
      ,[TimeOut]
      ,[JsonData]
      ,[Title]
      ,[ExternalUrl]
  FROM [iCC_LE].[dbo].[Portal]
  WHERE 1=1
   AND JsonData LIKE '%3fa13210-0cd7-4b54-b8a7-5842aed04117%'