/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime=convert(datetime, '2017.06.05')
DECLARE @to AS datetime=convert(datetime, '2017.06.06')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER='ef0de42d-e6c2-4719-a264-9447484f4c8b'
DECLARE @ProjectId AS UNIQUEIDENTIFIER='E7BFE390-2D36-41FA-9891-B92BAAD42648'
DECLARE @NullId AS UniqueIdentifier= '00000000-0000-0000-0000-000000000000'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Interval AS NVARCHAR(1)='D'
--DECLARE @DBName AS NVARCHAR(30)= '[FrontStageHCS].[iCC]'
DECLARE @DBName AS NVARCHAR(30)= 'iCC'
SET @FROM=GETDATE()-0.01
SELECT TOP (1000) 
      [TimeLocal]
      ,[EventType]
      --,[MessageId]
      ,PR.DisplayName AS ProjectName
      ,AG.DisplayName AS AgentName
      ,[ReferenceData]
      ,[ReferenceId]
      ,[Duration]
      ,[ResultData]
  FROM [FrontStageHCS].[iCC].dbo.MessageEvent ME
  LEFT OUTER JOIN [FrontStageHCS].[iCC].dbo.Agent AS AG ON ME.AgentId=AG.AgentId
  LEFT OUTER JOIN [FrontStageHCS].[iCC].dbo.Project AS PR ON PR.ProjectId=ME.ProjectId
   WHERE 1=1
     AND MessageId='1ed64184-9023-e811-ba29-0050568306ce'
   --AND TimeLocal> @FROM
   ORDER BY TimeLocal
 