/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [IssueEventId]
      ,[TimeUtc]
      ,[TimeLocal]
      ,[EventType]
      ,[IssueId]
      ,AG.DisplayName AS AgentName
      ,[ReferenceData]
      ,[ReferenceId]
  FROM [iCC].[dbo].[IssueEvent] IE
  LEFT JOIN [iCC].[dbo].AGENT AG ON AG.AgentId=IE.AgentId
  WHERE IssueId='85E1FC2A-B18E-E611-80BD-001E67FEED3F'
  ORDER BY TimeUTC