USE iCC
GO
SET DATEFORMAT ymd
DECLARE @from AS datetime=convert(datetime, '2020.01.01')
DECLARE @to AS datetime=convert(datetime, '2017.06.27')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER=(SELECT TOP 1 AgentId FROM Agent AG LEFT JOIN icc.dbo.Workplace AS W WITH(NOLOCK)  ON AG.WorkplaceId = W.WorkplaceId
WHERE Activity='Ready' AND w.State <> 'Free')
DECLARE @NullId AS UniqueIdentifier= '00000000-0000-0000-0000-000000000000'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Number AS integer
DECLARE @GroupInterval AS integer=1440
DECLARE @RoundInterval AS integer=@GroupInterval
DECLARE @ProjectGroupName AS NVARCHAR(10)='SK'
DECLARE @Version  AS integer=1
DECLARE @LastTime AS bit=0

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Minute,-20,GETDATE())
    SET @to=GETDATE()
  END
/**/

SELECT ISU.NewTime AS IssueCreate
    ,ISU.IssueId
	, TeamName
    , ISNULL(InCalls,0) AS InCalls
    , ISNULL(OutCalls,0) AS OutCalls
	, ISNULL(EMails,0) AS EMails
  FROM Issue ISU
	LEFT JOIN                                 -----------------------------------------
    (SELECT IssueId
      ,SUM(1) AS InCalls
    FROM [iCC].[dbo].[InboundCall] IC
	 LEFT JOIN icc.dbo.Project AS P ON P.ProjectId = IC.ProjectId
	 WHERE (PilotTime >= @FROM )
	   AND P.ProjectGroupName = @ProjectGroupName
	   AND IssueId IS NOT NULL	
      GROUP BY IssueId
	) AS InCalls ON ISU.IssueId=InCalls.IssueId ---------------------------------------
	LEFT JOIN                                 -----------------------------------------
    (SELECT IssueId
      ,SUM(1) AS OutCalls
    FROM [iCC].[dbo].[OutboundCall] OC
	 LEFT JOIN icc.dbo.Project AS P ON P.ProjectId = OC.ProjectId
	 WHERE (EnqueueingTime >= @FROM )
	   AND P.ProjectGroupName = @ProjectGroupName
	   AND IssueId IS NOT NULL	
      GROUP BY IssueId
	) AS OutCalls ON ISU.IssueId=OutCalls.IssueId ---------------------------------------
	LEFT JOIN                                 -----------------------------------------
    (SELECT IssueId
      ,SUM(1) AS EMails
    FROM [iCC].[dbo].[Message] ME
	 LEFT JOIN icc.dbo.Project AS P ON P.ProjectId = ME.ProjectId
	 WHERE (ReceivedSentTime >= @FROM )
	   AND P.ProjectGroupName = @ProjectGroupName
	   AND IssueId IS NOT NULL	
      GROUP BY IssueId
	) AS EMails ON ISU.IssueId=EMails.IssueId ---------------------------------------

		WHERE ISU.NewTime>@FROM
		   AND TeamName=@ProjectGroupName
  ORDER BY ISU.NewTime
