/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime=convert(datetime, '2017.09.01')
SELECT * FROM
(SELECT [IssueId]
      ,[TimeUtc]
      ,[DisplayName]
      ,[AgentId]
	  ,(SELECT Top (1)  AgentId FROM [iCC].[dbo].[IssueEvent] IE WHERE ISU.IssueId=IE.IssueId ORDER BY TimeUTC DESC) AS IEAgentId
      ,[TeamName]
     FROM [iCC].[dbo].[Issue] ISU
	 WHERE TimeUtc>@from) AS Faze1
	WHERE AgentId<>IEAgentId
	ORDER BY TimeUtc