/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT
      Redirector, IVR.DisplayName AS IVRName, RD.DisplayName
   FROM [iCC].[dbo].[InboundCall] AS IC
   LEFT JOIN IvrScript AS IVR ON IC.IvrScriptAId=IVR.IvrScriptId
   LEFT JOIN Redirector AS RD ON IC.Redirector=RD.Number
      WHERE IvrScriptAId IS NOT NULL