/****** Script for SelectTopNRows command from SSMS  ******/
SELECT * FROM (SELECT COUNT(1) AS Pocet,RecordFileId
  FROM [iCC].[dbo].[CallRecord]
  GROUP BY RecordFileId) AS Phase1
  WHERE Pocet>1
  ORDER BY Pocet DESC