/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime
DECLARE @to AS datetime
--SET @from=convert(datetime, '2016.04.25 00:00')
--SET @to=convert(datetime, '2016.04.26 06:00')
SET @from=GETDATE()-0.3
SET @to=GETDATE()

SELECT TOP 100 [MessageId]
       ,GW.DisplayName AS Gateway
      , ReceivedSentTime
      ,[BodyText]
      ,[TimeUtc]
	  ,ME.[Direction]
	  ,[SubjectField]
      ,[MessageType]
      ,[MessagePhase]
      ,[MessageResult]
      --,[DeliverySystemId]
      ,[FromField]
      ,[RemoteAddress]
      ,[ToField]
      ,[ToCcField]
      --,[ToBccField]
      ,ME.[GatewayId]
      --,[PhoneNumberId]
      ,[ContactId]
      ,[Priority]
      ,[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
      ,[DraftTime]
      ,[ReceivedSentTime]
      ,[ReadConfirmedTime]
      ,[AcceptedTime]
      ,[AnsweringTime]
      ,[EndTime]
      ,[BodyHtml]
      ,[ImrScriptAId]
      ,[ImrScriptBId]
      ,[ImrScriptWId]
      ,[ImrResponseA]
      ,[ImrResponseB]
      ,[ImrResponseW]
      ,[QueuePosition]
      ,[QueueLength]
      ,[RelatedMessageId]
      ,[CampaignId]
      ,[ScheduledTime]
      ,[AgentId]
      ,[TeamName]
      ,[Correlation]
      ,ME.[LanguageId]
      ,[Proficiency]
      ,[Eml]
      ,[RoutingDuration]
      ,[WorkDuration]
      ,[OpenDuration]
      ,[NetDuration]
      ,[IssueId]
      ,[Mark]
      ,[SpamLevel]
      ,[SignatureValidity]
      ,[CampaignImportId]
      ,[ExtendedFields]
  FROM [iCC].[dbo].[Message] ME
    LEFT JOIN [iCC].[dbo].[Gateway] GW ON ME.GatewayId=GW.GatewayId
  WHERE Priority>=0
  AND ReceivedSentTime >= @FROM AND ReceivedSentTime <= @TO
    --   AND MessageId='73d72fa5-c0ca-e711-912a-0050568306ce'
   --AND IssueId IS NULL
  --AND RemoteAddress='tomaslizal@c-box.cz'
  --AND ToField='infolinka@dhl.com'
  --AND SubjectField LIKE 'Objednávka%'
  --FromField='import@bemeta.cz'
  --AgentId='1b7a47e4-4dc2-41df-b691-41964402612a'
  AND MessagePhase='Sent'
  ORDER BY ME.ReceivedSentTime DESC
  