/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000
      [TimeLocal]
      ,[EventType]
      ,[ProjectId]
      ,AG.DisplayName AS AgentName
      ,[ReferenceData]
      ,[ReferenceId]
      ,[Duration]
      ,[ResultData]
  FROM [iCC].[dbo].[MessageEvent] ME
  LEFT JOIN Agent AG ON AG.AgentId=ME.AgentId
  WHERE MessageId='aeeae596-9a8f-e611-80bd-001e67feed3f#'
  ORDER BY TimeLocal