USE iCC
GO
DECLARE @from AS date=convert(datetime, '2017.06.26')
DECLARE @to AS date=convert(datetime, '2017.06.27')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER=(SELECT TOP 1 AgentId FROM Agent WHERE Activity='Ready')
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Version  AS integer=1
DECLARE @LastTime AS bit=1

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Day,-1000,GETDATE())
    SET @to=GETDATE()
  END

SELECT 
--DISTINCT
TOP 10000
	  ME.Messageid,
      FS_Custom.dbo.TimeUTC_Local(ME.[TimeUtc]) AS PutMailTime,
	  DATEDIFF(Minute, @Now,ISNULL(ScheduledTime,MEE.TimeLocal)) AS MinutesToSend,
	  MEE.TimeLocal AS MEventScheduledTime,
	  MEE.TimeLocal AS MEventSentTime,
	  ME.ScheduledTime AS MessScheduledTime,
	  IIF(RemoteAddress NOT LIKE '%@%','@ Is missing in RemoteAddress!!!',IIF(RemoteAddress LIKE '%gmail.com%','Google requests authentication!!!','')) AS Warning,
	  IIF(MessageResult='Closed','Closed-Error!!!',MessageResult) AS MessageResult,
	  GW.DisplayName AS GateWayName,
	  RemoteAddress,
	 [SubjectField] ,
	     Me.[MessagePhase],
      ME.[GatewayId],
	  	 ME.ReceivedSentTime,
		 CMP.Activity,
		 CI.Active
 	  	  /* */
  FROM .[dbo].[Message] ME
    LEFT JOIN .dbo.Gateway AS GW ON GW.GatewayId=ME.GatewayId
    LEFT JOIN .dbo.Agent AS A ON A.AgentId=ME.AgentId
    LEFT JOIN .dbo.MessageEvent as MEE with (NOLOCK) on ME.MessageId=MEE.MessageId AND MEE.EventType='Schedule'
    LEFT JOIN .dbo.MessageEvent as MEE2 with (NOLOCK) on ME.MessageId=MEE2.MessageId AND MEE.EventType='Sent' 
	LEFT JOIN .dbo.Campaign as CMP with (NOLOCK) on ME.CampaignId=CMP.CampaignId 
	LEFT JOIN .dbo.CampaignImport as CI with (NOLOCK) on ME.CampaignImportId=CI.CampaignImportId 

  WHERE 1=1
	AND MessagePhase='Scheduled'
	AND (ME.ScheduledTime<@Now OR ME.ScheduledTime IS NULL)
    --AND DATEDIFF(DD,ReceivedSentTime,ME.TimeUtc)>2
	--AND ME.MessageId='5802fef8-4409-ef11-a8cb-00155dc73d09'
   AND ME.TimeUtc>@from
   --AND ME.BodyText LIKE '  Dobrý den, pane Třísko,%'
   --AND IssueId='5b7a60d9-c326-e811-8508-0050568e4c40'
   --AND BodyHtml LIKE '%Štěpánková%'
   --AND ME.ProjectId='005EBA6E-949A-4732-8492-D371DE0D8BCF' -- SPAM
    AND MessageType='Email'
	--AND SpamLevel>=1 
	--AND A.DisplayName LIKE '%Fuks%'
  --AND RemoteAddress='homolka@atlantis.cz'
  --AND ToField='infolinka@dhl.com'
  --AND SubjectField LIKE '%8801115339%'
  --AND Bodytext LIKE '%8801115339%'
  AND ME.Direction='O'
  --AND ME.AgentId IS  NULL
  --AND RelatedMessageId IS NOT NULL
  --FromField='import@bemeta.cz'
  -- AND ME.MessageId='2019C2D7-AC83-EE11-83C7-005056013ADB'  
   --AND ME.AgentId='6d3be5af-8397-4a08-93eb-e2fb9930e34d'  BEE69283-5EE2-E611-96AD-0050568E4C40
  --AND MessagePhase='Draft'
  ORDER BY ME.TimeUtc DESC
  --
  -- Nástroje pro opravy:
 /*
sp_updatestats -- Vyčištění statistik
--
 DECLARE @LimTime AS dateTime = GETDATE()-5, @LimTime2 AS dateTime = GETDATE()-100
  	 UPDATE iCC.dbo.Message  
SET  MessagePhase='Closed',Mark=7
   WHERE Direction='O' AND MessagePhase='Scheduled' AND MessageResult='Closed'
    AND TimeUTC < @LimTime

  	 UPDATE iCC.dbo.Message  
SET  MessagePhase='Closed', MessageResult='Closed',Mark=8
   WHERE Direction='O' AND MessagePhase='Scheduled'
    AND TimeUTC < @LimTime2


  	 UPDATE iCC.dbo.Message  
SET  MessageResult='Active',Mark=9
   WHERE Direction='O' AND MessagePhase='Scheduled' AND MessageResult='Closed'
    AND TimeUTC >= @LimTime
----------------------------------------------------------------

DECLARE @LimTime AS dateTime = GETDATE()-60
  	 SELECT
	   TimeUTC
	   ,MessagePhase
	   ,MessageResult
	   ,SubjectField
	   ,RemoteAddress
	 FROM iCC.dbo.Message  
   WHERE Direction='O' AND MessagePhase='Scheduled' AND MessageResult='Closed'
    AND TimeUTC < @LimTime
	ORDER BY TimeUTC -- DESC 

  	 SELECT
	   TimeUTC
	   ,MessagePhase
	   ,MessageResult
	   ,SubjectField
	   ,RemoteAddress
	 FROM iCC.dbo.Message  
   WHERE Direction='O' AND (MessageResult='Failed' OR MessagePhase='Failed')
    AND TimeUTC > @LimTime
	ORDER BY TimeUTC -- DESC 
 */