SELECT TOP 35 OutboundCallId
   --,OC.TimeUtc
   ,OC.DistributionTime
   ,VR.StartTimeUtc
   ,OC.CallType
   ,OC.CallResult
   ,OC.Callduration
   ,DATEDIFF(ss,StartTimeUtc,EndTimeUtc) AS VoiceRecordDuration
   ,WP.Number AS Linka
   ,OC.CallerNumber
   FROM iCC.dbo.OutboundCall OC
   LEFT JOIN [SRec].[dbo].[VoiceRecord] VR ON VR.RemoteNumber=SUBSTRING(OC.CallerNumber,2,10)
         AND FS_Custom.dbo.TimeUTC_Local(VR.StartTimeUtc)>OC.DistributionTime
         AND FS_Custom.dbo.TimeUTC_Local(VR.StartTimeUtc)<DATEADD(Minute,1,OC.DistributionTime)
   LEFT JOIN iCC.[dbo].[Workplace] WP ON OC.WorkplaceId=WP.WorkplaceId
   WHERE DATEDIFF(ss,StartTimeUtc,EndTimeUtc)>0 
   AND ISNULL(OC.CallDuration,0)=0    
   AND OC.CallResult<>'Active'
   AND DATEDIFF(ss,StartTimeUtc,EndTimeUtc)>120
    --AND CallType<>'Private'
   ORDER BY OC.TimeUtc DESC