USE [iCC]
GO
IF NOT EXISTS(SELECT * FROM .[dbo].[PreCondition] WHERE DisplayName='Nedostatek IVR vstupů')
INSERT [dbo].[PreCondition] ([PreConditionId], [DisplayName], [Rank], [AnnouncementAId], [IvrScriptAId], [LanguageId], [Proficiency], [PhoneBookId], [PilotId], [Redirector], [TimeMode], [TimeFrom], [TimeTo], [Terminate], [FreeIvrEntriesUnder])
 VALUES (N'08b48bb0-981a-48f4-ade9-04c1234d750c', N'Nedostatek IVR vstupů', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 1)
GO