/****** Script for SelectTopNRows command from SSMS  ******/
/*
 Možné problémy:
1/ Hovor je oficiálně nedovolaný, ale má nahrávku
9/ Hovor je oficiálně nedovolaný, ale má nahrávku ale ta je spárovaná s jiným hovorem
*/
SELECT TOP 1000 OC.[OutboundCallId] AS OCiD
                ,CL.[OutboundCallId] AS CLiD
      ,[TimeUTC] AS OutBoundTime
      , FR.Time AS FRTime
      , DATEDIFF(Second,[TimeUTC],FR.Time) AS Diference
      --, IIF(CL.OutboundCallId=OC.OutboundCallId,'Spárovaný','Nespárovaný')
      , CASE WHEN CL.OutboundCallId=OC.OutboundCallId THEN 'Spárovaný' ELSE 'Nespárovaný' END as Stav_nahrávky
      , CASE WHEN (FR.FileRecordId IS NOT NULL AND CallPhase='AgentDialing' AND CL.[OutboundCallId] IS NULL) THEN 1
             WHEN (FR.FileRecordId IS NOT NULL AND CallPhase='AgentDialing' AND CL.[OutboundCallId] IS NOT NULL) THEN 9
         ELSE 0 END as Chyba
      ,FR.FileRecordId
      ,[CallPhase]
      ,[CallResult]
      --,FR.LocalNumber AS FRNumber
      --,WP.Number 
      ,OC.CallDuration AS OCCallDuration
      ,FR.Length AS FRCallDuration
      --,[CallType]
      --,[AppResult]
      --,[PbxCallId]
      ,[CallerNumber]
      ,[OutboundListId]
      --,[Priority]
      ,OC.[DisplayName]
      ,[PhoneNumberId]
      ,[ContactId]
      ,[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
      ,[Rank]
      ,[GroupNumber]
      ,[TimeMode]
      ,[TimeFrom]
      ,[TimeTo]
      ,[EnqueueingTime]
      ,[ScheduleTime]
      ,[RegionalTime]
      ,[DistributionTime]
      ,[AnswerTime]
      ,[EndTime]
      ,[AppResultTime]
      ,[PostCallEndTime]
      ,[Trial]
      ,[AgentId]
      ,[TeamName]
      ,[Predistributed]
      ,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[OutboundListImportId]
      ,[RingDuration]
      ,[CallDuration]
      ,[HoldDuration]
      ,[PcpWrapDuration]
      ,[IssueId]
      ,[ChainingId]
      ,[ConditionLevel]
      ,[Mark]
      ,[IvrScriptAId]
      ,[IvrScriptATime]
      ,[IvrResponseA]
      ,[TransferredTo]
      ,[DialTime]
      ,[CallResultDetailId]
      ,[ExtendedFields]
  FROM [iCC].[dbo].[OutboundCall] OC
  --INNER JOIN [iCC].[dbo].[Workplace] WP ON OC.WorkplaceId=WP.WorkplaceId
  INNER JOIN [ProNGX].[dbo].[FileRecord] FR ON  '0'+FR.Number1=OC.CallerNumber 
  AND FR.Direction='O'
  AND FR.Time BETWEEN OC.TimeUTC-0.0015 AND OC.TimeUTC+0.0015
  --AND FR.LocalNumber=WP.Number
  LEFT JOIN [iCC].[dbo].[CallRecord] CL ON FR.FileRecordId=CL.RecordFileId 
  WHERE Priority>=0
  --AND CallPhase='AgentDialing' 
  AND TimeUTC>GETDATE()-1 
  --AND ISNULL(CallDuration,0)=0
   ORDER BY TimeUTC
   /* Pro kontrolu navázat spojení přes CallRecord */