/****** Script for SelectTopNRows command from SSMS  ******/
SET DATEFORMAT ymd
DECLARE @from AS datetime=convert(datetime, '2017.06.26')
DECLARE @to AS datetime=convert(datetime, '2017.06.27')
DECLARE @LastTime AS bit=1

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Month,-3,GETDATE())
    SET @to=GETDATE()
  END

SELECT TOP 1000 WP.[WorkplaceId]
      ,[DisplayName]
      ,[Number]
      ,[State]
  FROM [iCC].[dbo].[Workplace] WP
  LEFT JOIN (
  SELECT DISTINCT
      [WorkplaceId]
   FROM [iCC].[dbo].[AgentEvent]
   WHERE TimeLocal> @from
     ) AS AE ON AE.WorkplaceId=WP.WorkplaceId
 WHERE AE.WorkplaceId IS NULL
 ORDER BY DisplayName