/****** Script for SelectTopNRows command from SSMS  ******/
USE iCC
GO
SET DATEFORMAT ymd
DECLARE @from AS datetime=convert(datetime, '2017.06.26')
DECLARE @to AS datetime=convert(datetime, '2017.06.27')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER=(SELECT TOP 1 AgentId FROM Agent AG LEFT JOIN icc.dbo.Workplace AS W WITH(NOLOCK)  ON AG.WorkplaceId = W.WorkplaceId
WHERE Activity='Ready' AND w.State <> 'Free')
DECLARE @NullId AS UniqueIdentifier= '00000000-0000-0000-0000-000000000000'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Number AS integer
DECLARE @GroupInterval AS integer=1440
DECLARE @RoundInterval AS integer=@GroupInterval
DECLARE @Version  AS integer=1
DECLARE @LastTime AS bit=1

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Month,-20,GETDATE())
    SET @to=GETDATE()
  END
SELECT TOP 1000 [OutboundCallId]
      ,[RegionalTime]
      ,[Predistributed]
      ,[PreferredAgentId]
      ,[RingDuration]
      ,[CallDuration]      
      --,[TimeUtc]
      ,[CallType]
      ,[CallPhase]
      ,[CallResult]
      ,[AppResult]
      ,[PbxCallId]
      ,[CallerNumber]
      --,[OutboundListId]
      ,[Priority]
      ,[DisplayName]
      ,[PhoneNumberId]
      ,[ContactId]
      ,[ProjectId]
      ,[Skill]
      ,[Rank]
      ,[GroupNumber]
      ,[TimeMode]
      ,[TimeFrom]
      ,[TimeTo]
      ,[EnqueueingTime]
      ,[ScheduleTime]      
      ,[DistributionTime]
      ,[AnswerTime]
      ,[EndTime]
      ,[AppResultTime]
      ,[PostCallEndTime]
      ,[Trial]
      ,[AgentId]
      ,[TeamName]

      ,[WorkplaceId]
      ,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      --,[OutboundListImportId]
      ,[HoldDuration]
      ,[PcpWrapDuration]
      ,[IssueId]
      ,[ChainingId]
      ,[ConditionLevel]
      ,[Mark]
      ,[IvrScriptAId]
      ,[IvrScriptATime]
      ,[IvrResponseA]
      ,[TransferredTo]
      ,[DialTime]
      ,[CallResultDetailId]
      ,[ExtendedFields]
  FROM [iCC].[dbo].[OutboundCall] OC
  	   LEFT JOIN [ICC].[dbo].[OutboundListImport] OLI ON OLI.OutboundListImportId=OC.OutboundListImportId
  WHERE 1=1
  -- AND CallerNumber IS NOT NULL
  --AND CallerNumber ='0602348633'
   AND OC.TimeUTC>@from AND OC.TimeUTC<@To
    --AND AgentId=@AgentId
  --OR TimeUTC>GETDATE()-0.2
  --AND OutboundCallId IN ('c1a8f50a-2a9f-ea11-a825-005056a09234','4f146771-cdcd-e611-9f09-c81f66e8a47f')
  --AND TimeUTC>GETDATE()-5
  --AND OutboundListImportId ='d488aa6f-d2af-403a-984f-36187a8489e2'
   -- AND ChainingId ='E8D6409B-90A1-EA11-A825-005056A09234'
  AND CallResult='Scheduled'
  AND OLI.Deleted=1
    --AND Predistributed=1

  
  ORDER BY OC.TimeUTC