/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
       
      OL.DisplayName AS Campaign
	  , OL.OutboundListId
      ,SUM(1) AS ImportsCount
	  ,SUM(IIF(Active=1,1,0)) AS ActiveImportsCount
    FROM [iCC].[dbo].[OutboundListImport] OLI
    INNER JOIN [iCC].[dbo].[OutboundList] OL ON OL.OutboundListId=OLI.OutboundListId
	 WHERE OLI.Deleted=0
	  GROUP BY  OL.DisplayName,OL.OutboundListId
	  ORDER BY OL.DisplayName
