/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ExtensionId]
      ,[PbxId]
      ,[BackupPbxId]
      ,[Number]
      ,[Description]
      ,[ValidFromUtc]
      ,[ValidToUtc]
      ,[Suspended]
      ,[OnLineStatus]
      ,[NumberingId]
      ,[Configuration]
      ,[BackupConfiguration]
      ,[Deleted]
  FROM [ProServer].[dbo].[Extension] WHERE Deleted=0