/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000
       IC.[InboundCallId]
      ,[RegionalTime]
	  ,FR.FtpTime
      ,[CallType]
      ,[CallPhase]
      ,[CallResult]
      ,[AppResult]
      ,[PbxCallId]
      ,[CallerNumber]
      ,[PilotId]
      ,[Priority]
      ,[Redirector]
      ,[PhoneNumberId]
      ,[ContactId]
      ,[ProjectId]
      ,[Skill]
      ,[AnnouncementAId]
      ,[AnnouncementBId]
      ,[AnnouncementWId]
      ,[IvrScriptAId]
      ,[IvrScriptBId]
      ,[IvrScriptWId]
      ,[WaitingQueueId]
      ,[PreferredAgentId]
      ,[IvrResponseA]
      ,[IvrResponseB]
      ,[IvrResponseW]
      ,[PilotTime]
      ,[AnnouncementATime]
      ,[AnnouncementBTime]
      ,[AnnouncementWTime]
      ,[IvrScriptATime]
      ,[IvrScriptBTime]
      ,[IvrScriptWTime]
      ,[QueuePosition]
      ,[QueueLength]
      ,[EnqueueingTime]
      ,[DistributionTime]
      ,[ExpectedDistributionTime]
      ,[AnswerTime]
      ,[EndTime]
      ,[AppResultTime]
      ,[PostCallEndTime]
      ,[AgentId]
      ,[TeamName]
      ,[Predistributed]
      ,[WorkplaceId]
      ,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[RoutingDuration]
      ,[QueueDuration]
      ,[RingDuration]
      ,[CallDuration]
      ,[HoldDuration]
      ,[PcpWrapDuration]
      ,[IssueId]
      ,[ChainingId]
      ,[ConditionLevel]
      ,[Mark]
      ,[TransferredTo]
      ,[CallKey]
  FROM [iCC].[dbo].[InboundCall] IC
  LEFT JOIN CallRecord CR ON IC.InboundCallId=CR.InboundCallId
  LEFT JOIN ProNGX.dbo.FileRecord FR ON CR.RecordFileId=FR.FileRecordId
  WHERE FR.AgentName IS NOT NULL
  AND (IC.RegionalTime>FR.FtpTime+1 OR IC.RegionalTime<FR.FtpTime-1)
  AND IC.RegionalTime>convert(datetime, '2017.04.10')