/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) 
      [Name]
	  ,CAT.[ModifiedDate]
	  ,[CreationDate]
      ,US.UserName AS ModifiedBy
      ,[ItemID]
      ,[Path]
      ,[ParentID]
      ,[Type]
      ,[Content]
      ,[Intermediate]
      ,[SnapshotDataID]
      ,[LinkSourceID]
      ,[Property]
      ,[Description]
      ,[Hidden]
      ,[CreatedByID]
      ,[MimeType]
      ,[SnapshotLimit]
      ,[Parameter]
      ,[PolicyID]
      ,[PolicyRoot]
      ,[ExecutionFlag]
      ,[ExecutionTime]
      ,[SubType]
      ,[ComponentID]
  FROM [ReportServer$MSSQL_B].[dbo].[Catalog] CAT
    LEFT JOIN [ReportServer$MSSQL_B].[dbo].[Users] US ON US.UserID=CAT.ModifiedByID
  WHERE Type=2
  ORDER BY CAT.[ModifiedDate],Name DESC