/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) 
      [ModifiedDate]
      ,[Name]
	  ,[Path]
      ,[ParentID]
      ,[Type]
      ,[Content]
      ,[Intermediate]
      ,[SnapshotDataID]
      ,[LinkSourceID]
      ,[Property]
      ,[Description]
      ,[Hidden]
      ,[CreatedByID]
      ,[CreationDate]
      ,[ModifiedByID]
      ,[MimeType]
      ,[SnapshotLimit]
      ,[Parameter]
      ,[PolicyID]
      ,[PolicyRoot]
      ,[ExecutionFlag]
      ,[ExecutionTime]
      ,[SubType]
      ,[ComponentID]
  FROM [ReportServer].[dbo].[Catalog]
  ORDER BY Name --[ModifiedDate] DESC