/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @Now AS datetime=GETDATE()
SELECT TOP (1000000) StartTimeUtc
	  ,[RetentionTimeUtc]
      ,dateadd(YEAR,3,StartTimeUtc) as mYtIME
	  --,datediff(MONTH,@Now,RetentionTimeUtc) as mONTHSvAL
	  ,datediff(MONTH,StartTimeUtc,RetentionTimeUtc) as sETmONTHSvAL
      ,[PortId]
      ,[DirectoryId]
      ,[ExtensionId]
      ,[StorageId]
      ,[TimeUtc]
      ,[StartTimeUtc]
      ,[EndTimeUtc]
      ,[FileName]
      ,[RecordData]
      ,[Direction]
      ,[LocalNumber]
      ,[LocalName]
      ,[RemoteNumber]
      ,[RemoteName]
      ,[ExtensionNumber]
      ,[ExtensionName]
      ,[AgentName]
      ,[StationName]
      ,[ExecutedHorizon]
      ,[CallResult]
      ,[CallState]
      ,[ConversionState]
      ,[FileDeleted]
      ,[OriginalName]
      ,[GroupName]
      ,[TeamName]
  FROM [SRec].[dbo].[VoiceRecord] 
  WHERE 1=1
  -- AND LocalNumber =3804 -->3979 AND LocalNumber < 3990
  --LocalNAME like 'aKVIZICE%'
  and datediff(MONTH,StartTimeUtc,RetentionTimeUtc)  <36
  AND FILEdELETED is null
  --AND GroupName='TV-po'
  AND GroupName='Vymahani'