USE [iCC]
GO
/****** Object:  UserDefinedFunction [dbo].[BO_Uct]    Script Date: 9. 9. 2016 15:23:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zbyněk Homolka podle Michala Pajgrta>
-- Create date: <28.1.2016>
-- Description:	<Vrací informace pro Report "BO účtování">
-- =============================================
ALTER FUNCTION [dbo].[BO_Uct] 
(	
	@FROM AS DATETIME,
	@TO AS DATETIME,
	@Interval as int	
)
RETURNS TABLE 
AS
RETURN 
(
SELECT 
 dbo.RoundTime(iCC.dbo.TimeUTC_Local(SR.TimeUtc), @Interval) AS RoundedTime,
 I.Activity, I.IssueId, SR.ScenarioId,
  iCC.dbo.TimeUTC_Local(SR.TimeUtc) AS TimeUtc,
 CAST(SRV1.ResultText AS Int) AS IndiAuth, CAST(SRV2.ResultText AS Int)  AS IndiAuthCor, CAST(SRV3.ResultText AS Int)  AS IndiAuthDeny,
 CAST(SRV4.ResultText AS Int)  AS IndiIbsNoIns,CAST(SRV5.ResultText AS Int)  AS IndiIbsIns, CAST(SRV7.ResultText AS Int) AS IndiIbsAdhoc,
 CAST(SRV8.ResultText AS Int) AS IndiStatus, CAST(SRV9.ResultText AS Int) AS IndiNeprav, CAST(SRV10.ResultText AS Int) AS IndiHelp, 
 CAST(SRV11.ResultText AS Int) AS IndiSlozit, CAST(SRV12.ResultText AS Int) AS IndiIss,CAST(SRV13.ResultText AS Int) AS IndiIssOther,
 CAST(SRV14.ResultText AS Int) AS IndiZedId, CAST(SRV15.ResultText AS Int) AS IndiQs,CAST(SRV16.ResultText AS Int) AS IndiReiss,
 CAST(SRV17.ResultText AS Int) AS IndiRef,CAST(SRV18.ResultText AS Int) AS IndiQSpnr,
 CAST(SRV19.ResultText AS Int) AS IndiVracenaChyba,CAST(SRV20.ResultText AS Int) AS IndiKonzult,CAST(SRV22.ResultText AS Int) AS IndiJoll,
  SRV21.ResultText AS Remark,
   SR.AgentId, ISNULL(A.DisplayName,'Bez_agenta') as AgentName,convert(varchar(7),iCC.dbo.TimeUTC_Local(SR.TimeUtc),120) as MNT

FROM iCC.dbo.Issue as I  WITH (NOLOCK)

INNER JOIN ScenarioResult AS SR  WITH (NOLOCK)ON SR.IssueId = I.IssueId AND SR.ScenarioId = 'd64769d2-c862-43d8-a4cb-f887d8646d69'
LEFT JOIN ScenarioResultValue AS SRV1 WITH (NOLOCK)ON SRV1.ScenarioResultId=SR.ScenarioResultId AND SRV1.TargetColumn = 'Indi_authokplus'
LEFT JOIN ScenarioResultValue AS SRV2 WITH (NOLOCK)ON SRV2.ScenarioResultId=SR.ScenarioResultId AND SRV2.TargetColumn = 'Indi_authokcorp'
LEFT JOIN ScenarioResultValue AS SRV3 WITH (NOLOCK) ON SRV3.ScenarioResultId=SR.ScenarioResultId AND SRV3.TargetColumn = 'Indi_authdeny'
LEFT JOIN ScenarioResultValue AS SRV4 WITH (NOLOCK) ON SRV4.ScenarioResultId=SR.ScenarioResultId AND SRV4.TargetColumn = 'Indi_ibsnoinsur'
LEFT JOIN ScenarioResultValue AS SRV5 WITH (NOLOCK) ON SRV5.ScenarioResultId=SR.ScenarioResultId AND SRV5.TargetColumn = 'Indi_ibswithinsur'
LEFT JOIN ScenarioResultValue AS SRV7 WITH (NOLOCK) ON SRV7.ScenarioResultId=SR.ScenarioResultId AND SRV7.TargetColumn = 'Indi_ibsadhoc'
LEFT JOIN ScenarioResultValue AS SRV8 WITH (NOLOCK) ON SRV8.ScenarioResultId=SR.ScenarioResultId AND SRV8.TargetColumn = 'Indi_status'
LEFT JOIN ScenarioResultValue AS SRV9 WITH (NOLOCK) ON SRV9.ScenarioResultId=SR.ScenarioResultId AND SRV9.TargetColumn = 'Indi_nepravidelnosti'
LEFT JOIN ScenarioResultValue AS SRV10 WITH (NOLOCK) ON SRV10.ScenarioResultId=SR.ScenarioResultId AND SRV10.TargetColumn = 'Indi_HAhelp'
LEFT JOIN ScenarioResultValue AS SRV11 WITH (NOLOCK) ON SRV11.ScenarioResultId=SR.ScenarioResultId AND SRV11.TargetColumn = 'Indi_slozite'
LEFT JOIN ScenarioResultValue AS SRV12 WITH (NOLOCK) ON SRV12.ScenarioResultId=SR.ScenarioResultId AND SRV12.TargetColumn = 'Indi_iss'
LEFT JOIN ScenarioResultValue AS SRV13 WITH (NOLOCK) ON SRV13.ScenarioResultId=SR.ScenarioResultId AND SRV13.TargetColumn = 'Indi_issother'
LEFT JOIN ScenarioResultValue AS SRV14 WITH (NOLOCK) ON SRV14.ScenarioResultId=SR.ScenarioResultId AND SRV14.TargetColumn = 'Indi_issID/ZED'
LEFT JOIN ScenarioResultValue AS SRV15 WITH (NOLOCK) ON SRV15.ScenarioResultId=SR.ScenarioResultId AND SRV15.TargetColumn = 'Indi_issQS'
LEFT JOIN ScenarioResultValue AS SRV16 WITH (NOLOCK) ON SRV16.ScenarioResultId=SR.ScenarioResultId AND SRV16.TargetColumn = 'Indi_reiss'
LEFT JOIN ScenarioResultValue AS SRV17 WITH (NOLOCK) ON SRV17.ScenarioResultId=SR.ScenarioResultId AND SRV17.TargetColumn = 'Indi_ref'
LEFT JOIN ScenarioResultValue AS SRV18 WITH (NOLOCK) ON SRV18.ScenarioResultId=SR.ScenarioResultId AND SRV18.TargetColumn = 'Indi_QSpnr'
LEFT JOIN ScenarioResultValue AS SRV19 WITH (NOLOCK) ON SRV19.ScenarioResultId=SR.ScenarioResultId AND SRV19.TargetColumn = 'Indi_vracenachyba'
LEFT JOIN ScenarioResultValue AS SRV20 WITH (NOLOCK) ON SRV20.ScenarioResultId=SR.ScenarioResultId AND SRV20.TargetColumn = 'Indi_konzult'
LEFT JOIN ScenarioResultValue AS SRV21 WITH (NOLOCK) ON SRV21.ScenarioResultId=SR.ScenarioResultId AND SRV21.TargetColumn = 'Indi_rm'
LEFT JOIN ScenarioResultValue AS SRV22 WITH (NOLOCK) ON SRV22.ScenarioResultId=SR.ScenarioResultId AND SRV22.TargetColumn = 'Indi_jollor'
LEFT JOIN Agent AS A WITH (NOLOCK) ON SR.AgentId=A.AgentId
WHERE  iCC.dbo.TimeUTC_Local(SR.TimeUtc)>=@FROM and iCC.dbo.TimeUTC_Local(SR.TimeUtc)<=@TO
UNION ALL -- pan Mareš tam chtěl mít všechny dny v kalendáři včetně těch úplně prázdných
SELECT
 RD.D AS RoundedTime,
 NULL AS Activity, NULL AS IssueId, NULL AS ScenarioId,  RD.D AS TimeUtc,
 0 AS IndiAuth, 0  AS IndiAuthCor, 0  AS IndiAuthDeny,
 0 AS IndiIbsNoIns, NULL AS IndiIbsIns, 0 AS IndiIbsAdhoc,
 0 AS IndiStatus, 0 AS IndiNeprav, 0 AS IndiHelp, 
 0 AS IndiSlozit, 0 AS IndiIss,0 AS IndiIssOther,
 0 AS IndiZedId, 0 AS IndiQs,0 AS IndiReiss,
 0 AS IndiRef,0 AS IndiQSpnr,
 0 AS IndiVracenaChyba,0 AS IndiKonzult,0 AS IndiJoll,
  NULL AS Remark,
   NULL AS AgentId, 'Bez_agenta' as AgentName, NULL AS MNT
 FROM iCC.dbo.Rep_Date AS RD WITH (NOLOCK)
WHERE RD.D>=@FROM AND RD.D<=@TO AND RD.D IS NOT NULL

)
