SELECT
CASE 
WHEN ColumnName = 'PerUnsucces' THEN 1 
WHEN ColumnName = 'PerSucces' THEN 2
WHEN ColumnName = 'RingUnsuccess' THEN 3
WHEN ColumnName = 'Ring' THEN 4
WHEN ColumnName = 'Talk' THEN 5
WHEN ColumnName = 'Pcp' THEN 6
WHEN ColumnName = 'DistributedSucces' THEN 8
WHEN ColumnName = 'TimeTotal' THEN 7
ELSE 9
END AS 'Rank',
CASE 
WHEN ColumnName = 'PerUnsucces' THEN '% Neúspěsné' 
WHEN ColumnName = 'PerSucces' THEN '% Úspěšné'
WHEN ColumnName = 'DistributedSucces' THEN 'Úspěšné'
WHEN ColumnName = 'RingUnsuccess' THEN 'Prům. ring neúspěšné'
WHEN ColumnName = 'Ring' THEN 'Prům. ring úspěšné'
WHEN ColumnName = 'Talk' THEN 'Prům. v hovoru úspěšné'
WHEN ColumnName = 'Pcp' THEN 'Prům. ACW úspěšné'
WHEN ColumnName = 'TimeTotal' THEN 'Prům. délka úspěšné'
ELSE 'Aktivní callbacky'
END AS 'Text', 
IIF(ColumnName IN ('PerUnsucces', 'PerSucces'), Value + ' %', IIF(ColumnName IN ('RingUnsuccess', 'Ring', 'Talk', 'Pcp', 'TimeTotal'), Value + ' s', Value)) AS 'Number',
IIF((ColumnName = 'PerUnsucces' AND Value > '50') OR (ColumnName = 'PerSucces' AND Value < '50'), '#cc3333', IIF((ColumnName = 'PerUnsucces' AND Value >= '30') OR (ColumnName = 'PerSucces' AND Value <= '70'), '#e68019', IIF(ColumnName NOT IN ('PerUnsucces', 'PerSucces'), '#f2f2f2', '#46b946'))) AS 'FrontColor',
IIF(ColumnName IN ('PerUnsucces', 'PerSucces'), '#FFFFFF', '#666666') as 'BackColor',
CASE 
WHEN ColumnName = 'PerUnsucces' THEN 'fa fa-close' 
WHEN ColumnName = 'PerSucces' THEN 'fa fa-check'
WHEN ColumnName = 'DistributedSucces' THEN 'fa fa-phone'
WHEN ColumnName = 'RingUnsuccess' THEN 'fa fa-warning'
WHEN ColumnName = 'Ring' THEN 'fa fa-volume-control-phone'
WHEN ColumnName = 'Talk' THEN 'fa fa-question'
WHEN ColumnName = 'Pcp' THEN 'fa fa-line-chart'
WHEN ColumnName = 'TimeTotal' THEN 'fa fa-clock-o'
ELSE 'fa fa-random'
END AS 'Glyph',
'' AS 'Url'
FROM 
(
SELECT
ISNULL(CAST(CAST((CAST(DistributedUnsucces AS DECIMAL)/CAST(iif(AllDitributed = 0, null, AllDitributed) AS DECIMAL)) * 100 AS DECIMAL(5,2)) AS NVARCHAR), 0) AS PerUnsucces,
ISNULL(CAST(CAST((CAST(DistributedSucces AS DECIMAL)/CAST(iif(AllDitributed = 0, null, AllDitributed) AS DECIMAL)) * 100 AS DECIMAL(5,2)) AS NVARCHAR), 0) AS PerSucces,
ISNULL(CAST(DistributedSucces AS NVARCHAR), 0) AS DistributedSucces, 
ISNULL(CAST(RingUnsucces AS NVARCHAR), 0) AS RingUnsuccess,
ISNULL(CAST(RingConnected AS NVARCHAR), 0) AS Ring,
ISNULL(CAST(TalkConnected AS NVARCHAR), 0) AS Talk,
ISNULL(CAST(PcPConnected AS NVARCHAR), 0) AS Pcp,
ISNULL(CAST(TimeConnected AS NVARCHAR), 0) AS TimeTotal,
ISNULL(CAST(ActiveCallBacks AS NVARCHAR), 0) AS CallBacks
FROM
(
SELECT 
SUM(IIF(AgentId IS NOT NULL AND AnswerTime IS NULL AND CallResult <> 'Active' AND CallPhase NOT IN ('AgentTalk', 'AutoDial', 'Enqueue', 'New'), 1, 0)) AS DistributedUnsucces,
AVG(IIF(AgentId IS NOT NULL AND AnswerTime IS NULL AND CallResult <> 'Active' AND CallPhase NOT IN ('AgentTalk', 'AutoDial', 'Enqueue', 'New'), ISNULL(RingDuration, 0), NULL)) AS RingUnsucces,
SUM(IIF(AgentId IS NOT NULL AND CallResult <> 'Active' AND CallPhase NOT IN ('AgentTalk', 'AutoDial', 'Enqueue', 'New'), 1, 0)) AS AllDitributed,
SUM(IIF(AgentId IS NOT NULL AND AnswerTime IS NOT NULL AND CallResult <> 'Active' AND CallPhase NOT IN ('AgentTalk', 'AutoDial', 'Enqueue', 'New'), 1, 0)) AS DistributedSucces,
AVG(IIF(AgentId IS NOT NULL AND AnswerTime IS NOT NULL, ISNULL(RingDuration, 0), NULL)) AS RingConnected,
AVG(IIF(AgentId IS NOT NULL AND AnswerTime IS NOT NULL, ISNULL(CallDuration, 0), NULL)) AS TalkConnected,
AVG(IIF(AgentId IS NOT NULL AND AnswerTime IS NOT NULL, ISNULL(PcpWrapDuration, 0), NULL)) AS PcPConnected,
AVG(IIF(AgentId IS NOT NULL AND AnswerTime IS NOT NULL, ISNULL(PcpWrapDuration, 0) + ISNULL(RingDuration, 0) + ISNULL(CallDuration, 0), NULL)) AS TimeConnected,
SUM(IIF(Activity = 'Active', 1, 0)) AS ActiveCallBacks
FROM
(
SELECT 
o.TimeUtc, 
o.CallPhase,
o.CallResult, 
o.AgentId, 
o.ContactId, 
o.EnqueueingTime, 
o.ScheduleTime, 
o.RegionalTime, 
o.DistributionTime, 
o.AnswerTime, 
o.EndTime, 
o.PostCallEndTime, 
o.RingDuration, 
o.CallDuration, 
o.HoldDuration,
o.PcpWrapDuration,
ol.DisplayName,
ol.Activity
FROM iCC.dbo.OutboundCall AS o
LEFT JOIN iCC.dbo.OutboundList AS ol ON o.OutboundListId = ol.OutboundListId AND ol.DisplayName LIKE '%Callback%'
WHERE CAST(o.TimeUtc AS DATE) = CAST(GETDATE() as date) 
) AS Phase1
) AS Phase2
) AS Final
UNPIVOT
(
Value FOR ColumnName IN (PerUnsucces, PerSucces, DistributedSucces, RingUnsuccess, Ring, Talk, Pcp, TimeTotal, CallBacks)
) AS Unpiv

UNION ALL

SELECT 
10 as Rank,
'Prům. hodnocení' as Text,
left(AvgEval,charindex('.',AvgEval) + 1) as Number,
'#f2f2f2' as BackColor,
'#666666' as FrontColor,
'fa fa-star' as Glyph,
'' as Url
from (select 
isnull(Avg(cast(ResultText as float (1))),0) as AvgEval
from iCC.dbo.ScenarioResult as sr with (nolock) 
inner join iCC.dbo.InboundCall as i with (nolock) on i.InboundCallId = sr.InboundCallId and endtime >= cast(@Now as date) and IvrScriptAId = '8b9365f7-c0b5-4e97-953a-8d5d730c7413'
left join iCC.dbo.ScenarioResultValue as srv with (nolock) on sr.ScenarioResultId = srv.ScenarioResultId and TargetColumn = 'nps_znamka'
where cast(i.EndTime as date) = cast(@Now as date) and ResultText is not null) as CTE
