/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 WP.[DisplayName]
      --,AG.DisplayName AS AgentName
      ,[Number]
      ,[Computer]
      ,[State]
      ,[Offer]
      ,[CtiModel]
      ,[OfferModel]
      ,[LoggedClientModel]
      ,[UsedClientModels]
      ,[MaxRinging]
      ,[MaxOffering]
      ,[Blocking]
      ,[AutoLogoff]
      ,[ExternalNumber]
      ,[TransferBlockUtc]
      ,[TransferFailedBlocking]
      ,[ExternalState]
      ,[Voice]
      ,[Message]
      ,[Chat]
  FROM [iCC].[dbo].[Workplace] AS WP
  LEFT JOIN [iCC].[dbo].[Agent] AS AG ON WP.WorkplaceId=AG.WorkplaceId
  WHERE AG.WorkplaceId IS NULL
  AND WP.Deleted=0
  ORDER BY Number