/****** Script for SelectTopNRows command from SSMS  ******/
--USE Frontstage
--GO
SELECT TOP 10 AgentName,IPAddress,PocReg FROM (
SELECT AgentName,
       IPAddress,
      Count(1) AS PocReg
	  FROM (
SELECT TOP (1000) [StationId]
      ,[ConnectionTimeUtc]
	  ,AG.DisplayName AS AgentName
      ,[IPAddress]
  --    ,[ProxyVersion]
      ,[ClientInfo]
      ,[AuthenticationTimeUtc]     
      ,[CredentialsId]
      ,[AppEndId]
      ,[DisconnectionTimeUtc]
      ,[Reason]
  FROM .[dbo].[Station] ST
  LEFT JOIN .[dbo].Agent AG ON AG.Agentid=ST.Agentid 
  WHERE ClientInfo LIKE 'iCC.DesktopClient%' AND DisconnectionTimeUTC IS NULL) AS Phase1
  GROUP BY AgentName,IPAddress ) AS Phase2
  WHERE PocReg>1

  -----------------------
  SELECT TOP (1000) [StationId]
      ,[ConnectionTimeUtc]
	  ,AG.DisplayName AS AgentName
	  ,AG.Activity
      ,[IPAddress]
  --    ,[ProxyVersion]
      ,[ClientInfo]
      ,[AuthenticationTimeUtc]     
      ,[CredentialsId]
      ,[AppEndId]
      ,[DisconnectionTimeUtc]
      ,[Reason]

  FROM .[dbo].[Station] ST
  LEFT JOIN .[dbo].Agent AG ON AG.Agentid=ST.Agentid 
  WHERE ClientInfo LIKE 'iCC.DesktopClient%'
   -- AND DisplayName='Ivona Kuželová'

   SELECT TOP (1000) [StationId]
      ,[ConnectionTimeUtc]
	  ,AG.DisplayName AS AgentName
	  --,AG2.DisplayName AS AgentNameiCC
	  ,AG.Activity
      ,[IPAddress]
     ,[ProxyVersion]
      ,[ClientInfo]
      ,[AuthenticationTimeUtc]     
      ,[CredentialsId]
      ,[AppEndId]
      ,[DisconnectionTimeUtc]
      ,[Reason]
  FROM [Station] ST
  LEFT JOIN Agent AG ON AG.Agentid=ST.Agentid 
  --LEFT JOIN Agent AG2 ON AG2.DisplayName=AG.DisplayName 
  WHERE ClientInfo LIKE 'iCC.DesktopClient%' AND AG.Activity='Logoff'
     AND DisconnectionTimeUtc IS NULL
  ORDER BY AG.DisplayName

  /* Delete uncorrect Records:
  DELETE ST FROM .[dbo].[Station] ST
  LEFT join .[dbo].Agent AG ON AG.Agentid=ST.Agentid 
  LEFT JOIN iCC.[dbo].Agent AG2 ON AG2.DisplayName=AG.DisplayName 
WHERE ClientInfo LIKE 'iCC.DesktopClient%' AND AG2.Activity='Logoff'
*/
SELECT *  FROM .[dbo].[Station]
