/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 
      DataQueryColumnId
	  ,DQ.[DisplayName] AS GridName
	  ,DQ.QueryGroup
	  ,IIF(DQ.QueryGroup='ServiceAPP','YES','') AS ServiceAPP
      ,DQC.[DisplayName] AS ColumnName
	  ,[TargetColumn]
      ,[UrlColumn]
	  ,[UrlFormat]
      ,[Model]
      ,[TargetFormat]
      ,[GuidColumn]
      ,[Convertor]
      ,[SortExpression]
      ,[SortExpressionDesc]
	   ,DQC.[DataQueryId]
      ,[NoFilter]
      ,[Width]
      ,[Rank]
      ,[Color]
      ,[SqlCmd]
      ,[Css]
      ,[ToolTip]
      ,[LiteralGroup]
      ,[GlyphColumn]
      ,[GlyphFormat]
  FROM [DataQueryColumn] DQC
  LEFT JOIN [DataQuery] DQ ON DQ.DataQueryId=DQC.DataQueryId
  WHERE 1=1
   AND UrlFormat IS NOT NULL
  --AND UrlFormat LIKE '%DataQueryPage%'
    --AND DataqueryColumnId='B23D6374-9D41-40E3-B3D8-FEBE9742D243'
    --AND DQC.DataqueryId='73342443-45F0-4C26-AA6C-37335ADB34A4'
	--AND Model='HyperLink'
   --AND UrlFormat = '~/Pages/Messages/DispFormPlus.aspx?Id={0}'
   --AND (QueryGroup LIKE '%Portal' OR QueryGroup LIKE 'ADMIN')
  ORDER BY UrlColumn --DQ.[DisplayName]

  /*
  --  EXEC FSC_Repair_Target 'B23D6374-9D41-40E3-B3D8-FEBE9742D243','DataQueryPage'

DECLARE @Expression NVARCHAR(250)='DataQueryPage'
DECLARE @DataQueryColumnId AS UniqueIdentifier='B23D6374-9D41-40E3-B3D8-FEBE9742D243'

DECLARE @RightPosition AS Int = CHARINDEX(@Expression,
(SELECT TOP 1 UrlFormat FROM (
SELECT [UrlFormat]
    ,COUNT(1) AS Pocet
  FROM [DataQueryColumn] DQC
  WHERE 1=1
  AND UrlFormat LIKE '%'+@Expression+'%'
  GROUP BY UrlFormat ) AS Phase1
  ORDER BY Pocet DESC))

DECLARE @URLFormat AS NVARCHAR(300)=
(SELECT [UrlFormat]
  FROM [DataQueryColumn] DQC
  WHERE 1=1
  AND DataQueryColumnId=@DataQueryColumnId)

DECLARE @MyPosition AS Int = CHARINDEX(@Expression,@URLFormat)
SET @URLFormat=SUBSTRING(@URLFormat,@MyPosition-@RightPosition+1,300)

SELECT @URLFormat AS URLFormat
*/