/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [GatewayId]
      ,[PilotAddress]
      ,[DisplayName]
      ,[Description]
      ,[Direction]
      ,[InDevice]
	  , REPLACE(InDevice,'vTv8Q~k3kkZz7DPMRUBA.2FKxtaWC_tLBonQ6bi5','3wH8Q~yRKEFcHQ2WxQl6H-VhQa~M06dDx-JXubrH') AS NewInDevice
      ,[OutDevice]
      ,[LanguageId]
      ,[MasterGatewayId]
      ,[Deleted]
      ,[EditorFeatures]
      ,[Channel]
  FROM [Frontstage].[dbo].[Gateway]
  WHERE 1=1
  AND (InDevice LIKE '%0732b8e0-f8ee-4f88-aed5-17f71afdb744%' OR OutDevice LIKE '%0732b8e0-f8ee-4f88-aed5-17f71afdb744%')
  AND Deleted=0