SELECT TOP 1000 [PortalId]
      ,[HashPage]
      ,[DisplayName]
      ,[Description]
      ,[Glyph]
      ,[KbTagId]
      ,[NavGroup]
      ,[Rank]
      ,[TimeOut]
      ,[JsonData]
      ,[Title]
      ,[ExternalUrl]
  FROM .[dbo].[Portal]
  wHERE 1=1
 -- AND  HashPage='Admin_KontSys' OR HashPage='ServiceAPP_KontSys'
 AND Navgroup='AdminPageNav'--'Admin_KontSys'--
      --AND HashPage LIKE '%Admin_KontSys%'
  --  AND JsonData LIKE '%ae9ad200-8e42-4e70-99a0-0658d008de2a%'
  ORDER BY HashPage