/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @from AS datetime=convert(datetime, '2018.02.01')
DECLARE @to AS datetime=convert(datetime, '2018.02.28')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER='ef0de42d-e6c2-4719-a264-9447484f4c8b'
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1


SET @from=GETDATE()-7
SET @to=GETDATE()
/**/
SELECT TOP 1000 [INboundCallId]
      , WP.DisplayName AS Workplace
	  ,PilotTime
      ,[TimeUtc]
      ,[CallType]
      ,[CallPhase]
      ,[CallResult]
      ,[AppResult]
      ,[PbxCallId]
      ,[CallerNumber]
      ,[PhoneNumberId]
      ,[ContactId]
      ,[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
       ,[RegionalTime]
      ,[DistributionTime]
      ,[AnswerTime]
      ,[EndTime]
      ,[AppResultTime]
      ,[PostCallEndTime]
      ,[AgentId]
      ,[TeamName]
      ,[Predistributed]
      --,[WorkplaceId]
      ,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[RingDuration]
      ,[CallDuration]
      ,[HoldDuration]
      ,[PcpWrapDuration]
      ,[IssueId]
      ,[ChainingId]
      ,[ConditionLevel]
      ,[Mark]
      ,[IvrScriptAId]
      ,[IvrScriptATime]
      ,[IvrResponseA]
      ,[TransferredTo]
   FROM [InboundCall] IC
     LEFT JOIN [Workplace] WP ON IC.WorkplaceId=WP.WorkplaceId
  WHERE 1=1
   AND InboundCallId IN ('5963e271-5556-ef11-991a-000d3adae25f','31C22EAC-F28A-E611-80F2-F8BC1253A1A4')
    --AND PilotTime>@from
	  --GROUP BY Redirector
ORDER BY PilotTime