/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ActionTriggerId]
      ,[DisplayName]
      ,[Description]
      ,[GroupName]
      ,[CommandText]
      ,[WorkflowId]
      ,[WorkflowXaml]
      ,[Model]
      ,[Interval]
      ,[TimeMode]
      ,[TimeFrom]
      ,[TimeTo]
      ,[ReferenceKey]
      ,[LastRunUtc]
      ,[LastWorkflowInstanceId]
      ,[Suspended]
      ,[Deleted]
      ,[Offset]
      ,[LaunchTime]
  FROM [ActionTrigger] WHERE 1=1
   --AND Model='Interval'
 AND ActionTriggerId='4875c46d-0228-4944-9a81-ecb5cdce8c6c'