DECLARE @IVRId AS UniqueIdentifier= '99CCBFD6-1A78-4FB9-8DD7-177A8BAE3AED'
IF 1=1
  BEGIN
	SELECT TOP 10 *  FROM [IvrScript] WHERE [IvrScriptId]=@IVRId
	SELECT TOP 10 *  FROM [IvrStep] WHERE [TargetId]=@IVRId
	SELECT TOP 10 *  FROM [PreCondition] WHERE IvrScriptAId=@IVRId
	SELECT TOP 10 *  FROM [PostCondition] WHERE IvrScriptBId=@IVRId
	SELECT TOP 10 *  FROM [WaitPostCondition] WHERE IvrScriptWId=@IVRId
	SELECT TOP 10 *  FROM [Configuration] WHERE ConfigurationValue LIKE @IVRId
  END
IF 1=1 -- Chybějící IVR skript
  BEGIN
	SELECT TOP 10 *  FROM [PreCondition] PC
	  LEFT JOIN [IvrScript] IVR ON IVR.[IvrScriptId]=PC.[IvrScriptAId]
	 WHERE PC.[IvrScriptAId] IS NOT NULL AND IVR.[IvrScriptId] IS NULL OR IVR.Deleted=1

	 SELECT TOP 10 *  FROM [PostCondition] PC
	  LEFT JOIN [IvrScript] IVR ON IVR.[IvrScriptId]=PC.[IvrScriptBId]
	 WHERE PC.[IvrScriptBId] IS NOT NULL AND IVR.[IvrScriptId] IS NULL OR IVR.Deleted=1

	 SELECT TOP 10 *  FROM [WaitPostCondition] PC
	  LEFT JOIN [IvrScript] IVR ON IVR.[IvrScriptId]=PC.[IvrScriptWId]
	 WHERE PC.[IvrScriptWId] IS NOT NULL AND IVR.[IvrScriptId] IS NULL OR IVR.Deleted=1

	 SELECT TOP 100 *  FROM [IvrStep] PC
	  LEFT JOIN [IvrScript] IVR ON IVR.[IvrScriptId]=PC.[TargetId]
	  LEFT JOIN [IvrScript] IVRP ON IVRP.[IvrScriptId]=PC.[IvrScriptId]
	 WHERE PC.Deleted=0 AND IVRP.Deleted=0 AND (PC.[TargetId] IS NOT NULL AND IVR.[IvrScriptId] IS NULL OR IVR.Deleted=1)

 END
