/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (10000) [LiteralGroup]
      ,[LiteralValue]
      ,[Culture]
      ,[LiteralText]
      ,[DisplayName]
      ,[Description]
      ,[Changed]
  FROM .[dbo].[LiteralLookup] WHERE 1=1
  --AND LiteralGroup=111--44--49--102 -- 
  --and LiteralValue>11057
  --AND DisplayName IN ('Případ - Activita','Zvonění','Změna citlivosti','Zvednuto')
   --AND DisplayName LIKE 'Případ%'
  --AND Culture='cs-CZ'
  --AND LiteralValue=38
  AND LiteralText IN ('ScenarioResult','Distribution','Změna citlivosti')

