--IF @@VERSION NOT LIKE '%Azure%'
 -- USE Frontstage

DECLARE @from AS date=convert(datetime, '2017.06.26')
DECLARE @to AS date=convert(datetime, '2017.06.27')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER=(SELECT TOP 1 AgentId FROM Agent WHERE Activity='Ready')
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Number AS integer
DECLARE @GroupInterval AS integer=1440
DECLARE @RoundInterval AS integer=@GroupInterval
DECLARE @Version  AS integer=1
DECLARE @LastTime AS bit=1

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Day,-5,GETDATE())
    SET @to=GETDATE()
  END

SELECT 
--DISTINCT
TOP 10000
      [GatewayId],
	 ME.[TimeUtc],
	  [SubjectField],
	RemoteAddress,
     [BodyText],
  convert(varchar(max),EML) AS EML,
    [ContactId],
   [PhoneNumberId],
  [RelatedMessageId]
  ,ME.AgentId
    --,Me.[MessagePhase]
      ,ME.[MessageId]
	  ,ME.ReceivedSentTime
	  ---, MEE.TimeLocal AS CasPrirazeni,
      --,MEE.ResultData
	  ,[RelatedMessageId]
      ,[MessageType]
      ,[MessagePhase]
      ,[MessageResult]
      --,[DeliverySystemId]
      ,[FromField]
      ,[RemoteAddress]
      ,[ToField]
      ,[ToCcField]
      --,[ToBccField]

      ,[Priority]
      ,ME.[ProjectId]
      ,[Skill]
      ,[PreferredAgentId]
      ,[DraftTime]
      ,[ReceivedSentTime]
      ,[ReadConfirmedTime]
      ,[AcceptedTime]
      ,[AnsweringTime]
      ,[EndTime]
      ,[Direction]
      ,[BodyHtml]
      ,[ImrScriptAId]
      ,[ImrScriptBId]
      ,[ImrScriptWId]
      ,[ImrResponseA]
      ,[ImrResponseB]
      ,[ImrResponseW]
      ,[QueuePosition]
      ,[QueueLength]
      ,[CampaignId]
      ,[ScheduledTime]
      --,[AgentId]
      --,[TeamName]
      --,[Correlation]
      ,[LanguageId]
      ,[Proficiency]
      ,[Eml]
      ,[RoutingDuration]
      ,[WorkDuration]
      ,[OpenDuration]
      ,[NetDuration]
      ,[IssueId]
      ,[Mark]
      ,[SpamLevel]
      ,[SignatureValidity]
      ,[CampaignImportId]
      ,[ExtendedFields]
	  ,ToBccField 
	  	  /* */
  FROM .[dbo].[Message] ME
    LEFT JOIN .dbo.Agent AS A ON A.AgentId=ME.AgentId
    --LEFT JOIN .dbo.MessageEvent as MEE with (NOLOCK) on ME.MessageId=MEE.MessageId AND MEE.EventType='Assigned'
   
  WHERE 1=1
    --AND DATEDIFF(DD,ReceivedSentTime,ME.TimeUtc)>2
	--AND ME.MessageId='845f5fb9-5561-4bc3-8c77-59a3eff59c2b'
   --AND ME.TimeUtc>@from
   --AND Gatewayid='f8e38ef1-e6cb-4514-9764-580707b02a04'
   --AND ME.Agentid IS NULL
   --AND ME.BodyText LIKE '  Dobrý den, pane Třísko,%'
   --AND IssueId='5b7a60d9-c326-e811-8508-0050568e4c40'
   --AND BodyHtml LIKE '%Štěpánková%'
   --AND ME.ProjectId='005EBA6E-949A-4732-8492-D371DE0D8BCF' -- SPAM
    --AND MessageType='Note'
	--AND SpamLevel>=1 
	--AND A.DisplayName LIKE '%Fuks%'
 -- AND RemoteAddress='ivanvesely11@gmail.com'
  --AND ToField='infolinka@dhl.com'
  --AND SubjectField LIKE 'Yenkee - web dotaz%'
  --AND Direction='I'
  --AND ME.AgentId IS  NULL
  --AND RelatedMessageId IS NOT NULL
  --FromField='import@bemeta.cz'
   AND ME.MessageId='E689DC0B-89FD-4572-BF2E-7D70A7F64BD3'  
   --AND ME.AgentId='6d3be5af-8397-4a08-93eb-e2fb9930e34d'  BEE69283-5EE2-E611-96AD-0050568E4C40
  --AND MessagePhase='Draft'
  ORDER BY TimeUtc DESC
   /*
  AND MessageId IN (
  '11B1DCD1-50B2-E611-BF8E-0050568E62E5',
  'C7249BFB-AB3D-E611-86FB-0050568E62E5',
  'BF249BFB-AB3D-E611-86FB-0050568E62E5',
  '784D77D1-AB3D-E611-86FB-0050568E62E5'

  ) */

