/****** Script for SelectTopNRows command from SSMS  ******/

SELECT TOP (30) --[AttachmentId]
      ME.ReceivedSentTime
	  , ME.SubjectField
	  ,[ContentSize]
      ,[DisplayName]
	  ,ATC.[MessageId]
      ,[Mode]
      --,[BinaryContent]
      ,[FileName]
      ,[MediaType]
      ,[ContentId]
      ,[PartIndex]
      --,deleted
      --,[SignatureValidity]
  FROM [Attachment] ATC
    LEFT JOIN Message ME ON ATC.MessageId=ME.MessageId

  where ContentSize IS NOT NULL
     AND ATC.MessageId='D05E1058-2042-EF11-86C3-000D3AB85366'--'74C1CE6F-0AA9-4154-913D-2EC05FEB6F5A'
	 -- AND Filename LIKE 'Print%'
      ORDER BY ME.ReceivedSentTime DESC 
 