USE Frontstage
GO
DECLARE @from AS date=convert(datetime, '2017.06.26')
DECLARE @to AS date=convert(datetime, '2017.06.27')
DECLARE @today AS Date=GETDATE()
DECLARE @LastWeek AS date=GETDATE()-7
DECLARE @ThisWeek AS date=GETDATE()-3
DECLARE @ThisMonth AS date=GETDATE()-7
DECLARE @MeAgentId AS UNIQUEIDENTIFIER=(SELECT TOP 1 AgentId FROM Agent WHERE Activity='Ready')
DECLARE @Now AS datetime=GETDATE()
DECLARE @LastHour AS datetime=GETDATE()-0.04
DECLARE @LastDay AS date=GETDATE()-1
DECLARE @Number AS integer
DECLARE @GroupInterval AS integer=1440
DECLARE @RoundInterval AS integer=@GroupInterval
DECLARE @Version  AS integer=1
DECLARE @LastTime AS bit=1

IF @LastTime=1
 BEGIN
    SET @from=DATEADD(Day,-10,GETDATE())
    SET @to=GETDATE()
  END

SELECT 
--DISTINCT
TOP 1000000
	 ME.ReceivedSentTime ,
      ME.[TimeUtc],
	  IIF(MessageResult=2,'Closed-Error!!!','OK') AS MessageResult,
	  IIF(RemoteAddress LIKE '%gmail.com%','Google requests authentication!!!','') AS Warning,
	  GW.DisplayName AS GateWayName,
	  RemoteAddress,
	  Messageid,
	 [SubjectField] ,
	     Me.[MessagePhase],
      [MessageResult],
      ME.[GatewayId]
 	  	  /* */
  FROM .[dbo].[Message] ME
    LEFT JOIN .dbo.Gateway AS GW ON GW.GatewayId=ME.GatewayId
    LEFT JOIN .dbo.Agent AS A ON A.AgentId=ME.AgentId
    --LEFT JOIN .dbo.MessageEvent as MEE with (NOLOCK) on ME.MessageId=MEE.MessageId AND MEE.EventType='Assigned'
   
  WHERE 1=1
	AND MessagePhase=8
    --AND DATEDIFF(DD,ReceivedSentTime,ME.TimeUtc)>2
	--AND ME.MessageId='843B117E-C111-EF11-83C7-005056013ADB'
   --AND ME.TimeUtc>@from
   --AND ME.BodyText LIKE '  Dobrý den, pane Třísko,%'
   --AND IssueId='5b7a60d9-c326-e811-8508-0050568e4c40'
   --AND BodyHtml LIKE '%Štěpánková%'
   --AND ME.ProjectId='005EBA6E-949A-4732-8492-D371DE0D8BCF' -- SPAM
    --AND MessageType='Note'
	--AND SpamLevel>=1 
	--AND A.DisplayName LIKE '%Fuks%'
  --AND RemoteAddress='homolka@atlantis.cz'
  --AND ToField='infolinka@dhl.com'
  --AND SubjectField LIKE '%8801115339%'
  --AND Bodytext LIKE '%8801115339%'
  AND ME.Direction='O'
  --AND ME.AgentId IS  NULL
  --AND RelatedMessageId IS NOT NULL
  --FromField='import@bemeta.cz'
  -- AND ME.MessageId='2019C2D7-AC83-EE11-83C7-005056013ADB'  
   --AND ME.AgentId='6d3be5af-8397-4a08-93eb-e2fb9930e34d'  BEE69283-5EE2-E611-96AD-0050568E4C40
  --AND MessagePhase='Draft'
  ORDER BY TimeUtc DESC
 