USE [FS_Custom_H]
GO
/****** Object:  User [HPTBI_User]    Script Date: 9. 1. 2020 10:11:07 ******/
CREATE USER [HPTBI_User] FOR LOGIN [HPTBI_User] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [HPTBI_User]
GO
USE [FS_Custom_H]
GO
/****** Object:  UserDefinedFunction [dbo].[unq_Ratio]    Script Date: 9. 1. 2020 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[unq_Ratio]
(
	@U as int,
	@D as int
)
RETURNS int
AS
BEGIN
	IF @D IS NULL RETURN 0
	IF @D=0 RETURN 0

	IF @U IS NULL RETURN 0
	RETURN 100*@U / @D
END

/****** Object:  Table [dbo].[Rep_SnapshotPripady]    Script Date: 9. 1. 2020 10:34:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rep_SnapshotPripady](
	[Datum] [datetime] NULL,
	[ProjectId] [uniqueidentifier] NULL,
	[MessageQueue] [int] NULL,
	[IssueQueue] [int] NULL,
	[IssueOpen] [int] NULL
) ON [PRIMARY]

GO

/****** Object:  UserDefinedFunction [dbo].[rep_PrehledPripadu]    Script Date: 9. 1. 2020 10:57:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Jiří Stejskal>
-- Create date: <14.7.2017>
-- Description:	<Případový report>
-- Toto je použito i v proceduře pro PowerBI
-- =============================================
CREATE FUNCTION [dbo].[rep_PrehledPripadu]
(	
@From Datetime
,@To datetime
)
RETURNS TABLE 
AS
RETURN 
(
select

I.NewTime as CasZalozeni
,I.CloseTime as CasUzavreni
,DATEDIFF(ss,i.NewTime,I.CloseTime) as Rozdil
,(case when I.Activity='Closed' then 'Uzavřený' else 'Otevřený' end) as Stav
,H.DisplayName as Faze
,P.DisplayName as Projekt
,T.DisplayName as Tema
,S.DisplayName as Podtema
,ISNULL(AB.DisplayName,A.DisplayName) as KdoZalozil
,A.DisplayName as AktualniAgent
,A.TeamName as Tym
,iCC.[dbo].[GetTargetColumnText] (I.FormDataId, 'Doklad' ) AS Doklad
,'http://frontstageht/ReactClient/Pages/Issueeditor.html?Id=' + convert(nvarchar(100),I.IssueId) as Odkaz
,convert(nvarchar(100),I.IssueId) as IssueId
,(SELECT Zdroj FROM (SELECT TOP 1 * FROM FS_Custom.dbo.Issue_History(I.IssueId)  ORDER BY RecTime) AS Prac) AS Zdroj
,(SELECT Zdroj2 FROM (SELECT TOP 1 * FROM FS_Custom.dbo.Issue_History(I.IssueId)  ORDER BY RecTime) AS Prac) AS Zdroj2
,Priority
,iCC.[dbo].[GetTargetColumnText] (I.FormDataId, 'Poznamka' ) AS Pozadavek_Zak
,iCC.[dbo].[GetTargetColumnText] (I.FormDataId, 'Interni' ) AS Interni_Poznamka
,iCC.[dbo].[GetTargetColumnText] (I.FormDataId, 'Predat' ) AS Predat_Na
,iCC.[dbo].[GetTargetColumnText] (I.FormDataId, 'Pracnost' ) AS Pracnost
,iCC.[dbo].[GetTargetColumnText] (I.FormDataId, 'zdroj stížnosti' ) AS Zdroj_stiznosti
,iCC.[dbo].[GetTargetColumnText] (I.FormDataId, 'oprávněnost stížnosti' ) AS Opravnenost_stiznosti
,iCC.[dbo].[GetTargetColumnText] (I.FormDataId, 'řešení stížnosti' ) AS Reseni_stiznosti
,iCC.[dbo].[GetTargetColumnText] (I.FormDataId, 'náklad na řešení stížnosti' ) AS Naklad_stiznosti
,iCC.[dbo].[GetTargetColumnText] (I.FormDataId, 'původ stížnosti' ) AS Puvod_stiznosti

/*,
isnull((select top 1 Channel from (
select TimeUtc,'Příchozí hovor' as Channel from icc.dbo.InboundCall  with (nolock) where IssueId=i.issueid
union all
select timeutc,'E-mail' as Channel from icc.dbo.Message  with (nolock) where IssueId=i.issueid
union all 
select TimeUtc,'Odchozí hovor' as Channel from icc.dbo.OutboundCall with (nolock) where IssueId=i.issueid
union all 
select TimeUtc,'Chat' as Channel from icc.dbo.Chat with (nolock) where IssueId=i.issueid 
) as Dotaz order by TimeUtc),'Bez kontaktu') as Zdroj
*/
from iCC.dbo.Issue I with (nolock) 
left join iCC.dbo.Topic T WITH (nolock) on I.TopicId=T.TopicId
left join iCC.dbo.Project P with (nolock) on P.ProjectId=I.ProjectId
left join iCC.dbo.SubTopic S with (nolock) on I.SubTopicId=S.SubTopicId
left join iCC.dbo.Phase H with (nolock) on I.PhaseId= H.PhaseId
left join iCC.dbo.IssueExtra IE with (nolock) on IE.IssueId=I.IssueId
left join iCC.dbo.Agent A with (nolock) on A.AgentId=I.AgentId
left join iCC.dbo.Agent AB with (nolock) on AB.AgentId=IE.AutorId

where I.NewTime>@From and I.NewTime<=@To
)



/****** Object:  UserDefinedFunction [dbo].[PripadyForView]    Script Date: 9. 1. 2020 10:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zbyněk Homolka>
-- Create date: <2.5.2018>
-- Description:	Podklady pro View BI
-- =============================================
CREATE FUNCTION [dbo].[PripadyForView]
(	
@From Datetime
,@To datetime
)
RETURNS TABLE 
AS
RETURN 
(
SELECT        YEAR(CasZalozeni) AS Rok, MONTH(CasZalozeni) AS Mesic, CONVERT(Date, CasZalozeni) AS Datum, Zdroj, SUBSTRING(CONVERT(CHAR(20),CasZalozeni,20),3,14) AS CasZalozeni,
 SUBSTRING(CONVERT(CHAR(20),CasUzavreni,20),3,14) AS CasUzavreni, SUBSTRING(CONVERT(CHAR(20),DATEADD(ss,Rozdil,0),20),12,5) AS CasZpracovani, Stav, Faze, Projekt, Tema, Podtema, 
                         ISNULL(KdoZalozil,AktualniAgent) AS KdoZalozil, AktualniAgent, Tym, Doklad, IIF(Zdroj='E-mail','',Zdroj2) AS TelCislo, IIF(Zdroj='E-mail',Zdroj2,'') AS Email, Odkaz
						 ,CONVERT(UniqueIdentifier, IssueId) AS IssueId,Priority, Pozadavek_Zak
,Interni_Poznamka
,Predat_Na
,Pracnost
,Zdroj_stiznosti
,Opravnenost_stiznosti
,Reseni_stiznosti
,Naklad_stiznosti
,Puvod_stiznosti



FROM            dbo.rep_PrehledPripadu(@From, @To) )


/****** Object:  Table [dbo].[HPTBI_Agents2]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTBI_Agents2](
	[AgentsId] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Agents_AgentsId]  DEFAULT (newid()),
	[Rok] [int] NULL,
	[Mesic] [int] NULL,
	[Datum] [smalldatetime] NULL,
	[Skupina] [nvarchar](50) NULL,
	[Jmeno] [nvarchar](120) NOT NULL,
	[PocetPrichodu] [int] NULL,
	[PocetOdchodu] [int] NULL,
	[PocetZprav] [int] NULL,
	[PocetChatu] [int] NULL,
	[PocetPripadu] [int] NULL,
	[Celkem] [int] NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[AgentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HPTBI_Branches2]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTBI_Branches2](
	[BranchesId] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_branches_BranchesId]  DEFAULT (newid()),
	[Rok] [int] NULL,
	[Mesic] [int] NULL,
	[Datum] [smalldatetime] NULL,
	[AgentName] [nvarchar](50) NULL,
	[Pobocka] [nvarchar](50) NULL,
	[ProjectName] [nvarchar](50) NOT NULL,
	[PocetPrijatych] [int] NULL,
	[PocetOdchozich] [int] NULL,
	[OdchoziZpravy] [int] NULL,
	[PripadyNove] [int] NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[BranchesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HPTBI_IssueCommuns]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTBI_IssueCommuns](
	[IssueCommunsId] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_IssueCommuns_IssuesId]  DEFAULT (newid()),
	[IssueId] [uniqueidentifier] NOT NULL,
	[Rok] [int] NULL,
	[Mesic] [int] NULL,
	[Datum] [smalldatetime] NULL,
	[AgentName] [nvarchar](50) NULL,
	[Komunikace] [nvarchar](30) NULL,
 CONSTRAINT [PK_IssueCommuns] PRIMARY KEY CLUSTERED 
(
	[IssueCommunsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HPTBI_Issues2]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HPTBI_Issues2](
	[IssuesId] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Issues_IssuesId]  DEFAULT (newid()),
	[IssueId] [uniqueidentifier] NOT NULL,
	[Rok] [int] NULL,
	[Mesic] [int] NULL,
	[Datum] [date] NULL,
	[Zdroj] [varchar](14) NULL,
	[CasZalozeni] [varchar](14) NULL,
	[CasUzavreni] [varchar](14) NULL,
	[CasZpracovani] [varchar](5) NULL,
	[Stav] [varchar](8) NOT NULL,
	[Faze] [nvarchar](50) NULL,
	[Projekt] [nvarchar](50) NULL,
	[Tema] [nvarchar](50) NULL,
	[Podtema] [nvarchar](50) NULL,
	[KdoZalozil] [nvarchar](120) NULL,
	[AktualniAgent] [nvarchar](120) NULL,
	[Tym] [nvarchar](50) NULL,
	[Doklad] [nvarchar](max) NULL,
	[TelCislo] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Odkaz] [nvarchar](158) NULL,
	[Priority] [int] NOT NULL,
	[Predat_Na] [nvarchar](25) NULL,
	[Pracnost] [nvarchar](10) NULL,
	[Interni_Poznamka] [nvarchar](max) NULL,
	[Pozadavek_Zak] [nvarchar](max) NULL,
	[Zdroj_stiznosti] [nvarchar](25) NULL,
	[Opravnenost_stiznosti] [nvarchar](25) NULL,
	[Reseni_stiznosti] [nvarchar](25) NULL,
	[Naklad_stiznosti] [nvarchar](25) NULL,
	[Puvod_stiznosti] [nvarchar](25) NULL,
 CONSTRAINT [PK_Issues] PRIMARY KEY CLUSTERED 
(
	[IssuesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HPTBI_IssueTransactions]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTBI_IssueTransactions](
	[IssueTransId] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_IssueTrans_IssuesId]  DEFAULT (newid()),
	[IssueId] [uniqueidentifier] NOT NULL,
	[Rok] [int] NULL,
	[Mesic] [int] NULL,
	[Datum] [smalldatetime] NULL,
	[AgentName] [nvarchar](50) NULL,
	[Udalost] [nvarchar](20) NULL,
 CONSTRAINT [PK_IssueTrans] PRIMARY KEY CLUSTERED 
(
	[IssueTransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HPTBI_Plants2]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTBI_Plants2](
	[PlantsId] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Plants_PlantsId]  DEFAULT (newid()),
	[Rok] [int] NULL,
	[Mesic] [int] NULL,
	[Datum] [smalldatetime] NULL,
	[Pobocka] [nvarchar](50) NULL,
	[ProjectName] [nvarchar](50) NOT NULL,
	[PocetPrichodu] [int] NULL,
	[PocetPrijatych] [int] NULL,
	[SL] [int] NULL,
	[SLdo20s] [int] NULL,
	[Pocetdo20s] [int] NULL,
	[OdchoziZpravy] [int] NULL,
	[PripadyUzavrene] [int] NULL,
	[PripadyUzavrenyJinym] [int] NULL,
	[PripadyNove] [int] NULL,
	[PocetChatu] [int] NULL,
 CONSTRAINT [PK_Plants] PRIMARY KEY CLUSTERED 
(
	[PlantsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HPTBI_Projects2]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPTBI_Projects2](
	[ProjectsId] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Projects_ProjectsId]  DEFAULT (newid()),
	[Rok] [int] NULL,
	[Mesic] [int] NULL,
	[Datum] [smalldatetime] NULL,
	[ProjectName] [nvarchar](50) NOT NULL,
	[PocetPrichodu] [int] NULL,
	[PocetPrijatych] [int] NULL,
	[SL] [int] NULL,
	[SLdo20s] [int] NULL,
	[Pocetdo20s] [int] NULL,
	[PrichoziZpravy] [int] NULL,
	[OdchoziZpravy] [int] NULL,
	[ZpravyveFronte] [int] NULL,
	[PripadyVeFronte] [int] NULL,
	[PripadyOtevrene] [int] NULL,
	[PripadyUzavrene] [int] NULL,
	[PripadyUzavrenyJinym] [int] NULL,
	[PripadyNove] [int] NULL,
	[PocetChatu] [int] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[ViewBranches]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zbyněk Homolka>
-- Create date: <15.11.2018>
-- Description:	Přehled činnosti nad pobockami pro BI
-- =============================================
CREATE FUNCTION [dbo].[ViewBranches]
(	
@From datetime
,@To datetime
,@RoundInterval AS Integer
)
RETURNS TABLE 
AS
RETURN 
(
 SELECT 
   YEAR(GroupingDate) AS Rok,
   MONTH(GroupingDate) AS Mesic,
   GroupingDate AS Datum,
   AgentName,
   Pobocka,
   ProjectName,	
   SUM(PocetPrijatych) AS PocetPrijatych,
   SUM(PocetOdchozich) AS PocetOdchozich,
   SUM(OdchoziZpravy) AS OdchoziZpravy,
   SUM(PripadyNove) AS PripadyNove
													
FROM													
(													
													
 SELECT 		-- Odchozí hovory											
	FS_Custom_H.dbo.RoundTime(OC.EnqueueingTime, @RoundInterval) AS GroupingDate,
	AG.DisplayName AS AgentName,
	AG.GroupName AS Pobocka,
    PR.Displayname AS ProjectName,	
    0 AS PocetPrijatych,
    SUM(1) AS PocetOdchozich,
      0 AS OdchoziZpravy,
      0 AS PripadyNove

	FROM iCC_H.dbo.OutboundCall AS OC WITH(NOLOCK)	
	INNER JOIN iCC_H.dbo.Project PR ON OC.ProjectId=PR.ProjectId
	LEFT JOIN iCC_H.dbo.Agent AG ON OC.AgentId=AG.AgentId
	WHERE EnqueueingTime >= DATEADD(Hour,-1,@From) AND EnqueueingTime <= DATEADD(Hour,1,@To) AND AnswerTime IS NOT NULL
	  AND AnswerTime > @From AND AnswerTime <= @To
	GROUP BY FS_Custom_H.dbo.RoundTime(OC.EnqueueingTime, @RoundInterval),AG.DisplayName,AG.GroupName,PR.Displayname
											

	UNION ALL	
 SELECT 		-- Příchozí hovory											
	FS_Custom_H.dbo.RoundTime(IC.PilotTime, @RoundInterval) AS GroupingDate,
	AG.DisplayName AS AgentName,
	AG.GroupName AS Pobocka,
    PR.Displayname AS ProjectName,	
    SUM(1) AS PocetPrijatych,
      0 AS PocetOdchozich,
      0 AS OdchoziZpravy,
      0 AS PripadyNove

	FROM iCC_H.dbo.InboundCall AS IC WITH(NOLOCK)	
	INNER JOIN iCC_H.dbo.Project PR ON IC.ProjectId=PR.ProjectId
	INNER JOIN iCC_H.dbo.Agent AG ON IC.AgentId=AG.AgentId
	WHERE PilotTime >= DATEADD(Hour,-1,@From) AND PilotTime <= DATEADD(Hour,1,@To) AND AnswerTime IS NOT NULL
	  AND AnswerTime > @From AND AnswerTime <= @To
	GROUP BY FS_Custom_H.dbo.RoundTime(IC.PilotTime, @RoundInterval),AG.DisplayName,AG.GroupName,PR.Displayname

	UNION ALL	
 SELECT 		-- Maily											
	FS_Custom_H.dbo.RoundTime(ME.ReceivedSentTime, @RoundInterval) AS GroupingDate,
	AG.DisplayName AS AgentName,
	AG.GroupName AS Pobocka,
    PR.Displayname AS ProjectName,	
      0 AS PocetPrijatych,
      0 AS PocetOdchozich,
      SUM(1) AS OdchoziZpravy,
      0 AS PripadyNove

	FROM iCC_H.dbo.Message AS ME WITH(NOLOCK)	
	INNER JOIN iCC_H.dbo.Project PR ON ME.ProjectId=PR.ProjectId
	INNER JOIN iCC_H.dbo.Agent AG ON ME.AgentId=AG.AgentId
	WHERE ReceivedSentTime >= @From AND ReceivedSentTime <= @To AND Direction='O'
	  AND MessageType='Email'
	  -- AND me.GatewayId<>'A78D7F31-AF94-46A3-A059-300C17EF72C3'
	  AND  ME.AgentId is not null
	GROUP BY FS_Custom_H.dbo.RoundTime(ME.ReceivedSentTime, @RoundInterval),AG.DisplayName,AG.GroupName,PR.Displayname
	UNION ALL	
 SELECT 		-- Případy											
	FS_Custom_H.dbo.RoundTime(ISU.NewTime, @RoundInterval) AS GroupingDate,
	ISNULL(AGAUT.DisplayName,AG.DisplayName) AS AgentName,
	ISNULL(AGAUT.GroupName,AG.GroupName) AS Pobocka,
    PR.Displayname AS ProjectName,	
      0 AS PocetPrijatych,
      0 AS PocetOdchozich,
      0 AS OdchoziZpravy,
      SUM(1) AS PripadyNove

	FROM iCC_H.dbo.issue ISU WITH(NOLOCK)	
	INNER JOIN iCC_H.dbo.issueextra as ie WITH(NOLOCK) on ie.issueid = isu.IssueId
	INNER JOIN iCC_H.dbo.Project PR WITH(NOLOCK) ON ISU.ProjectId=PR.ProjectId
	LEFT JOIN iCC_H.dbo.Agent AGAUT WITH(NOLOCK) ON IE.AutorId=AGAUT.AgentId  -- Musím zkoumat autora a ne aktuálního agenta
	LEFT JOIN iCC_H.dbo.Agent AG WITH(NOLOCK) ON ISU.AgentId=AG.AgentId  -- Když není autor vyplněn
	WHERE ISU.NewTime >= @From AND ISU.NewTime <= @To
	GROUP BY FS_Custom_H.dbo.RoundTime(ISU.NewTime, @RoundInterval),ISNULL(AGAUT.DisplayName,AG.DisplayName),ISNULL(AGAUT.GroupName,AG.GroupName),PR.Displayname
																	
		/*	*/												
) AS A	
WHERE (GroupingDate>=@From AND GroupingDate<=@To)												
group by GroupingDate , AgentName, Pobocka, ProjectName	

-----------------------------------------------------------------------------------------------
)
/*






*/
GO
/****** Object:  View [dbo].[HPTBI_Branches]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HPTBI_Branches]
AS
SELECT        Rok, Mesic, Datum, AgentName, Pobocka, ProjectName, PocetPrijatych, PocetOdchozich, OdchoziZpravy, PripadyNove
FROM            dbo.ViewBranches(GETDATE() - 10, GETDATE(), 1440) AS ViewBranches_1

GO
/****** Object:  UserDefinedFunction [dbo].[ViewProjekty]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zbyněk Homolka>
-- Create date: <3.5.2018>
-- Description:	Přehled činnosti nad projekty pro BI
-- =============================================
CREATE FUNCTION [dbo].[ViewProjekty]
(	
@From datetime
,@To datetime
)
RETURNS TABLE 
AS
RETURN 
(


select 
 YEAR(Cas.S) AS Rok,
 MONTH(Cas.S) AS Mesic,
 Cas.S AS Datum,
 PR.DisplayName AS ProjectName
,(select count(*) from iCC_H.dbo.InboundCall i with(nolock) where TimeUtc >=Cas.S and PR.Projectid=i.Projectid and ( TimeUtc <= Cas.E) and CallPhase not in ('Enqueue','IVRScriptA','Pilot')) PocetPrichodu -- Vzhledem k tomu, že se nepracuje přes půlnoc, můžeme zanedbat převod z TimeUTC do RegionalTime
,(select count(*) from iCC_H.dbo.InboundCall i with(nolock) where AnswerTime >=Cas.S and PR.Projectid=i.Projectid and ( AnswerTime <= Cas.E)) PocetPrijatych
,(select count(*) from iCC_H.dbo.InboundCall i with(nolock) where AnswerTime >=Cas.S and PR.Projectid=i.Projectid and AnswerTime <= Cas.E
   and DATEDIFF(ss,EnqueueingTime, AnswerTime)<=20) Pocetdo20s

--,(select count(*) from iCC_H.dbo.OutboundCall i with(nolock) where AnswerTime >=Cas.S and PR.Projectid=i.Projectid and ( AnswerTime <= Cas.E)) PocetOdchodu
,(select count(*) from iCC_H.dbo.Message m with(nolock) where ReceivedSentTime>=Cas.S and ReceivedSentTime < Cas.E and MessageType='Email' and m.Projectid=PR.Projectid
 AND m.GatewayId<>'A78D7F31-AF94-46A3-A059-300C17EF72C3' AND M.Direction = 'I' ) PrichoziZpravy 
,(select count(*) from iCC_H.dbo.Message m with(nolock) where ReceivedSentTime>=Cas.S and ReceivedSentTime < Cas.E and MessageType='Email' and m.Projectid=PR.Projectid
 AND m.GatewayId<>'A78D7F31-AF94-46A3-A059-300C17EF72C3' AND M.Direction = 'O' AND m.AgentId IS NOT NULL  ) OdchoziZpravy 
 
/* ,(select count(*) from iCC_H.dbo.Message m with(nolock) where AcceptedTime>Cas.E and ReceivedSentTime < Cas.E and MessageType='Email' and m.Projectid=PR.Projectid
 AND m.GatewayId<>'A78D7F31-AF94-46A3-A059-300C17EF72C3' AND M.Direction = 'I'  ) ZpravyveFronte */
 ,(select top 1 MessageQueue from [FS_Custom_H].[dbo].[Rep_SnapshotPripady] s with (nolock) where s.Datum=CONVERT(Date,Cas.S) and s.ProjectId=PR.ProjectId) as ZpravyveFronte

,(select count(*) from iCC_H.dbo.Chat Ch with(nolock) where endtime>=Cas.S and endtime<Cas.E and ch.Projectid=PR.Projectid and ChatResult='Served' and LEN(BodyText)>200) PocetChatu

/*,(select count(*) from iCC_H.dbo.issue ISU with(nolock)
 where ISU.OpenTime>Cas.E and ISU.Newtime<Cas.E and ISU.Projectid=PR.Projectid) PripadyVeFronte*/
,(select top 1 IssueQueue from [FS_Custom_H].[dbo].[Rep_SnapshotPripady] s with (nolock) where s.Datum=CONVERT(Date,Cas.S) and s.ProjectId=PR.ProjectId) as PripadyVeFronte

 ,IIF(Cas.S<CONVERT(datetime, '2017.11.20'),
  (select count(*) from iCC_H.dbo.issue ISU with(nolock) where ISU.OpenTime<Cas.E and ISU.Closetime>Cas.E and ISU.Projectid=PR.Projectid),
  (select top 1 IssueOpen from [FS_Custom_H].[dbo].[Rep_SnapshotPripady] s with (nolock) where s.Datum=CONVERT(Date,Cas.S) and s.ProjectId=PR.ProjectId)) as PripadyOtevrene


 ,IIF(Cas.S<CONVERT(datetime, '2017.11.20'),(select count(*) from iCC_H.dbo.issue ISU with(nolock)
 where ISU.closetime>=Cas.S and ISU.closetime<Cas.E and ISU.Projectid=PR.Projectid
 AND ISU.PhaseId IN ('130D2DAC-494C-4D0D-A187-29EED5CD6926','71D76E1A-0BB1-4AD6-9155-2C75E92C5730','73AED0FE-BA97-451F-A97B-B56A9F632E72')),
 (select count(issueid) from iCC_H.dbo.Issue i with (nolock) where i.ProjectId=PR.ProjectId and CloseTime between Cas.S and dateadd(dd,1,Cas.S))) AS PripadyUzavrene

,(select count(*) from iCC_H.dbo.issue ISU with(nolock)
INNER join iCC_H.dbo.IssueExtra IE with(nolock) on ie.Issueid=ISU.IssueId
 where ISU.closetime>=Cas.S and ISU.closetime<Cas.E and ISU.Projectid=PR.Projectid
 AND (ISU.AgentId<>IE.AutorId)
 AND ISU.PhaseId IN ('130D2DAC-494C-4D0D-A187-29EED5CD6926','71D76E1A-0BB1-4AD6-9155-2C75E92C5730','73AED0FE-BA97-451F-A97B-B56A9F632E72') /* Stavy Vyřešeno */) PripadyUzavrenyJinym
 
  ,(select count(*) from iCC_H.dbo.issue ISU with(nolock)
 where ISU.Newtime>=Cas.S and ISU.NewTime<Cas.E  and ISU.Projectid=PR.Projectid) PripadyNove

 from iCC_H.dbo.Rep_DateTime(@from,@to,'D') Cas cross join iCC_H.dbo.Project PR with (nolock)
 where Deleted=0 


)
GO
/****** Object:  View [dbo].[HPTBI_Projects]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HPTBI_Projects]
AS
SELECT        Rok, Mesic, Datum, ProjectName, PocetPrichodu, PocetPrijatych, dbo.unq_Ratio(PocetPrijatych, PocetPrichodu) AS SL, dbo.unq_Ratio(Pocetdo20s, PocetPrichodu) AS SLdo20s, Pocetdo20s, PrichoziZpravy, 
                         OdchoziZpravy, ZpravyveFronte, PripadyVeFronte, PripadyOtevrene, PripadyUzavrene, PripadyUzavrenyJinym, PripadyNove, PocetChatu
FROM            dbo.ViewProjekty(GETDATE() - 10, GETDATE()) AS SLandAvailabilityProject_1

GO
/****** Object:  UserDefinedFunction [dbo].[ViewAgenti]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zbyněk Homolka>
-- Create date: <3.5.2018>
-- Description:	Přehled činnosti agentů pro BI
-- 11.8. Pintar David požadoval: nepočítejme pro wallboard e-maily, které byly odeslány z adresy zakaznicky.servis@hptronic.cz
-- 16.8. Pintar David požadoval: příchozí e-maily tam určitě nepočítejme
-- 14.10.2016 : jsou odpovědi na přijatý e-mail
-- 19.1.2017 Přidán do výpočtů výraz and (DATEDIFF(hh , Cas.E , GETDATE())<=1 OR AnswerTime <= Cas.E)
-- který zajišťuje možnost zadat do @LasHour konečný čas při volání funkce z reportu
-- 17.10.2017 Přidány Chaty
-- =============================================
CREATE FUNCTION [dbo].[ViewAgenti]
(	
@From datetime
,@To datetime
)
RETURNS TABLE 
AS
RETURN 
(


SELECT *
, PocetOdchodu+PocetPrichodu+PocetZprav+PocetChatu+PocetPripadu
 as Celkem from (
select 
 YEAR(Cas.S) AS Rok,
 MONTH(Cas.S) AS Mesic,
 Cas.S AS Datum,
 A.GroupName AS Skupina,
A.displayName AS Jmeno

,(select count(*) from iCC_H.dbo.InboundCall i with(nolock) where AnswerTime >=Cas.S and a.agentid=i.AgentId and ( AnswerTime <= Cas.E)) PocetPrichodu
,(select count(*) from iCC_H.dbo.OutboundCall i with(nolock) where AnswerTime >=Cas.S and a.agentid=i.AgentId and ( AnswerTime <= Cas.E)) PocetOdchodu
,(select count(*) from iCC_H.dbo.Message m with(nolock) where endtime>=Cas.S and MessageType='Email' and m.AgentId=a.AgentId AND m.GatewayId<>'A78D7F31-AF94-46A3-A059-300C17EF72C3'
   AND M.Direction = 'O' AND M.RelatedMessageId IS NOT NULL and (endtime <= Cas.E)) PocetZprav -- Odpovědí
,(select count(*) from iCC_H.dbo.Chat Ch with(nolock) where endtime>=Cas.S and endtime<Cas.E and ch.AgentId=a.AgentId and ChatResult='Served' and LEN(BodyText)>200) PocetChatu
,(select count(*) from iCC_H.dbo.issue ISU with(nolock)
left join iCC_H.dbo.IssueExtra IE with(nolock) on ie.Issueid=ISU.IssueId
 where ISU.closetime>=Cas.S and ISU.closetime<Cas.E and ISU.AgentId=a.AgentId 
 AND (ISU.AgentId<>IE.AutorId)
 AND ISU.PhaseId IN ('130D2DAC-494C-4D0D-A187-29EED5CD6926','71D76E1A-0BB1-4AD6-9155-2C75E92C5730','73AED0FE-BA97-451F-A97B-B56A9F632E72') /* Stavy Vyřešeno */) PocetPripadu
 from iCC_H.dbo.Rep_DateTime(@from,@to,'D') Cas cross join iCC_H.dbo.Agent a with (nolock)
 where Deleted=0 and a.Template=0 and a.GroupName IS NOT NULL

 ) as Dotaz
)
GO
/****** Object:  View [dbo].[HPTBI_Agents]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HPTBI_Agents]
AS
SELECT        Rok, Mesic, Datum, Skupina, Jmeno, PocetPrichodu, PocetOdchodu, PocetZprav, PocetChatu, PocetPripadu, Celkem
FROM            dbo.ViewAgenti(GETDATE() - 10, GETDATE()) AS rep_WB_Agenti_1

GO
/****** Object:  UserDefinedFunction [dbo].[ViewPlants]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zbyněk Homolka>
-- Create date: <4.5.2018>
-- Description:	Přehled činnosti nad pobockami pro BI
-- =============================================
CREATE FUNCTION [dbo].[ViewPlants]
(	
@From datetime
,@To datetime
)
RETURNS TABLE 
AS
RETURN 
(


select 
 YEAR(Cas.S) AS Rok,
 MONTH(Cas.S) AS Mesic,
 Cas.S AS Datum,
  LEFT(PR.ProjectTypeName,IIF(CHARINDEX(' ',PR.ProjectTypeName)>0,CHARINDEX(' ',PR.ProjectTypeName),20)) AS Pobocka,
 PR.DisplayName AS ProjectName
,(select count(*) from iCC_H.dbo.InboundCall i with(nolock) where TimeUtc >=Cas.S and PR.Projectid=i.Projectid and TimeUtc <= Cas.E and CallPhase not in ('Enqueue','IVRScriptA','Pilot')) PocetPrichodu -- Vzhledem k tomu, že se nepracuje přes půlnoc, můžeme zanedbat převod z TimeUTC do RegionalTime
,(select count(inboundcallid) from iCC_H.dbo.InboundCall i with (nolock) where i.ProjectId=PR.ProjectId and i.AnswerTime is not null  and i.Pilottime between Cas.S and Cas.E) AS PocetPrijatych
/*,(select count(*) from iCC_H.dbo.InboundCall i with(nolock) where TimeUtc >=Cas.S and PR.Projectid=i.Projectid and TimeUtc <= Cas.E
   and DATEDIFF(ss,EnqueueingTime, AnswerTime)<=20) Pocetdo20s */
,(select count(inboundcallid) from iCC_H.dbo.InboundCall i with (nolock) where i.ProjectId=PR.ProjectId and i.AnswerTime is not null and i.Pilottime between Cas.S and Cas.E
   and DATEDIFF(ss,EnqueueingTime, AnswerTime)<=20) Pocetdo20s

/*,(select count(*) from iCC_H.dbo.Message m with(nolock) where ReceivedSentTime>=Cas.S and ReceivedSentTime < Cas.E and MessageType='Email' and m.Projectid=PR.Projectid
 AND m.GatewayId<>'A78D7F31-AF94-46A3-A059-300C17EF72C3' AND M.Direction = 'I' ) PrichoziZpravy */
  
,(select count(*) from iCC_H.dbo.Message m with(nolock) where ReceivedSentTime>=Cas.S and ReceivedSentTime < Cas.E and MessageType='Email' and m.Projectid=PR.Projectid
 AND m.GatewayId<>'A78D7F31-AF94-46A3-A059-300C17EF72C3' AND M.Direction = 'O' and m.AgentId is not null ) OdchoziZpravy 
 
-- ,(select count(*) from iCC_H.dbo.Message m with(nolock) where AcceptedTime>Cas.E and ReceivedSentTime < Cas.E and MessageType='Email' and m.Projectid=PR.Projectid
-- AND m.GatewayId<>'A78D7F31-AF94-46A3-A059-300C17EF72C3' AND M.Direction = 'I'  ) ZpravyveFronte
--,(select top 1 MessageQueue from [FS_Custom_H].[dbo].[Rep_SnapshotPripady] s with (nolock) where s.Datum=@today and s.ProjectId=p.ProjectId) as FrontaZpravy

--,(select count(*) from iCC_H.dbo.Chat Ch with(nolock) where endtime>=Cas.S and endtime<Cas.E and ch.Projectid=PR.Projectid and ChatResult='Served' and LEN(BodyText)>200) PocetChatu
,(select count(chatid) from iCC_H.dbo.Chat c with (nolock) where ChatType='WebIM' and c.ProjectId=PR.ProjectId and DistributionTime  >=Cas.S and DistributionTime<Cas.E ) as PocetChatu

-- ,(select count(*) from iCC_H.dbo.issue ISU with(nolock) where ISU.OpenTime>Cas.E and ISU.Newtime<Cas.E and ISU.Projectid=PR.Projectid) PripadyVeFronte
-- ,(select top 1 IssueQueue from [FS_Custom_H].[dbo].[Rep_SnapshotPripady] s with (nolock) where s.Datum=@today and s.ProjectId=p.ProjectId) as FrontaPripadu

 -- ,(select count(*) from iCC_H.dbo.issue ISU with(nolock)
 -- where ISU.OpenTime<Cas.E and ISU.Closetime>Cas.E and ISU.Projectid=PR.Projectid) PripadyOtevrene
 --,(select top 1 IssueOpen from [FS_Custom_H].[dbo].[Rep_SnapshotPripady] s with (nolock) where s.Datum=@today and s.ProjectId=p.ProjectId) as OtevrenePripady

 ,(select count(*) from iCC_H.dbo.issue ISU with(nolock)
 where ISU.closetime>=Cas.S and ISU.closetime<Cas.E and ISU.Projectid=PR.Projectid
 AND ISU.PhaseId IN ('130D2DAC-494C-4D0D-A187-29EED5CD6926','71D76E1A-0BB1-4AD6-9155-2C75E92C5730','73AED0FE-BA97-451F-A97B-B56A9F632E72') /* Stavy Vyřešeno */) PripadyUzavrene

,(select count(*) from iCC_H.dbo.issue ISU with(nolock)
INNER join iCC_H.dbo.IssueExtra IE with(nolock) on ie.Issueid=ISU.IssueId
 where ISU.closetime>=Cas.S and ISU.closetime<Cas.E and ISU.Projectid=PR.Projectid
 AND (ISU.AgentId<>IE.AutorId)) PripadyUzavrenyJinym
 
  ,(select count(*) from iCC_H.dbo.issue ISU with(nolock) where ISU.Newtime>=Cas.S and ISU.NewTime<Cas.E  and ISU.Projectid=PR.Projectid) PripadyNove
 

 from iCC_H.dbo.Rep_DateTime(@from,@to,'D') Cas cross join iCC_H.dbo.Project PR with (nolock)
 where Deleted=0 AND (left(PR.ProjectTypeName,4)='Brno' or left(PR.ProjectTypeName,4)='Zlin' or PR.ProjectTypeName='Praha' or PR.ProjectTypeName='Bratislava')


)
/*






*/
GO
/****** Object:  View [dbo].[HPTBI_Plants]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HPTBI_Plants]
AS
SELECT        Rok, Mesic, Datum, Pobocka, ProjectName, PocetPrichodu, PocetPrijatych, dbo.unq_Ratio(PocetPrijatych, PocetPrichodu) AS SL, dbo.unq_Ratio(Pocetdo20s, PocetPrichodu) AS SLdo20s, Pocetdo20s, 
                         OdchoziZpravy, PripadyUzavrene, PripadyUzavrenyJinym, PripadyNove, PocetChatu
FROM            dbo.ViewPlants(GETDATE() - 10, GETDATE()) AS ViewPlants_1

GO
/****** Object:  UserDefinedFunction [dbo].[ViewIssueCommun]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zbyněk Homolka>
-- Create date: <6.12.2018>
-- Description:	Přehled Komunikací na případech pro BI
-- =============================================
CREATE FUNCTION [dbo].[ViewIssueCommun]
(	
@From datetime
,@To datetime
)
RETURNS TABLE 
AS
RETURN 
(
SELECT
 IssueId,
 YEAR(Datum) AS Rok,
 MONTH(Datum) AS Mesic,
  Datum,
 SUBSTRING(Komunikace,1,30) AS Komunikace
 ,A.DisplayName AS AgentName
 FROM
(select
	ReceivedSentTime as Datum,
	IssueId ,
	'MAIL '+IIF(Direction='I','IN','OUT')+': '+SubjectField as Komunikace
	,AgentId
from iCC_H.dbo.Message WITH (NOLOCK)
where MessagePhase<>'Canceled' AND ReceivedSentTime IS NOT NULL AND ReceivedSentTime >= @From AND ReceivedSentTime <= @To AND IssueId IS NOT NULL
UNION ALL
select
	PilotTime as Datum,
	IssueId ,
	'INCALL: '+CallerNumber as Komunikace
	,AgentId
from iCC_H.dbo.InboundCall WITH (NOLOCK) where PilotTime >= @From AND PilotTime <= @To AND IssueId IS NOT NULL
UNION ALL
select
	DistributionTime as Datum,
	IssueId ,
	'OUTCALL: '+CallerNumber as Komunikace
	,AgentId
from iCC_H.dbo.OutboundCall WITH (NOLOCK)
where OutboundCall.CallResult<>'Canceled' AND DistributionTime >= @From AND DistributionTime <= @To AND IssueId IS NOT NULL

UNION ALL
select
	DistributionTime as Datum,
	IssueId ,
	'CHAT: '+RemotePartyName as Komunikace
   ,AgentId
from iCC_H.dbo.Chat WITH (NOLOCK) where DistributionTime >= @From AND DistributionTime <= @To AND IssueId IS NOT NULL)AS Phase1
left join iCC_H.dbo.Agent A with (nolock) on A.AgentId=Phase1.AgentId

)







GO
/****** Object:  UserDefinedFunction [dbo].[ViewIssueTrans]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zbyněk Homolka>
-- Create date: <6.12.2018>
-- Description:	Přehled Transakcí na případech pro BI
-- =============================================
CREATE FUNCTION [dbo].[ViewIssueTrans]
(	
@From datetime
,@To datetime
)
RETURNS TABLE 
AS
RETURN 
(
 select
 IE.IssueId,
 YEAR(TimeLocal) AS Rok,
 MONTH(TimeLocal) AS Mesic,
 TimeLocal AS Datum,
 SUBSTRING(IE.EventType,1,20) AS Udalost
 ,A.DisplayName AS AgentName
from iCC_H.dbo.IssueEvent IE WITH(NOLOCK)
left join iCC_H.dbo.Agent A with (nolock) on A.AgentId=IE.AgentId
where  TimeLocal>=@from AND TimeLocal<@To
-----------------------------------------------------------------------------------------------
)
/*






*/
GO
/****** Object:  UserDefinedFunction [dbo].[ViewPripady]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zbyněk Homolka>
-- Create date: <12.6.2018>
-- Description:	Přehled případů pro BI
-- =============================================
CREATE FUNCTION [dbo].[ViewPripady]
(	
@From datetime
,@To datetime
)
RETURNS TABLE 
AS
RETURN 
(



SELECT        Rok, Mesic, Datum, Zdroj, CasZalozeni, CasUzavreni, CasZpracovani, Stav, Faze, Projekt, Tema, Podtema, KdoZalozil, AktualniAgent, Tym, Doklad, TelCislo, Email, Odkaz
FROM            dbo.PripadyForView(DATEADD(Month, - 25, GETDATE()), GETDATE()) AS PripadyForView_1

)
GO
/****** Object:  View [dbo].[HPTBI_Issues]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HPTBI_Issues]
AS
SELECT        Rok, Mesic, Datum, Zdroj, CasZalozeni, CasUzavreni, CasZpracovani, Stav, Faze, Projekt, Tema, Podtema, KdoZalozil, AktualniAgent, Tym, Doklad, TelCislo, Email, Odkaz, IssueId, Priority, Pozadavek_Zak, 
                         Interni_Poznamka, Predat_Na, Pracnost
FROM            dbo.PripadyForView(DATEADD(Month, - 1, CONVERT(Date, GETDATE())), CONVERT(Date, GETDATE())) AS PripadyForView_1

GO
/****** Object:  View [dbo].[HPTBI_Issues3]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HPTBI_Issues3]
AS
SELECT        Rok, Mesic, Datum, Zdroj, CasZalozeni, CasUzavreni, CasZpracovani, Stav, Faze, Projekt, Tema, Podtema, KdoZalozil, AktualniAgent, Tym, Doklad, TelCislo, Email, Odkaz
FROM            dbo.HPTBI_Issues2

GO
/****** Object:  StoredProcedure [dbo].[HPTBI_Statis]    Script Date: 9. 1. 2020 10:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Zbyněk Homolka>
-- Create date: <10.05.2018>
-- Description:	<Plní tabulky pro BI a maže v nich stará data>
-- [FS_Custom_H].[dbo].HPTBI_Agents2, [FS_Custom_H].[dbo].HPTBI_Plants2, [FS_Custom_H].[dbo].HPTBI_Projects2,[FS_Custom_H].[dbo].HPTBI_Issues2,[FS_Custom_H].[dbo].HPTBI_Branches2
-- =============================================
CREATE PROCEDURE [dbo].[HPTBI_Statis]

AS
BEGIN
 DECLARE @from AS date
  DECLARE @to AS date
  DECLARE @today AS Date=GETDATE()
  DECLARE @OldestDay AS Date=DATEADD(Month,-38,@today)
  DECLARE @DaysCount int = 1 --100 -- Počet dnů, za něž se má statistika generovat 

SET @from=GETDATE()-1
SET @to=GETDATE()

 DECLARE @Loguj AS Bit=1
 DECLARE @ProcName AS Varchar(20) = SUBSTRING(object_name(@@PROCID),1,20)
 DECLARE @Zprava AS NVarchar(500) 

	EXEC  [FS_Custom_H].[dbo].[WriteEvent] @Loguj, @ProcName, 'Vstupní bod'

SET @from = ISNULL((SELECT MAX(Datum) FROM [FS_Custom_H].[dbo].HPTBI_Agents2),convert(datetime, '2016.12.31'))+1 -- Kam až jsou data v tabulce?
SET @to = DATEADD(Day,@DaysCount,@from)
SET @to = IIF(@to>@today,@today,@to)
IF @from<@to
  BEGIN
	INSERT INTO [FS_Custom_H].[dbo].HPTBI_Agents2
	 SELECT 
		   NewId() AS AgentsId,
		   Rok, Mesic, Datum, Skupina, Jmeno, PocetPrichodu, PocetOdchodu, PocetZprav, PocetChatu, PocetPripadu, Celkem
			FROM FS_Custom_H.dbo.ViewAgenti(@from, @To) 
	 DELETE FROM [FS_Custom_H].[dbo].HPTBI_Agents2 WHERE Datum<@OldestDay
	 SET  @Zprava= 'Zápis od '+CONVERT(VARCHAR(10),@from)+' do '+CONVERT(VARCHAR(10),@To)+' do HPTBI_Agents2 byl proveden'
	 EXEC  [FS_Custom_H].[dbo].[WriteEvent] @Loguj, @ProcName, @Zprava
  END
-----------------------------------------------------------------------------
SET @from = ISNULL((SELECT MAX(Datum) FROM [FS_Custom_H].[dbo].HPTBI_Plants2),convert(datetime, '2016.12.31'))+1
SET @to = DATEADD(Day,@DaysCount,@from)
SET @to = IIF(@to>@today,@today,@to)
IF @from<@to
  BEGIN
	INSERT INTO [FS_Custom_H].[dbo].HPTBI_Plants2
	 SELECT 
		   NewId() AS AgentsId,
		   Rok, Mesic, Datum, Pobocka, ProjectName, PocetPrichodu, PocetPrijatych, FS_Custom_H.dbo.unq_Ratio(PocetPrijatych, PocetPrichodu) AS SL, FS_Custom_H.dbo.unq_Ratio(Pocetdo20s, PocetPrichodu) AS SLdo20s, Pocetdo20s, 
							 OdchoziZpravy, PripadyUzavrene, PripadyUzavrenyJinym, PripadyNove, PocetChatu
			FROM dbo.ViewPlants(@from, @To)
	DELETE FROM [FS_Custom_H].[dbo].HPTBI_Plants2 WHERE Datum<@OldestDay
	SET  @Zprava= 'Zápis od '+CONVERT(VARCHAR(10),@from)+' do '+CONVERT(VARCHAR(10),@To)+' do HPTBI_Plants2 byl proveden'
	EXEC  [FS_Custom_H].[dbo].[WriteEvent] @Loguj, @ProcName, @Zprava
  END
-----------------------------------------------------------------------------
SET @from = ISNULL((SELECT MAX(Datum) FROM [FS_Custom_H].[dbo].HPTBI_Projects2),convert(datetime, '2016.12.31'))+1
SET @to = DATEADD(Day,@DaysCount,@from)
SET @to = IIF(@to>@today,@today,@to)
IF @from<@to
  BEGIN
	INSERT INTO [FS_Custom_H].[dbo].HPTBI_Projects2
	 SELECT 
		   NewId() AS AgentsId,
		   Rok, Mesic, Datum, ProjectName, PocetPrichodu, PocetPrijatych, FS_Custom_H.dbo.unq_Ratio(PocetPrijatych, PocetPrichodu) AS SL, FS_Custom_H.dbo.unq_Ratio(Pocetdo20s, PocetPrichodu) AS SLdo20s, Pocetdo20s, PrichoziZpravy, 
							 OdchoziZpravy, ZpravyveFronte, PripadyVeFronte, PripadyOtevrene, PripadyUzavrene, PripadyUzavrenyJinym, PripadyNove, PocetChatu
			FROM dbo.ViewProjekty(@from, @To) 
	 DELETE FROM [FS_Custom_H].[dbo].HPTBI_Projects2 WHERE Datum<@OldestDay
	 SET  @Zprava= 'Zápis od '+CONVERT(VARCHAR(10),@from)+' do '+CONVERT(VARCHAR(10),@To)+' do HPTBI_Projects2 byl proveden'
	EXEC  [FS_Custom_H].[dbo].[WriteEvent] @Loguj, @ProcName, @Zprava
  END
 -----------------------------------------------------------------------------
 -- Provedu aktualizaci případů:
  UPDATE FISU
SET   [CasUzavreni]=SUBSTRING(CONVERT(CHAR(20),CloseTime,20),3,14)
      ,[CasZpracovani]=SUBSTRING(CONVERT(CHAR(20),DATEADD(ss,DATEDIFF(ss,NewTime,CloseTime),0),20),12,5)
      ,[Stav]=case when IISU.Activity='Closed' then 'Uzavřený' else 'Otevřený' end
      ,[Faze]=H.DisplayName

FROM [FS_Custom_H].[dbo].HPTBI_Issues2 FISU
  inner join iCC_H.dbo.Issue IISU with (nolock) on FISU.IssueId=IISU.IssueId
  left join iCC_H.dbo.Phase H with (nolock) on IISU.PhaseId= H.PhaseId

 --------------------------------
 -- Vložím nové případy:
SET @from = DATEADD(Day,1,ISNULL((SELECT MAX(Datum) FROM [FS_Custom_H].[dbo].HPTBI_Issues2),convert(date, '2016.12.31')))
SET @to = DATEADD(Day,@DaysCount,@from)
SET @to = IIF(@to>@today,@today,@to)
IF @from<@to
  BEGIN
	INSERT INTO [FS_Custom_H].[dbo].HPTBI_Issues2
	 SELECT 
	  NewId() AS IssuesId
	  ,[IssueId]
      ,[Rok]
      ,[Mesic]
      ,[Datum]
      ,[Zdroj]
      ,[CasZalozeni]
      ,[CasUzavreni]
      ,[CasZpracovani]
      ,[Stav]
      ,[Faze]
      ,[Projekt]
      ,[Tema]
      ,[Podtema]
      ,[KdoZalozil]
      ,[AktualniAgent]
      ,[Tym]
      ,[Doklad]
      ,[TelCislo]
      ,[Email]
      ,[Odkaz]
      ,[Priority]
      ,[Predat_Na]
      ,[Pracnost]
      ,[Interni_Poznamka]
      ,[Pozadavek_Zak]
	  ,Zdroj_stiznosti
      ,Opravnenost_stiznosti
      ,Reseni_stiznosti
      ,Naklad_stiznosti
      ,Puvod_stiznosti

	     FROM  dbo.PripadyForView(@from, @To)
	--		FROM dbo.ViewPripady(@from, @To) 
	 --DELETE FROM [FS_Custom_H].[dbo].HPTBI_Issues2 WHERE Datum<@OldestDay
	 SET  @Zprava= 'Zápis od '+CONVERT(VARCHAR(10),@from)+' do '+CONVERT(VARCHAR(10),@To)+' do HPTBI_Issues2 byl proveden'
	EXEC  [FS_Custom_H].[dbo].[WriteEvent] @Loguj, @ProcName, @Zprava
  END
-----------------------------------------------------------------------------
SET @from = ISNULL((SELECT MAX(Datum) FROM [FS_Custom_H].[dbo].HPTBI_Branches2),convert(datetime, '2016.12.31'))+1
SET @to = DATEADD(Day,@DaysCount,@from)
SET @to = IIF(@to>@today,@today,@to)
IF @from<@to
  BEGIN
	INSERT INTO [FS_Custom_H].[dbo].HPTBI_Branches2
	 SELECT 
		 NewId() AS BranchesId,
         Rok, Mesic, Datum, AgentName, Pobocka, ProjectName, PocetPrijatych, PocetOdchozich, OdchoziZpravy, PripadyNove
        FROM FS_Custom_H.dbo.ViewBranches(@from, @To,1440) 	
     --DELETE FROM [FS_Custom_H].[dbo].HPTBI_Branches2 WHERE Datum<@OldestDay Zatím chtějí data až od 1.1.2016
	 SET  @Zprava= 'Zápis od '+CONVERT(VARCHAR(10),@from)+' do '+CONVERT(VARCHAR(10),@To)+' do HPTBI_Branches2 byl proveden'
	EXEC  [FS_Custom_H].[dbo].[WriteEvent] @Loguj, @ProcName, @Zprava
  END
  -----------------------------------------------------------------------------
SET @from = DATEADD(Day,1,ISNULL((SELECT MAX(Datum) FROM [FS_Custom_H].[dbo].HPTBI_IssueTransactions),convert(datetime, '2016.12.31')))
SET @to = DATEADD(Day,@DaysCount,@from)
SET @to = IIF(@to>@today,@today,@to)
IF @from<@to
  BEGIN
	INSERT INTO [FS_Custom_H].[dbo].HPTBI_IssueTransactions
	 SELECT 
		 NewId() AS IssueTransId
      ,[IssueId]
      ,[Rok]
      ,[Mesic]
      ,[Datum]
	  ,[AgentName]
      ,[Udalost]
        FROM FS_Custom_H.dbo.ViewIssueTrans(@from, @To) 	
     --DELETE FROM [FS_Custom_H].[dbo].HPTBI_IssueTransactions WHERE Datum<@OldestDay Zatím chtějí data až od 1.1.2016
	 SET  @Zprava= 'Zápis od '+CONVERT(VARCHAR(10),@from)+' do '+CONVERT(VARCHAR(10),@To)+' do HPTBI_IssueTransactions byl proveden'
	EXEC  [FS_Custom_H].[dbo].[WriteEvent] @Loguj, @ProcName, @Zprava
  END
    -----------------------------------------------------------------------------
SET @from = DATEADD(Day,1,ISNULL((SELECT MAX(Datum) FROM [FS_Custom_H].[dbo].HPTBI_IssueCommuns),convert(datetime, '2016.12.31')))
SET @to = DATEADD(Day,@DaysCount,@from)
SET @to = IIF(@to>@today,@today,@to)
IF @from<@to
  BEGIN
	INSERT INTO [FS_Custom_H].[dbo].HPTBI_IssueCommuns
	 SELECT 
		 NewId() AS IssueCommunsId
      ,[IssueId]
      ,[Rok]
      ,[Mesic]
      ,[Datum]
      ,[AgentName]
      ,[Komunikace]
        FROM FS_Custom_H.dbo.ViewIssueCommun(@from, @To) 	
     --DELETE FROM [FS_Custom_H].[dbo].HPTBI_IssueCommuns WHERE Datum<@OldestDay Zatím chtějí data až od 1.1.2016
	 SET  @Zprava= 'Zápis od '+CONVERT(VARCHAR(10),@from)+' do '+CONVERT(VARCHAR(10),@To)+' do HPTBI_IssueCommuns byl proveden'
	EXEC  [FS_Custom_H].[dbo].[WriteEvent] @Loguj, @ProcName, @Zprava
  END


  EXEC  [FS_Custom_H].[dbo].[WriteEvent] @Loguj, @ProcName, 'Konec procedury'
 END



GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "rep_WB_Agenti_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Agents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Agents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ViewBranches_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 214
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Branches'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Branches'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PripadyForView_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 21
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Issues'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Issues'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "HPTBI_Issues2"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Issues3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Issues3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ViewPlants_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Plants'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Plants'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SLandAvailabilityProject_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Projects'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'HPTBI_Projects'
GO

USE [msdb]
GO

/****** Object:  Job [HPTBI-Statistika]    Script Date: 9. 1. 2020 11:19:30 ******/
BEGIN TRANSACTION
DECLARE @ReturnCode INT
SELECT @ReturnCode = 0
/****** Object:  JobCategory [Data Collector]    Script Date: 9. 1. 2020 11:19:30 ******/
IF NOT EXISTS (SELECT name FROM msdb.dbo.syscategories WHERE name=N'Data Collector' AND category_class=1)
BEGIN
EXEC @ReturnCode = msdb.dbo.sp_add_category @class=N'JOB', @type=N'LOCAL', @name=N'Data Collector'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback

END

DECLARE @jobId BINARY(16)
EXEC @ReturnCode =  msdb.dbo.sp_add_job @job_name=N'HPTBI-Statistika', 
		@enabled=1, 
		@notify_level_eventlog=0, 
		@notify_level_email=0, 
		@notify_level_netsend=0, 
		@notify_level_page=0, 
		@delete_level=0, 
		@description=N'Plnění tabulek pro Power BI', 
		@category_name=N'Data Collector', 
		@owner_login_name=N'HP_TRONIC\svc_Atlantis_admin', @job_id = @jobId OUTPUT
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
/****** Object:  Step [Start]    Script Date: 9. 1. 2020 11:19:31 ******/
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Start', 
		@step_id=1, 
		@cmdexec_success_code=0, 
		@on_success_action=1, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXEC fs_custom.dbo.HPTBI_Statis', 
		@database_name=N'FS_Custom', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_update_job @job_id = @jobId, @start_step_id = 1
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobschedule @job_id=@jobId, @name=N'Noční start', 
		@enabled=1, 
		@freq_type=4, 
		@freq_interval=1, 
		@freq_subday_type=1, 
		@freq_subday_interval=0, 
		@freq_relative_interval=0, 
		@freq_recurrence_factor=0, 
		@active_start_date=20180516, 
		@active_end_date=99991231, 
		@active_start_time=100, 
		@active_end_time=235959, 
		@schedule_uid=N'e1060cef-fa0c-426d-8538-adc06f16b075'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobserver @job_id = @jobId, @server_name = N'(local)'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
COMMIT TRANSACTION
GOTO EndSave
QuitWithRollback:
    IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
EndSave:

GO

