USE [iCC]
GO

/****** Object:  Trigger [dbo].[PreventNullOverwrite]    Script Date: 20. 8. 2024 10:19:48 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[PreventNullOverwriteIssue]
ON [dbo].[Issue]
AFTER UPDATE
AS
BEGIN
      UPDATE t
	    SET TopicId = ISNULL(t.TopicId,d.TopicId)
		  ,SubTopicId = ISNULL(t.SubTopicId,d.SubTopicId)
        FROM dbo.Issue AS t
        INNER JOIN deleted AS d
        ON t.IssueId = d.IssueId;

END;

GO

ALTER TABLE [dbo].[Issue] ENABLE TRIGGER [PreventNullOverwriteIssue]
GO
