USE [iCC]
GO
/****** Object:  Trigger [dbo].[PreventNullOverwrite]    Script Date: 13.06.2024 15:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[PreventNullOverwrite]
ON [dbo].ScenarioresultValue
INSTEAD OF UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(ResultText)
    BEGIN
        UPDATE t
        SET ResultText = IIF(i.ResultText='',t.ResultText,ISNULL(i.ResultText, t.ResultText))
        FROM dbo.ScenarioresultValue AS t
        INNER JOIN inserted AS i
        ON t.ScenarioResultValueId = i.ScenarioResultValueId;
    END
END;
